<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.zq.dao.ZqBCopyScientificprizeMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="cc.mrbird.febs.zq.entity.ZqBCopyScientificprize">
                    <id column="id" property="id"/>
                    <result column="dca_year" property="dcaYear"/>
                    <result column="file_id" property="fileId"/>
                    <result column="file_url" property="fileUrl"/>
                    <result column="user_account_name" property="userAccountName"/>
                    <result column="user_account" property="userAccount"/>
                    <result column="sp_project_name" property="spProjectName"/>
                    <result column="sr_project_grade" property="srProjectGrade"/>
                    <result column="sr_project_level" property="srProjectLevel"/>
                    <result column="sr_prize_dept" property="srPrizeDept"/>
                    <result column="sr_prize_date" property="srPrizeDate"/>
                    <result column="sr_prize_ranknum" property="srPrizeRanknum"/>
                    <result column="audit_name" property="auditName"/>
                    <result column="audit_grade" property="auditGrade"/>
                    <result column="audit_rank" property="auditRank"/>
                    <result column="audit_state" property="auditState"/>
                    <result column="state" property="state"/>
                    <result column="IS_DELETEMARK" property="isDeletemark"/>
                    <result column="CREATE_TIME" property="createTime"/>
                    <result column="display_index" property="displayIndex"/>
                    <result column="MODIFY_TIME" property="modifyTime"/>
                    <result column="CREATE_USER_ID" property="createUserId"/>
                    <result column="MODIFY_USER_ID" property="modifyUserId"/>
                    <result column="auditMan" property="auditMan"/>
                    <result column="auditManName" property="auditManName"/>
                    <result column="auditDate" property="auditDate"/>
                    <result column="auditSuggestion" property="auditSuggestion"/>
                    <result column="IsUse" property="IsUse"/>
                    <result column="gwdj" property="gwdj"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        id, dca_year, file_id, file_url, user_account_name, user_account, sp_project_name, sr_project_grade, sr_project_level, sr_prize_dept, sr_prize_date, sr_prize_ranknum, audit_name, audit_grade, audit_rank, audit_state, state, IS_DELETEMARK, CREATE_TIME, display_index, MODIFY_TIME, CREATE_USER_ID, MODIFY_USER_ID, auditMan, auditManName, auditDate, auditSuggestion, IsUse, gwdj
    </sql>
    <update id="updateZqBCopyScientificprize" parameterType="cc.mrbird.febs.zq.entity.ZqBCopyScientificprize">
        update zq_b_copy_scientificprize
        <trim prefix="set" suffixOverrides=",">
<if test="dcaYear != null">dca_year=#{dcaYear},</if>
<if test="fileId != null">file_id=#{fileId},</if>
<if test="fileUrl != null">file_url=#{fileUrl},</if>
<if test="userAccountName != null">user_account_name=#{userAccountName},</if>
<if test="userAccount != null">user_account=#{userAccount},</if>
<if test="spProjectName != null">sp_project_name=#{spProjectName},</if>
<if test="srProjectGrade != null">sr_project_grade=#{srProjectGrade},</if>
<if test="srProjectLevel != null">sr_project_level=#{srProjectLevel},</if>
<if test="srPrizeDept != null">sr_prize_dept=#{srPrizeDept},</if>
<if test="srPrizeDate != null">sr_prize_date=#{srPrizeDate},</if>
<if test="srPrizeRanknum != null">sr_prize_ranknum=#{srPrizeRanknum},</if>
<if test="auditName != null">audit_name=#{auditName},</if>
<if test="auditGrade != null">audit_grade=#{auditGrade},</if>
<if test="auditRank != null">audit_rank=#{auditRank},</if>
<if test="auditState != null">audit_state=#{auditState},</if>
<if test="state != null">state=#{state},</if>
<if test="isDeletemark != null">IS_DELETEMARK=#{isDeletemark},</if>
<if test="createTime != null">CREATE_TIME=#{createTime},</if>
<if test="displayIndex != null">display_index=#{displayIndex},</if>
<if test="modifyTime != null">MODIFY_TIME=#{modifyTime},</if>
<if test="createUserId != null">CREATE_USER_ID=#{createUserId},</if>
<if test="modifyUserId != null">MODIFY_USER_ID=#{modifyUserId},</if>
<if test="auditMan != null">auditMan=#{auditMan},</if>
<if test="auditManName != null">auditManName=#{auditManName},</if>
<if test="auditDate != null">auditDate=#{auditDate},</if>
<if test="auditSuggestion != null">auditSuggestion=#{auditSuggestion},</if>
<if test="IsUse != null">IsUse=#{IsUse},</if>
<if test="gwdj != null">gwdj=#{gwdj},</if>
        </trim>
                where id=#{id}

    </update>
    <select id="findZqBCopyScientificprize" resultType="cc.mrbird.febs.zq.entity.ZqBCopyScientificprize" parameterType="cc.mrbird.febs.zq.entity.ZqBCopyScientificprize">
        select  *  from zq_b_copy_scientificprize
        where  1=1
            <if test="zqBCopyScientificprize.id != null and zqBCopyScientificprize.id != ''"> and zqBCopyScientificprize.id =#{ zqBCopyScientificprize.id} </if>
            <if test="zqBCopyScientificprize.dcaYear != null and zqBCopyScientificprize.dcaYear != ''"> and zqBCopyScientificprize.dca_year like concat('%', #{ zqBCopyScientificprize.dcaYear} ,'%')</if>
            <if test="zqBCopyScientificprize.fileId != null and zqBCopyScientificprize.fileId != ''"> and zqBCopyScientificprize.file_id like concat('%', #{ zqBCopyScientificprize.fileId} ,'%')</if>
            <if test="zqBCopyScientificprize.fileUrl != null and zqBCopyScientificprize.fileUrl != ''"> and zqBCopyScientificprize.file_url like concat('%', #{ zqBCopyScientificprize.fileUrl} ,'%')</if>
            <if test="zqBCopyScientificprize.userAccountName != null and zqBCopyScientificprize.userAccountName != ''"> and zqBCopyScientificprize.user_account_name like concat('%', #{ zqBCopyScientificprize.userAccountName} ,'%')</if>
            <if test="zqBCopyScientificprize.userAccount != null and zqBCopyScientificprize.userAccount != ''"> and zqBCopyScientificprize.user_account like concat('%', #{ zqBCopyScientificprize.userAccount} ,'%')</if>
            <if test="zqBCopyScientificprize.spProjectName != null and zqBCopyScientificprize.spProjectName != ''"> and zqBCopyScientificprize.sp_project_name like concat('%', #{ zqBCopyScientificprize.spProjectName} ,'%')</if>
            <if test="zqBCopyScientificprize.srProjectGrade != null and zqBCopyScientificprize.srProjectGrade != ''"> and zqBCopyScientificprize.sr_project_grade like concat('%', #{ zqBCopyScientificprize.srProjectGrade} ,'%')</if>
            <if test="zqBCopyScientificprize.srProjectLevel != null and zqBCopyScientificprize.srProjectLevel != ''"> and zqBCopyScientificprize.sr_project_level like concat('%', #{ zqBCopyScientificprize.srProjectLevel} ,'%')</if>
            <if test="zqBCopyScientificprize.srPrizeDept != null and zqBCopyScientificprize.srPrizeDept != ''"> and zqBCopyScientificprize.sr_prize_dept like concat('%', #{ zqBCopyScientificprize.srPrizeDept} ,'%')</if>
        <if test="zqBCopyScientificprize.srPrizeDateFrom!= null">
            AND zqBCopyScientificprize.sr_prize_date <![CDATA[ >= ]]>  #{zqBCopyScientificprize.srPrizeDateFrom}
        </if>
        <if test="zqBCopyScientificprize.srPrizeDateTo!= null">
            AND zqBCopyScientificprize.sr_prize_date <![CDATA[ <= ]]>  #{zqBCopyScientificprize.srPrizeDateTo}
        </if>
        <if test="zqBCopyScientificprize.srPrizeRanknum != null"> and zqBCopyScientificprize.sr_prize_ranknum =#{ zqBCopyScientificprize.srPrizeRanknum} </if>
            <if test="zqBCopyScientificprize.auditName != null and zqBCopyScientificprize.auditName != ''"> and zqBCopyScientificprize.audit_name like concat('%', #{ zqBCopyScientificprize.auditName} ,'%')</if>
            <if test="zqBCopyScientificprize.auditGrade != null and zqBCopyScientificprize.auditGrade != ''"> and zqBCopyScientificprize.audit_grade like concat('%', #{ zqBCopyScientificprize.auditGrade} ,'%')</if>
            <if test="zqBCopyScientificprize.auditRank != null and zqBCopyScientificprize.auditRank != ''"> and zqBCopyScientificprize.audit_rank like concat('%', #{ zqBCopyScientificprize.auditRank} ,'%')</if>
        <if test="zqBCopyScientificprize.auditState != null"> and zqBCopyScientificprize.audit_state =#{ zqBCopyScientificprize.auditState} </if>
        <if test="zqBCopyScientificprize.state != null"> and zqBCopyScientificprize.state =#{ zqBCopyScientificprize.state} </if>
        <if test="zqBCopyScientificprize.isDeletemark != null"> and zqBCopyScientificprize.IS_DELETEMARK =#{ zqBCopyScientificprize.isDeletemark} </if>
        <if test="zqBCopyScientificprize.createTimeFrom!= null">
            AND zqBCopyScientificprize.CREATE_TIME <![CDATA[ >= ]]>  #{zqBCopyScientificprize.createTimeFrom}
        </if>
        <if test="zqBCopyScientificprize.createTimeTo!= null">
            AND zqBCopyScientificprize.CREATE_TIME <![CDATA[ <= ]]>  #{zqBCopyScientificprize.createTimeTo}
        </if>
        <if test="zqBCopyScientificprize.displayIndex != null"> and zqBCopyScientificprize.display_index =#{ zqBCopyScientificprize.displayIndex} </if>
        <if test="zqBCopyScientificprize.modifyTimeFrom!= null">
            AND zqBCopyScientificprize.MODIFY_TIME <![CDATA[ >= ]]>  #{zqBCopyScientificprize.modifyTimeFrom}
        </if>
        <if test="zqBCopyScientificprize.modifyTimeTo!= null">
            AND zqBCopyScientificprize.MODIFY_TIME <![CDATA[ <= ]]>  #{zqBCopyScientificprize.modifyTimeTo}
        </if>
            <if test="zqBCopyScientificprize.auditMan != null and zqBCopyScientificprize.auditMan != ''"> and zqBCopyScientificprize.auditMan like concat('%', #{ zqBCopyScientificprize.auditMan} ,'%')</if>
            <if test="zqBCopyScientificprize.auditManName != null and zqBCopyScientificprize.auditManName != ''"> and zqBCopyScientificprize.auditManName like concat('%', #{ zqBCopyScientificprize.auditManName} ,'%')</if>
        <if test="zqBCopyScientificprize.auditDateFrom!= null">
            AND zqBCopyScientificprize.auditDate <![CDATA[ >= ]]>  #{zqBCopyScientificprize.auditDateFrom}
        </if>
        <if test="zqBCopyScientificprize.auditDateTo!= null">
            AND zqBCopyScientificprize.auditDate <![CDATA[ <= ]]>  #{zqBCopyScientificprize.auditDateTo}
        </if>
            <if test="zqBCopyScientificprize.auditSuggestion != null and zqBCopyScientificprize.auditSuggestion != ''"> and zqBCopyScientificprize.auditSuggestion like concat('%', #{ zqBCopyScientificprize.auditSuggestion} ,'%')</if>
            <if test="zqBCopyScientificprize.gwdj != null and zqBCopyScientificprize.gwdj != ''"> and zqBCopyScientificprize.gwdj like concat('%', #{ zqBCopyScientificprize.gwdj} ,'%')</if>
</select>

</mapper>