<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.dca.dao.DcaBUndergraduateMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="cc.mrbird.febs.dca.entity.DcaBUndergraduate">
                    <id column="id" property="id"/>
                    <result column="file_id" property="fileId"/>
                    <result column="file_url" property="fileUrl"/>
                    <result column="user_account_name" property="userAccountName"/>
                    <result column="user_account" property="userAccount"/>
                    <result column="course_name" property="courseName"/>
                    <result column="ug_start_date" property="ugStartDate"/>
                    <result column="ug_end_date" property="ugEndDate"/>
                    <result column="course_type" property="courseType"/>
                    <result column="student_number" property="studentNumber"/>
                    <result column="total_time" property="totalTime"/>
                    <result column="person_time" property="personTime"/>
                    <result column="teach_score" property="teachScore"/>
                    <result column="state" property="state"/>
                    <result column="IS_DELETEMARK" property="isDeletemark"/>
                    <result column="CREATE_TIME" property="createTime"/>
                    <result column="MODIFY_TIME" property="modifyTime"/>
                    <result column="CREATE_USER_ID" property="createUserId"/>
                    <result column="MODIFY_USER_ID" property="modifyUserId"/>
                    <result column="auditMan" property="auditMan"/>
                    <result column="auditManName" property="auditManName"/>
                    <result column="auditDate" property="auditDate"/>
                    <result column="auditSuggestion" property="auditSuggestion"/>
                    <result column="IsUse" property="IsUse"/>
                    <result column="display_index" property="displayIndex"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        id, file_id, file_url, user_account_name, user_account, course_name, ug_start_date, ug_end_date, course_type, student_number, total_time, person_time, teach_score, state, IS_DELETEMARK, CREATE_TIME, MODIFY_TIME, CREATE_USER_ID, MODIFY_USER_ID, auditMan, auditManName, auditDate, auditSuggestion, IsUse, display_index
    </sql>
    <update id="updateDcaBUndergraduate" parameterType="cc.mrbird.febs.dca.entity.DcaBUndergraduate">
        update dca_b_undergraduate
        <trim prefix="set" suffixOverrides=",">
<if test="fileId != null">file_id=#{fileId},</if>
<if test="fileUrl != null">file_url=#{fileUrl},</if>
<if test="userAccountName != null">user_account_name=#{userAccountName},</if>
<if test="userAccount != null">user_account=#{userAccount},</if>
<if test="courseName != null">course_name=#{courseName},</if>
<if test="ugStartDate != null">ug_start_date=#{ugStartDate},</if>
<if test="ugEndDate != null">ug_end_date=#{ugEndDate},</if>
<if test="courseType != null">course_type=#{courseType},</if>
<if test="studentNumber != null">student_number=#{studentNumber},</if>
<if test="totalTime != null">total_time=#{totalTime},</if>
<if test="personTime != null">person_time=#{personTime},</if>
<if test="teachScore != null">teach_score=#{teachScore},</if>
<if test="state != null">state=#{state},</if>
<if test="isDeletemark != null">IS_DELETEMARK=#{isDeletemark},</if>
<if test="createTime != null">CREATE_TIME=#{createTime},</if>
<if test="modifyTime != null">MODIFY_TIME=#{modifyTime},</if>
<if test="createUserId != null">CREATE_USER_ID=#{createUserId},</if>
<if test="modifyUserId != null">MODIFY_USER_ID=#{modifyUserId},</if>
<if test="auditMan != null">auditMan=#{auditMan},</if>
<if test="auditManName != null">auditManName=#{auditManName},</if>
<if test="auditDate != null">auditDate=#{auditDate},</if>
<if test="auditSuggestion != null">auditSuggestion=#{auditSuggestion},</if>
<if test="IsUse != null">IsUse=#{IsUse},</if>
<if test="displayIndex != null">display_index=#{displayIndex},</if>
        </trim>
                where id=#{id}

    </update>
    <select id="findDcaBUndergraduate" resultType="cc.mrbird.febs.dca.entity.DcaBUndergraduate" parameterType="cc.mrbird.febs.dca.entity.DcaBUndergraduate">
        select  *  from dca_b_undergraduate
        where  1=1
            <if test="dcaBUndergraduate.id != null and dcaBUndergraduate.id != ''"> and dcaBUndergraduate.id =#{ dcaBUndergraduate.id} </if>
            <if test="dcaBUndergraduate.fileId != null and dcaBUndergraduate.fileId != ''"> and dcaBUndergraduate.file_id like concat('%', #{ dcaBUndergraduate.fileId} ,'%')</if>
            <if test="dcaBUndergraduate.fileUrl != null and dcaBUndergraduate.fileUrl != ''"> and dcaBUndergraduate.file_url like concat('%', #{ dcaBUndergraduate.fileUrl} ,'%')</if>
            <if test="dcaBUndergraduate.userAccountName != null and dcaBUndergraduate.userAccountName != ''"> and dcaBUndergraduate.user_account_name like concat('%', #{ dcaBUndergraduate.userAccountName} ,'%')</if>
            <if test="dcaBUndergraduate.userAccount != null and dcaBUndergraduate.userAccount != ''"> and dcaBUndergraduate.user_account like concat('%', #{ dcaBUndergraduate.userAccount} ,'%')</if>
            <if test="dcaBUndergraduate.courseName != null and dcaBUndergraduate.courseName != ''"> and dcaBUndergraduate.course_name like concat('%', #{ dcaBUndergraduate.courseName} ,'%')</if>
        <if test="dcaBUndergraduate.ugStartDateFrom!= null">
            AND dcaBUndergraduate.ug_start_date <![CDATA[ >= ]]>  #{dcaBUndergraduate.ugStartDateFrom}
        </if>
        <if test="dcaBUndergraduate.ugStartDateTo!= null">
            AND dcaBUndergraduate.ug_start_date <![CDATA[ <= ]]>  #{dcaBUndergraduate.ugStartDateTo}
        </if>
        <if test="dcaBUndergraduate.ugEndDateFrom!= null">
            AND dcaBUndergraduate.ug_end_date <![CDATA[ >= ]]>  #{dcaBUndergraduate.ugEndDateFrom}
        </if>
        <if test="dcaBUndergraduate.ugEndDateTo!= null">
            AND dcaBUndergraduate.ug_end_date <![CDATA[ <= ]]>  #{dcaBUndergraduate.ugEndDateTo}
        </if>
            <if test="dcaBUndergraduate.courseType != null and dcaBUndergraduate.courseType != ''"> and dcaBUndergraduate.course_type like concat('%', #{ dcaBUndergraduate.courseType} ,'%')</if>
        <if test="dcaBUndergraduate.studentNumber != null"> and dcaBUndergraduate.student_number =#{ dcaBUndergraduate.studentNumber} </if>
            <if test="dcaBUndergraduate.teachScore != null and dcaBUndergraduate.teachScore != ''"> and dcaBUndergraduate.teach_score like concat('%', #{ dcaBUndergraduate.teachScore} ,'%')</if>
        <if test="dcaBUndergraduate.state != null"> and dcaBUndergraduate.state =#{ dcaBUndergraduate.state} </if>
        <if test="dcaBUndergraduate.isDeletemark != null"> and dcaBUndergraduate.IS_DELETEMARK =#{ dcaBUndergraduate.isDeletemark} </if>
        <if test="dcaBUndergraduate.createTimeFrom!= null">
            AND dcaBUndergraduate.CREATE_TIME <![CDATA[ >= ]]>  #{dcaBUndergraduate.createTimeFrom}
        </if>
        <if test="dcaBUndergraduate.createTimeTo!= null">
            AND dcaBUndergraduate.CREATE_TIME <![CDATA[ <= ]]>  #{dcaBUndergraduate.createTimeTo}
        </if>
        <if test="dcaBUndergraduate.modifyTimeFrom!= null">
            AND dcaBUndergraduate.MODIFY_TIME <![CDATA[ >= ]]>  #{dcaBUndergraduate.modifyTimeFrom}
        </if>
        <if test="dcaBUndergraduate.modifyTimeTo!= null">
            AND dcaBUndergraduate.MODIFY_TIME <![CDATA[ <= ]]>  #{dcaBUndergraduate.modifyTimeTo}
        </if>
            <if test="dcaBUndergraduate.auditMan != null and dcaBUndergraduate.auditMan != ''"> and dcaBUndergraduate.auditMan like concat('%', #{ dcaBUndergraduate.auditMan} ,'%')</if>
            <if test="dcaBUndergraduate.auditManName != null and dcaBUndergraduate.auditManName != ''"> and dcaBUndergraduate.auditManName like concat('%', #{ dcaBUndergraduate.auditManName} ,'%')</if>
        <if test="dcaBUndergraduate.auditDateFrom!= null">
            AND dcaBUndergraduate.auditDate <![CDATA[ >= ]]>  #{dcaBUndergraduate.auditDateFrom}
        </if>
        <if test="dcaBUndergraduate.auditDateTo!= null">
            AND dcaBUndergraduate.auditDate <![CDATA[ <= ]]>  #{dcaBUndergraduate.auditDateTo}
        </if>
            <if test="dcaBUndergraduate.auditSuggestion != null and dcaBUndergraduate.auditSuggestion != ''"> and dcaBUndergraduate.auditSuggestion like concat('%', #{ dcaBUndergraduate.auditSuggestion} ,'%')</if>
        <if test="dcaBUndergraduate.displayIndex != null"> and dcaBUndergraduate.display_index =#{ dcaBUndergraduate.displayIndex} </if>
</select>

</mapper>