<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.dca.dao.DcaBMedicalaccidentMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="cc.mrbird.febs.dca.entity.DcaBMedicalaccident">
                    <id column="id" property="id"/>
                    <result column="file_id" property="fileId"/>
                    <result column="file_url" property="fileUrl"/>
                    <result column="user_account_name" property="userAccountName"/>
                    <result column="user_account" property="userAccount"/>
                    <result column="medical_year" property="medicalYear"/>
                    <result column="medical_result" property="medicalResult"/>
                    <result column="medical_content" property="medicalContent"/>
                    <result column="state" property="state"/>
                    <result column="IS_DELETEMARK" property="isDeletemark"/>
                    <result column="CREATE_TIME" property="createTime"/>
                    <result column="MODIFY_TIME" property="modifyTime"/>
                    <result column="CREATE_USER_ID" property="createUserId"/>
                    <result column="MODIFY_USER_ID" property="modifyUserId"/>
                    <result column="auditMan" property="auditMan"/>
                    <result column="auditManName" property="auditManName"/>
                    <result column="auditDate" property="auditDate"/>
                    <result column="auditSuggestion" property="auditSuggestion"/>
                    <result column="IsUse" property="IsUse"/>
                    <result column="display_index" property="displayIndex"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        id, file_id, file_url, user_account_name, user_account, medical_year, medical_result, medical_content, state, IS_DELETEMARK, CREATE_TIME, MODIFY_TIME, CREATE_USER_ID, MODIFY_USER_ID, auditMan, auditManName, auditDate, auditSuggestion, IsUse, display_index
    </sql>
    <update id="updateDcaBMedicalaccident" parameterType="cc.mrbird.febs.dca.entity.DcaBMedicalaccident">
        update dca_b_medicalaccident
        <trim prefix="set" suffixOverrides=",">
<if test="fileId != null">file_id=#{fileId},</if>
<if test="fileUrl != null">file_url=#{fileUrl},</if>
<if test="userAccountName != null">user_account_name=#{userAccountName},</if>
<if test="userAccount != null">user_account=#{userAccount},</if>
<if test="medicalYear != null">medical_year=#{medicalYear},</if>
<if test="medicalResult != null">medical_result=#{medicalResult},</if>
<if test="medicalContent != null">medical_content=#{medicalContent},</if>
<if test="state != null">state=#{state},</if>
<if test="isDeletemark != null">IS_DELETEMARK=#{isDeletemark},</if>
<if test="createTime != null">CREATE_TIME=#{createTime},</if>
<if test="modifyTime != null">MODIFY_TIME=#{modifyTime},</if>
<if test="createUserId != null">CREATE_USER_ID=#{createUserId},</if>
<if test="modifyUserId != null">MODIFY_USER_ID=#{modifyUserId},</if>
<if test="auditMan != null">auditMan=#{auditMan},</if>
<if test="auditManName != null">auditManName=#{auditManName},</if>
<if test="auditDate != null">auditDate=#{auditDate},</if>
<if test="auditSuggestion != null">auditSuggestion=#{auditSuggestion},</if>
<if test="IsUse != null">IsUse=#{IsUse},</if>
<if test="displayIndex != null">display_index=#{displayIndex},</if>
        </trim>
                where id=#{id}

    </update>
    <select id="findDcaBMedicalaccident" resultType="cc.mrbird.febs.dca.entity.DcaBMedicalaccident" parameterType="cc.mrbird.febs.dca.entity.DcaBMedicalaccident">
        select  *  from dca_b_medicalaccident
        where  1=1
            <if test="dcaBMedicalaccident.id != null and dcaBMedicalaccident.id != ''"> and dca_b_medicalaccident.id =#{ dcaBMedicalaccident.id} </if>
            <if test="dcaBMedicalaccident.fileId != null and dcaBMedicalaccident.fileId != ''"> and dca_b_medicalaccident.file_id like concat('%', #{ dcaBMedicalaccident.fileId} ,'%')</if>
            <if test="dcaBMedicalaccident.fileUrl != null and dcaBMedicalaccident.fileUrl != ''"> and dca_b_medicalaccident.file_url like concat('%', #{ dcaBMedicalaccident.fileUrl} ,'%')</if>
            <if test="dcaBMedicalaccident.userAccountName != null and dcaBMedicalaccident.userAccountName != ''"> and dca_b_medicalaccident.user_account_name like concat('%', #{ dcaBMedicalaccident.userAccountName} ,'%')</if>
            <if test="dcaBMedicalaccident.userAccount != null and dcaBMedicalaccident.userAccount != ''"> and dca_b_medicalaccident.user_account like concat('%', #{ dcaBMedicalaccident.userAccount} ,'%')</if>
            <if test="dcaBMedicalaccident.medicalYear != null and dcaBMedicalaccident.medicalYear != ''"> and dca_b_medicalaccident.medical_year like concat('%', #{ dcaBMedicalaccident.medicalYear} ,'%')</if>
            <if test="dcaBMedicalaccident.medicalResult != null and dcaBMedicalaccident.medicalResult != ''"> and dca_b_medicalaccident.medical_result like concat('%', #{ dcaBMedicalaccident.medicalResult} ,'%')</if>
            <if test="dcaBMedicalaccident.medicalContent != null and dcaBMedicalaccident.medicalContent != ''"> and dca_b_medicalaccident.medical_content like concat('%', #{ dcaBMedicalaccident.medicalContent} ,'%')</if>
        <if test="dcaBMedicalaccident.state != null"> and dca_b_medicalaccident.state =#{ dcaBMedicalaccident.state} </if>
        <if test="dcaBMedicalaccident.isDeletemark != null"> and dca_b_medicalaccident.IS_DELETEMARK =#{ dcaBMedicalaccident.isDeletemark} </if>
        <if test="dcaBMedicalaccident.createTimeFrom!= null">
            AND dca_b_medicalaccident.CREATE_TIME <![CDATA[ >= ]]>  #{dcaBMedicalaccident.createTimeFrom}
        </if>
        <if test="dcaBMedicalaccident.createTimeTo!= null">
            AND dca_b_medicalaccident.CREATE_TIME <![CDATA[ <= ]]>  #{dcaBMedicalaccident.createTimeTo}
        </if>
        <if test="dcaBMedicalaccident.modifyTimeFrom!= null">
            AND dca_b_medicalaccident.MODIFY_TIME <![CDATA[ >= ]]>  #{dcaBMedicalaccident.modifyTimeFrom}
        </if>
        <if test="dcaBMedicalaccident.modifyTimeTo!= null">
            AND dca_b_medicalaccident.MODIFY_TIME <![CDATA[ <= ]]>  #{dcaBMedicalaccident.modifyTimeTo}
        </if>
            <if test="dcaBMedicalaccident.auditMan != null and dcaBMedicalaccident.auditMan != ''"> and dca_b_medicalaccident.auditMan like concat('%', #{ dcaBMedicalaccident.auditMan} ,'%')</if>
            <if test="dcaBMedicalaccident.auditManName != null and dcaBMedicalaccident.auditManName != ''"> and dca_b_medicalaccident.auditManName like concat('%', #{ dcaBMedicalaccident.auditManName} ,'%')</if>
        <if test="dcaBMedicalaccident.auditDateFrom!= null">
            AND dca_b_medicalaccident.auditDate <![CDATA[ >= ]]>  #{dcaBMedicalaccident.auditDateFrom}
        </if>
        <if test="dcaBMedicalaccident.auditDateTo!= null">
            AND dca_b_medicalaccident.auditDate <![CDATA[ <= ]]>  #{dcaBMedicalaccident.auditDateTo}
        </if>
            <if test="dcaBMedicalaccident.auditSuggestion != null and dcaBMedicalaccident.auditSuggestion != ''"> and dca_b_medicalaccident.auditSuggestion like concat('%', #{ dcaBMedicalaccident.auditSuggestion} ,'%')</if>
        <if test="dcaBMedicalaccident.displayIndex != null"> and dca_b_medicalaccident.display_index =#{ dcaBMedicalaccident.displayIndex} </if>
</select>

</mapper>