<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.dca.dao.DcaBQualificationMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="cc.mrbird.febs.dca.entity.DcaBQualification">
                    <id column="id" property="id"/>
                    <result column="file_id" property="fileId"/>
                    <result column="file_url" property="fileUrl"/>
                    <result column="user_account_name" property="userAccountName"/>
                    <result column="user_account" property="userAccount"/>
                    <result column="qualification_name" property="qualificationName"/>
                    <result column="qualification_date" property="qualificationDate"/>
                    <result column="qualification_code" property="qualificationCode"/>
                    <result column="qualification_grade" property="qualificationGrade"/>
                    <result column="audit_grade" property="auditGrade"/>
                    <result column="audit_qu_date" property="auditQuDate"/>
                    <result column="audit_state" property="auditState"/>
                    <result column="state" property="state"/>
                    <result column="IS_DELETEMARK" property="isDeletemark"/>
                    <result column="CREATE_TIME" property="createTime"/>
                    <result column="MODIFY_TIME" property="modifyTime"/>
                    <result column="CREATE_USER_ID" property="createUserId"/>
                    <result column="MODIFY_USER_ID" property="modifyUserId"/>
                    <result column="auditMan" property="auditMan"/>
                    <result column="auditManName" property="auditManName"/>
                    <result column="auditDate" property="auditDate"/>
                    <result column="auditSuggestion" property="auditSuggestion"/>
                    <result column="IsUse" property="IsUse"/>
                    <result column="display_index" property="displayIndex"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        id, file_id, file_url, user_account_name, user_account, qualification_name, qualification_date, qualification_code, qualification_grade, audit_grade, audit_qu_date, audit_state, state, IS_DELETEMARK, CREATE_TIME, MODIFY_TIME, CREATE_USER_ID, MODIFY_USER_ID, auditMan, auditManName, auditDate, auditSuggestion, IsUse, display_index
    </sql>
    <update id="updateDcaBQualification" parameterType="cc.mrbird.febs.dca.entity.DcaBQualification">
        update dca_b_qualification
        <trim prefix="set" suffixOverrides=",">
<if test="fileId != null">file_id=#{fileId},</if>
<if test="fileUrl != null">file_url=#{fileUrl},</if>
<if test="userAccountName != null">user_account_name=#{userAccountName},</if>
<if test="userAccount != null">user_account=#{userAccount},</if>
<if test="qualificationName != null">qualification_name=#{qualificationName},</if>
<if test="qualificationDate != null">qualification_date=#{qualificationDate},</if>
<if test="qualificationCode != null">qualification_code=#{qualificationCode},</if>
<if test="qualificationGrade != null">qualification_grade=#{qualificationGrade},</if>
<if test="auditGrade != null">audit_grade=#{auditGrade},</if>
<if test="auditQuDate != null">audit_qu_date=#{auditQuDate},</if>
<if test="auditState != null">audit_state=#{auditState},</if>
<if test="state != null">state=#{state},</if>
<if test="isDeletemark != null">IS_DELETEMARK=#{isDeletemark},</if>
<if test="createTime != null">CREATE_TIME=#{createTime},</if>
<if test="modifyTime != null">MODIFY_TIME=#{modifyTime},</if>
<if test="createUserId != null">CREATE_USER_ID=#{createUserId},</if>
<if test="modifyUserId != null">MODIFY_USER_ID=#{modifyUserId},</if>
<if test="auditMan != null">auditMan=#{auditMan},</if>
<if test="auditManName != null">auditManName=#{auditManName},</if>
<if test="auditDate != null">auditDate=#{auditDate},</if>
<if test="auditSuggestion != null">auditSuggestion=#{auditSuggestion},</if>
<if test="IsUse != null">IsUse=#{IsUse},</if>
<if test="displayIndex != null">display_index=#{displayIndex},</if>
        </trim>
                where id=#{id}

    </update>
    <select id="findDcaBQualification" resultType="cc.mrbird.febs.dca.entity.DcaBQualification" parameterType="cc.mrbird.febs.dca.entity.DcaBQualification">
        select  *  from dca_b_qualification
        where  1=1
            <if test="dcaBQualification.id != null and dcaBQualification.id != ''"> and dca_b_qualification.id =#{ dcaBQualification.id} </if>
            <if test="dcaBQualification.fileId != null and dcaBQualification.fileId != ''"> and dca_b_qualification.file_id like concat('%', #{ dcaBQualification.fileId} ,'%')</if>
            <if test="dcaBQualification.fileUrl != null and dcaBQualification.fileUrl != ''"> and dca_b_qualification.file_url like concat('%', #{ dcaBQualification.fileUrl} ,'%')</if>
            <if test="dcaBQualification.userAccountName != null and dcaBQualification.userAccountName != ''"> and dca_b_qualification.user_account_name like concat('%', #{ dcaBQualification.userAccountName} ,'%')</if>
            <if test="dcaBQualification.userAccount != null and dcaBQualification.userAccount != ''"> and dca_b_qualification.user_account like concat('%', #{ dcaBQualification.userAccount} ,'%')</if>
            <if test="dcaBQualification.qualificationName != null and dcaBQualification.qualificationName != ''"> and dca_b_qualification.qualification_name like concat('%', #{ dcaBQualification.qualificationName} ,'%')</if>
        <if test="dcaBQualification.qualificationDateFrom!= null">
            AND dca_b_qualification.qualification_date <![CDATA[ >= ]]>  #{dcaBQualification.qualificationDateFrom}
        </if>
        <if test="dcaBQualification.qualificationDateTo!= null">
            AND dca_b_qualification.qualification_date <![CDATA[ <= ]]>  #{dcaBQualification.qualificationDateTo}
        </if>
            <if test="dcaBQualification.qualificationCode != null and dcaBQualification.qualificationCode != ''"> and dca_b_qualification.qualification_code like concat('%', #{ dcaBQualification.qualificationCode} ,'%')</if>
            <if test="dcaBQualification.qualificationGrade != null and dcaBQualification.qualificationGrade != ''"> and dca_b_qualification.qualification_grade like concat('%', #{ dcaBQualification.qualificationGrade} ,'%')</if>
            <if test="dcaBQualification.auditGrade != null and dcaBQualification.auditGrade != ''"> and dca_b_qualification.audit_grade like concat('%', #{ dcaBQualification.auditGrade} ,'%')</if>
        <if test="dcaBQualification.auditQuDateFrom!= null">
            AND dca_b_qualification.audit_qu_date <![CDATA[ >= ]]>  #{dcaBQualification.auditQuDateFrom}
        </if>
        <if test="dcaBQualification.auditQuDateTo!= null">
            AND dca_b_qualification.audit_qu_date <![CDATA[ <= ]]>  #{dcaBQualification.auditQuDateTo}
        </if>
        <if test="dcaBQualification.auditState != null"> and dca_b_qualification.audit_state =#{ dcaBQualification.auditState} </if>
        <if test="dcaBQualification.state != null"> and dca_b_qualification.state =#{ dcaBQualification.state} </if>
        <if test="dcaBQualification.isDeletemark != null"> and dca_b_qualification.IS_DELETEMARK =#{ dcaBQualification.isDeletemark} </if>
        <if test="dcaBQualification.createTimeFrom!= null">
            AND dca_b_qualification.CREATE_TIME <![CDATA[ >= ]]>  #{dcaBQualification.createTimeFrom}
        </if>
        <if test="dcaBQualification.createTimeTo!= null">
            AND dca_b_qualification.CREATE_TIME <![CDATA[ <= ]]>  #{dcaBQualification.createTimeTo}
        </if>
        <if test="dcaBQualification.modifyTimeFrom!= null">
            AND dca_b_qualification.MODIFY_TIME <![CDATA[ >= ]]>  #{dcaBQualification.modifyTimeFrom}
        </if>
        <if test="dcaBQualification.modifyTimeTo!= null">
            AND dca_b_qualification.MODIFY_TIME <![CDATA[ <= ]]>  #{dcaBQualification.modifyTimeTo}
        </if>
            <if test="dcaBQualification.auditMan != null and dcaBQualification.auditMan != ''"> and dca_b_qualification.auditMan like concat('%', #{ dcaBQualification.auditMan} ,'%')</if>
            <if test="dcaBQualification.auditManName != null and dcaBQualification.auditManName != ''"> and dca_b_qualification.auditManName like concat('%', #{ dcaBQualification.auditManName} ,'%')</if>
        <if test="dcaBQualification.auditDateFrom!= null">
            AND dca_b_qualification.auditDate <![CDATA[ >= ]]>  #{dcaBQualification.auditDateFrom}
        </if>
        <if test="dcaBQualification.auditDateTo!= null">
            AND dca_b_qualification.auditDate <![CDATA[ <= ]]>  #{dcaBQualification.auditDateTo}
        </if>
            <if test="dcaBQualification.auditSuggestion != null and dcaBQualification.auditSuggestion != ''"> and dca_b_qualification.auditSuggestion like concat('%', #{ dcaBQualification.auditSuggestion} ,'%')</if>
        <if test="dcaBQualification.displayIndex != null"> and dca_b_qualification.display_index =#{ dcaBQualification.displayIndex} </if>
</select>

</mapper>