<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.dca.dao.DcaBAchievementMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="cc.mrbird.febs.dca.entity.DcaBAchievement">
                    <id column="id" property="id"/>
                    <result column="file_id" property="fileId"/>
                    <result column="file_url" property="fileUrl"/>
                    <result column="user_account_name" property="userAccountName"/>
                    <result column="user_account" property="userAccount"/>
                    <result column="achievement_name" property="achievementName"/>
                    <result column="rank_index" property="rankIndex"/>
                    <result column="achievement_grade" property="achievementGrade"/>
                    <result column="achievement_date" property="achievementDate"/>
                    <result column="achievement_define" property="achievementDefine"/>
                    <result column="achievement_content" property="achievementContent"/>
                    <result column="state" property="state"/>
            <result column="audit_state" property="auditState"/>
                    <result column="IS_DELETEMARK" property="isDeletemark"/>
                    <result column="CREATE_TIME" property="createTime"/>
                    <result column="MODIFY_TIME" property="modifyTime"/>
                    <result column="CREATE_USER_ID" property="createUserId"/>
                    <result column="MODIFY_USER_ID" property="modifyUserId"/>
                    <result column="auditMan" property="auditMan"/>
                    <result column="auditManName" property="auditManName"/>
                    <result column="auditDate" property="auditDate"/>
                    <result column="auditSuggestion" property="auditSuggestion"/>
                    <result column="IsUse" property="IsUse"/>
            <result column="lxhj" property="lxhj"/>
                    <result column="display_index" property="displayIndex"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        id, file_id, file_url, user_account_name, user_account, achievement_name, rank_index, achievement_grade, achievement_date, achievement_define, achievement_content, state, audit_state,  IS_DELETEMARK, CREATE_TIME, MODIFY_TIME, CREATE_USER_ID, MODIFY_USER_ID, auditMan, auditManName, auditDate, auditSuggestion, IsUse,lxhj, display_index
    </sql>
    <update id="updateDcaBAchievement" parameterType="cc.mrbird.febs.dca.entity.DcaBAchievement">
        update dca_b_achievement
        <trim prefix="set" suffixOverrides=",">
<if test="fileId != null">file_id=#{fileId},</if>
<if test="fileUrl != null">file_url=#{fileUrl},</if>
<if test="userAccountName != null">user_account_name=#{userAccountName},</if>
<if test="userAccount != null">user_account=#{userAccount},</if>
<if test="achievementName != null">achievement_name=#{achievementName},</if>
<if test="rankIndex != null">rank_index=#{rankIndex},</if>
<if test="achievementGrade != null">achievement_grade=#{achievementGrade},</if>
<if test="achievementDate != null">achievement_date=#{achievementDate},</if>
<if test="achievementDefine != null">achievement_define=#{achievementDefine},</if>
<if test="achievementContent != null">achievement_content=#{achievementContent},</if>
<if test="state != null">state=#{state},</if>
            <if test="auditState != null">audit_state=#{auditState},</if>
<if test="isDeletemark != null">IS_DELETEMARK=#{isDeletemark},</if>
<if test="createTime != null">CREATE_TIME=#{createTime},</if>
<if test="modifyTime != null">MODIFY_TIME=#{modifyTime},</if>
<if test="createUserId != null">CREATE_USER_ID=#{createUserId},</if>
<if test="modifyUserId != null">MODIFY_USER_ID=#{modifyUserId},</if>
<if test="auditMan != null">auditMan=#{auditMan},</if>
<if test="auditManName != null">auditManName=#{auditManName},</if>
<if test="auditDate != null">auditDate=#{auditDate},</if>
<if test="auditSuggestion != null">auditSuggestion=#{auditSuggestion},</if>
<if test="IsUse != null">IsUse=#{IsUse},</if>
            <if test="lxhj != null">lxhj=#{lxhj},</if>
<if test="displayIndex != null">display_index=#{displayIndex},</if>
        </trim>
                where id=#{id}

    </update>
    <select id="findDcaBAchievement" resultType="cc.mrbird.febs.dca.entity.DcaBAchievement" parameterType="cc.mrbird.febs.dca.entity.DcaBAchievement">
        select  *  from dca_b_achievement
        where  1=1
            <if test="dcaBAchievement.id != null and dcaBAchievement.id != ''"> and dca_b_achievement.id =#{ dcaBAchievement.id} </if>
            <if test="dcaBAchievement.fileId != null and dcaBAchievement.fileId != ''"> and dca_b_achievement.file_id like concat('%', #{ dcaBAchievement.fileId} ,'%')</if>
            <if test="dcaBAchievement.fileUrl != null and dcaBAchievement.fileUrl != ''"> and dca_b_achievement.file_url like concat('%', #{ dcaBAchievement.fileUrl} ,'%')</if>
            <if test="dcaBAchievement.userAccountName != null and dcaBAchievement.userAccountName != ''"> and dca_b_achievement.user_account_name like concat('%', #{ dcaBAchievement.userAccountName} ,'%')</if>
            <if test="dcaBAchievement.userAccount != null and dcaBAchievement.userAccount != ''"> and dca_b_achievement.user_account like concat('%', #{ dcaBAchievement.userAccount} ,'%')</if>
            <if test="dcaBAchievement.achievementName != null and dcaBAchievement.achievementName != ''"> and dca_b_achievement.achievement_name like concat('%', #{ dcaBAchievement.achievementName} ,'%')</if>
        <if test="dcaBAchievement.rankIndex != null"> and dca_b_achievement.rank_index =#{ dcaBAchievement.rankIndex} </if>
            <if test="dcaBAchievement.achievementGrade != null and dcaBAchievement.achievementGrade != ''"> and dca_b_achievement.achievement_grade like concat('%', #{ dcaBAchievement.achievementGrade} ,'%')</if>
        <if test="dcaBAchievement.achievementDateFrom!= null">
            AND dca_b_achievement.achievement_date <![CDATA[ >= ]]>  #{dcaBAchievement.achievementDateFrom}
        </if>
        <if test="dcaBAchievement.achievementDateTo!= null">
            AND dca_b_achievement.achievement_date <![CDATA[ <= ]]>  #{dcaBAchievement.achievementDateTo}
        </if>
            <if test="dcaBAchievement.achievementDefine != null and dcaBAchievement.achievementDefine != ''"> and dca_b_achievement.achievement_define like concat('%', #{ dcaBAchievement.achievementDefine} ,'%')</if>
            <if test="dcaBAchievement.achievementContent != null and dcaBAchievement.achievementContent != ''"> and dca_b_achievement.achievement_content like concat('%', #{ dcaBAchievement.achievementContent} ,'%')</if>
        <if test="dcaBAchievement.state != null"> and dca_b_achievement.state =#{ dcaBAchievement.state} </if>
        <if test="dcaBAchievement.auditState != null"> and dca_b_achievement.audit_state =#{ dcaBAchievement.auditState} </if>
        <if test="dcaBAchievement.isDeletemark != null"> and dca_b_achievement.IS_DELETEMARK =#{ dcaBAchievement.isDeletemark} </if>
        <if test="dcaBAchievement.createTimeFrom!= null">
            AND dca_b_achievement.CREATE_TIME <![CDATA[ >= ]]>  #{dcaBAchievement.createTimeFrom}
        </if>
        <if test="dcaBAchievement.createTimeTo!= null">
            AND dca_b_achievement.CREATE_TIME <![CDATA[ <= ]]>  #{dcaBAchievement.createTimeTo}
        </if>
        <if test="dcaBAchievement.modifyTimeFrom!= null">
            AND dca_b_achievement.MODIFY_TIME <![CDATA[ >= ]]>  #{dcaBAchievement.modifyTimeFrom}
        </if>
        <if test="dcaBAchievement.modifyTimeTo!= null">
            AND dca_b_achievement.MODIFY_TIME <![CDATA[ <= ]]>  #{dcaBAchievement.modifyTimeTo}
        </if>
            <if test="dcaBAchievement.auditMan != null and dcaBAchievement.auditMan != ''"> and dca_b_achievement.auditMan like concat('%', #{ dcaBAchievement.auditMan} ,'%')</if>
            <if test="dcaBAchievement.auditManName != null and dcaBAchievement.auditManName != ''"> and dca_b_achievement.auditManName like concat('%', #{ dcaBAchievement.auditManName} ,'%')</if>
        <if test="dcaBAchievement.auditDateFrom!= null">
            AND dca_b_achievement.auditDate <![CDATA[ >= ]]>  #{dcaBAchievement.auditDateFrom}
        </if>
        <if test="dcaBAchievement.auditDateTo!= null">
            AND dca_b_achievement.auditDate <![CDATA[ <= ]]>  #{dcaBAchievement.auditDateTo}
        </if>
            <if test="dcaBAchievement.auditSuggestion != null and dcaBAchievement.auditSuggestion != ''"> and dca_b_achievement.auditSuggestion like concat('%', #{ dcaBAchievement.auditSuggestion} ,'%')</if>
        <if test="dcaBAchievement.displayIndex != null"> and dca_b_achievement.display_index =#{ dcaBAchievement.displayIndex} </if>
</select>

</mapper>