<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.dca.dao.DcaBUserMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="cc.mrbird.febs.dca.entity.DcaBUser">
                    <id column="id" property="id"/>
                    <result column="user_account_name" property="userAccountName"/>
                    <result column="user_account" property="userAccount"/>
                    <result column="ks" property="ks"/>
                    <result column="xl" property="xl"/>
                    <result column="telephone" property="telephone"/>
                    <result column="dept_name" property="deptName"/>
                    <result column="position_name" property="positionName"/>
                    <result column="np_position_name" property="npPositionName"/>
                    <result column="sex_name" property="sexName"/>
                    <result column="birthday" property="birthday"/>
                    <result column="school_date" property="schoolDate"/>
                    <result column="zyjsgw" property="zyjsgw"/>
                    <result column="zyjsgw_lc" property="zyjsgwLc"/>
                    <result column="xcszyjzc" property="xcszyjzc"/>
                    <result column="appointed_date" property="appointedDate"/>
                    <result column="patent_ranknum" property="patentRanknum"/>
                    <result column="is_authority" property="isAuthority"/>
                    <result column="file_id" property="fileId"/>
                    <result column="is_zhuanrang" property="isZhuanrang"/>
                    <result column="file_url" property="fileUrl"/>
                    <result column="patent_good" property="patentGood"/>
                    <result column="dca_year" property="dcaYear"/>
                    <result column="state" property="state"/>
                    <result column="IS_DELETEMARK" property="isDeletemark"/>
                    <result column="CREATE_TIME" property="createTime"/>
                    <result column="MODIFY_TIME" property="modifyTime"/>
                    <result column="CREATE_USER_ID" property="createUserId"/>
                    <result column="MODIFY_USER_ID" property="modifyUserId"/>
                    <result column="auditMan" property="auditMan"/>
                    <result column="auditManName" property="auditManName"/>
                    <result column="auditDate" property="auditDate"/>
                    <result column="auditSuggestion" property="auditSuggestion"/>
                    <result column="IsUse" property="IsUse"/>
                    <result column="appointed_date_lc" property="appointedDateLc"/>
                    <result column="file_id_lc" property="fileIdLc"/>
                    <result column="file_url_lc" property="fileUrlLc"/>
                    <result column="yuangongzu" property="yuangongzu"/>
                    <result column="xrgwjb" property="xrgwjb"/>
                    <result column="xrgwjbprsj" property="xrgwjbprsj"/>
                    <result column="djrdzzw" property="djrdzzw"/>
                    <result column="is_chujikh" property="isChujikh"/>
                    <result column="chujikh_date" property="chujikhDate"/>
                    <result column="is_zhongjikh" property="isZhongjikh"/>
                    <result column="zhongjikh_date" property="zhongjikhDate"/>
            <result column="political_status" property="politicalStatus"/>
            <result column="staff_grade" property="staffGrade"/>
            <result column="id_card" property="idCard"/>
            <result column="staff_date" property="staffDate"/>
            <result column="picture_id" property="pictureId"/>
            <result column="picture_url" property="pictureUrl"/>
            <result column="gqpxqk" property="gqpxqk"/>
            <result column="gfhyspxqk" property="gfhyspxqk"/>
            <result column="zjspnlceqk" property="zjspnlceqk"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        id, user_account_name, user_account, ks, xl, telephone, dept_name, position_name, np_position_name, sex_name, birthday, school_date, zyjsgw, zyjsgw_lc, xcszyjzc, appointed_date, patent_ranknum, is_authority, file_id, is_zhuanrang, file_url, patent_good, dca_year, state, IS_DELETEMARK, CREATE_TIME, MODIFY_TIME, CREATE_USER_ID, MODIFY_USER_ID, auditMan, auditManName, auditDate, auditSuggestion, IsUse, appointed_date_lc, file_id_lc, file_url_lc, yuangongzu, xrgwjb, xrgwjbprsj, djrdzzw, is_chujikh, chujikh_date, is_zhongjikh, zhongjikh_date, political_status, staff_grade, id_card, staff_date, picture_id, picture_url, gqpxqk, gfhyspxqk, zjspnlceqk
    </sql>
    <update id="updateDcaBUser" parameterType="cc.mrbird.febs.dca.entity.DcaBUser">
        update dca_b_user
        <trim prefix="set" suffixOverrides=",">
<if test="userAccountName != null">user_account_name=#{userAccountName},</if>
<if test="userAccount != null">user_account=#{userAccount},</if>
<if test="ks != null">ks=#{ks},</if>
<if test="xl != null">xl=#{xl},</if>
<if test="telephone != null">telephone=#{telephone},</if>
<if test="deptName != null">dept_name=#{deptName},</if>
<if test="positionName != null">position_name=#{positionName},</if>
<if test="npPositionName != null">np_position_name=#{npPositionName},</if>
<if test="sexName != null">sex_name=#{sexName},</if>
<if test="birthday != null">birthday=#{birthday},</if>
<if test="schoolDate != null">school_date=#{schoolDate},</if>
<if test="zyjsgw != null">zyjsgw=#{zyjsgw},</if>
<if test="zyjsgwLc != null">zyjsgw_lc=#{zyjsgwLc},</if>
<if test="xcszyjzc != null">xcszyjzc=#{xcszyjzc},</if>
<if test="appointedDate != null">appointed_date=#{appointedDate},</if>
<if test="patentRanknum != null">patent_ranknum=#{patentRanknum},</if>
<if test="isAuthority != null">is_authority=#{isAuthority},</if>
<if test="fileId != null">file_id=#{fileId},</if>
<if test="isZhuanrang != null">is_zhuanrang=#{isZhuanrang},</if>
<if test="fileUrl != null">file_url=#{fileUrl},</if>
<if test="patentGood != null">patent_good=#{patentGood},</if>
<if test="dcaYear != null">dca_year=#{dcaYear},</if>
<if test="state != null">state=#{state},</if>
<if test="isDeletemark != null">IS_DELETEMARK=#{isDeletemark},</if>
<if test="createTime != null">CREATE_TIME=#{createTime},</if>
<if test="modifyTime != null">MODIFY_TIME=#{modifyTime},</if>
<if test="createUserId != null">CREATE_USER_ID=#{createUserId},</if>
<if test="modifyUserId != null">MODIFY_USER_ID=#{modifyUserId},</if>
<if test="auditMan != null">auditMan=#{auditMan},</if>
<if test="auditManName != null">auditManName=#{auditManName},</if>
<if test="auditDate != null">auditDate=#{auditDate},</if>
<if test="auditSuggestion != null">auditSuggestion=#{auditSuggestion},</if>
<if test="IsUse != null">IsUse=#{IsUse},</if>
<if test="appointedDateLc != null">appointed_date_lc=#{appointedDateLc},</if>
<if test="fileIdLc != null">file_id_lc=#{fileIdLc},</if>
<if test="fileUrlLc != null">file_url_lc=#{fileUrlLc},</if>
<if test="yuangongzu != null">yuangongzu=#{yuangongzu},</if>
<if test="xrgwjb != null">xrgwjb=#{xrgwjb},</if>
<if test="xrgwjbprsj != null">xrgwjbprsj=#{xrgwjbprsj},</if>
<if test="djrdzzw != null">djrdzzw=#{djrdzzw},</if>
<if test="isChujikh != null">is_chujikh=#{isChujikh},</if>
<if test="chujikhDate != null">chujikh_date=#{chujikhDate},</if>
<if test="isZhongjikh != null">is_zhongjikh=#{isZhongjikh},</if>
<if test="zhongjikhDate != null">zhongjikh_date=#{zhongjikhDate},</if>
            <if test="politicalStatus != null">political_status=#{politicalStatus},</if>
            <if test="staffGrade != null">staff_grade=#{staffGrade},</if>
            <if test="idCard != null">id_card=#{idCard},</if>
            <if test="staffDate != null">staff_date=#{staffDate},</if>
            <if test="pictureId != null">picture_id=#{pictureId},</if>
            <if test="pictureUrl != null">picture_url=#{pictureUrl},</if>
            <if test="gqpxqk != null">gqpxqk=#{gqpxqk},</if>
            <if test="gfhyspxqk != null">gfhyspxqk=#{gfhyspxqk},</if>
            <if test="zjspnlceqk != null">zjspnlceqk=#{zjspnlceqk},</if>
        </trim>
                where id=#{id}

    </update>
    <select id="findAccounts" resultType="String" >
          SELECT
			   distinct	user_account
			FROM
				dca_b_auditdynamic
			INNER JOIN dca_d_auditinfo ON dca_b_auditdynamic.audit_titletype = dca_d_auditinfo.field_name
			INNER JOIN dca_user_audit ON dca_d_auditinfo.id = dca_user_audit.audit_id
			WHERE
				dca_user_audit.userId = #{userId}
    </select>
    <select id="findDcaBUser" resultType="cc.mrbird.febs.dca.entity.DcaBUser" parameterType="cc.mrbird.febs.dca.entity.DcaBUser">
        select  *  from dca_b_user
        where  1=1
            <if test="dcaBUser.id != null and dcaBUser.id != ''"> and dca_b_user.id =#{ dcaBUser.id} </if>
            <if test="dcaBUser.userAccountName != null and dcaBUser.userAccountName != ''"> and dca_b_user.user_account_name like concat('%', #{ dcaBUser.userAccountName} ,'%')</if>
            <if test="dcaBUser.userAccount != null and dcaBUser.userAccount != ''"> and dca_b_user.user_account like concat('%', #{ dcaBUser.userAccount} ,'%')</if>
            <if test="dcaBUser.ks != null and dcaBUser.ks != ''"> and dca_b_user.ks like concat('%', #{ dcaBUser.ks} ,'%')</if>
            <if test="dcaBUser.xl != null and dcaBUser.xl != ''"> and dca_b_user.xl like concat('%', #{ dcaBUser.xl} ,'%')</if>
            <if test="dcaBUser.telephone != null and dcaBUser.telephone != ''"> and dca_b_user.telephone like concat('%', #{ dcaBUser.telephone} ,'%')</if>
            <if test="dcaBUser.deptName != null and dcaBUser.deptName != ''"> and dca_b_user.dept_name like concat('%', #{ dcaBUser.deptName} ,'%')</if>
            <if test="dcaBUser.positionName != null and dcaBUser.positionName != ''"> and dca_b_user.position_name like concat('%', #{ dcaBUser.positionName} ,'%')</if>
            <if test="dcaBUser.npPositionName != null and dcaBUser.npPositionName != ''"> and dca_b_user.np_position_name like concat('%', #{ dcaBUser.npPositionName} ,'%')</if>
            <if test="dcaBUser.sexName != null and dcaBUser.sexName != ''"> and dca_b_user.sex_name like concat('%', #{ dcaBUser.sexName} ,'%')</if>
        <if test="dcaBUser.birthdayFrom!= null">
            AND dca_b_user.birthday <![CDATA[ >= ]]>  #{dcaBUser.birthdayFrom}
        </if>
        <if test="dcaBUser.birthdayTo!= null">
            AND dca_b_user.birthday <![CDATA[ <= ]]>  #{dcaBUser.birthdayTo}
        </if>
        <if test="dcaBUser.schoolDateFrom!= null">
            AND dca_b_user.school_date <![CDATA[ >= ]]>  #{dcaBUser.schoolDateFrom}
        </if>
        <if test="dcaBUser.schoolDateTo!= null">
            AND dca_b_user.school_date <![CDATA[ <= ]]>  #{dcaBUser.schoolDateTo}
        </if>
            <if test="dcaBUser.zyjsgw != null and dcaBUser.zyjsgw != ''"> and dca_b_user.zyjsgw like concat('%', #{ dcaBUser.zyjsgw} ,'%')</if>
            <if test="dcaBUser.zyjsgwLc != null and dcaBUser.zyjsgwLc != ''"> and dca_b_user.zyjsgw_lc like concat('%', #{ dcaBUser.zyjsgwLc} ,'%')</if>
            <if test="dcaBUser.xcszyjzc != null and dcaBUser.xcszyjzc != ''"> and dca_b_user.xcszyjzc like concat('%', #{ dcaBUser.xcszyjzc} ,'%')</if>
        <if test="dcaBUser.appointedDateFrom!= null">
            AND dca_b_user.appointed_date <![CDATA[ >= ]]>  #{dcaBUser.appointedDateFrom}
        </if>
        <if test="dcaBUser.appointedDateTo!= null">
            AND dca_b_user.appointed_date <![CDATA[ <= ]]>  #{dcaBUser.appointedDateTo}
        </if>
        <if test="dcaBUser.patentRanknum != null"> and dca_b_user.patent_ranknum =#{ dcaBUser.patentRanknum} </if>
            <if test="dcaBUser.isAuthority != null and dcaBUser.isAuthority != ''"> and dca_b_user.is_authority like concat('%', #{ dcaBUser.isAuthority} ,'%')</if>
            <if test="dcaBUser.fileId != null and dcaBUser.fileId != ''"> and dca_b_user.file_id like concat('%', #{ dcaBUser.fileId} ,'%')</if>
            <if test="dcaBUser.isZhuanrang != null and dcaBUser.isZhuanrang != ''"> and dca_b_user.is_zhuanrang like concat('%', #{ dcaBUser.isZhuanrang} ,'%')</if>
            <if test="dcaBUser.fileUrl != null and dcaBUser.fileUrl != ''"> and dca_b_user.file_url like concat('%', #{ dcaBUser.fileUrl} ,'%')</if>
            <if test="dcaBUser.patentGood != null and dcaBUser.patentGood != ''"> and dca_b_user.patent_good like concat('%', #{ dcaBUser.patentGood} ,'%')</if>
            <if test="dcaBUser.dcaYear != null and dcaBUser.dcaYear != ''"> and dca_b_user.dca_year like concat('%', #{ dcaBUser.dcaYear} ,'%')</if>
        <if test="dcaBUser.state != null"> and dca_b_user.state =#{ dcaBUser.state} </if>
        <if test="dcaBUser.isDeletemark != null"> and dca_b_user.IS_DELETEMARK =#{ dcaBUser.isDeletemark} </if>
        <if test="dcaBUser.createTimeFrom!= null">
            AND dca_b_user.CREATE_TIME <![CDATA[ >= ]]>  #{dcaBUser.createTimeFrom}
        </if>
        <if test="dcaBUser.createTimeTo!= null">
            AND dca_b_user.CREATE_TIME <![CDATA[ <= ]]>  #{dcaBUser.createTimeTo}
        </if>
        <if test="dcaBUser.modifyTimeFrom!= null">
            AND dca_b_user.MODIFY_TIME <![CDATA[ >= ]]>  #{dcaBUser.modifyTimeFrom}
        </if>
        <if test="dcaBUser.modifyTimeTo!= null">
            AND dca_b_user.MODIFY_TIME <![CDATA[ <= ]]>  #{dcaBUser.modifyTimeTo}
        </if>
            <if test="dcaBUser.auditMan != null and dcaBUser.auditMan != ''"> and dca_b_user.auditMan like concat('%', #{ dcaBUser.auditMan} ,'%')</if>
            <if test="dcaBUser.auditManName != null and dcaBUser.auditManName != ''"> and dca_b_user.auditManName like concat('%', #{ dcaBUser.auditManName} ,'%')</if>
        <if test="dcaBUser.auditDateFrom!= null">
            AND dca_b_user.auditDate <![CDATA[ >= ]]>  #{dcaBUser.auditDateFrom}
        </if>
        <if test="dcaBUser.auditDateTo!= null">
            AND dca_b_user.auditDate <![CDATA[ <= ]]>  #{dcaBUser.auditDateTo}
        </if>
            <if test="dcaBUser.auditSuggestion != null and dcaBUser.auditSuggestion != ''"> and dca_b_user.auditSuggestion like concat('%', #{ dcaBUser.auditSuggestion} ,'%')</if>
        <if test="dcaBUser.appointedDateLcFrom!= null">
            AND dca_b_user.appointed_date_lc <![CDATA[ >= ]]>  #{dcaBUser.appointedDateLcFrom}
        </if>
        <if test="dcaBUser.appointedDateLcTo!= null">
            AND dca_b_user.appointed_date_lc <![CDATA[ <= ]]>  #{dcaBUser.appointedDateLcTo}
        </if>
            <if test="dcaBUser.fileIdLc != null and dcaBUser.fileIdLc != ''"> and dca_b_user.file_id_lc like concat('%', #{ dcaBUser.fileIdLc} ,'%')</if>
            <if test="dcaBUser.fileUrlLc != null and dcaBUser.fileUrlLc != ''"> and dca_b_user.file_url_lc like concat('%', #{ dcaBUser.fileUrlLc} ,'%')</if>
            <if test="dcaBUser.yuangongzu != null and dcaBUser.yuangongzu != ''"> and dca_b_user.yuangongzu like concat('%', #{ dcaBUser.yuangongzu} ,'%')</if>
            <if test="dcaBUser.xrgwjb != null and dcaBUser.xrgwjb != ''"> and dca_b_user.xrgwjb like concat('%', #{ dcaBUser.xrgwjb} ,'%')</if>
        <if test="dcaBUser.xrgwjbprsjFrom!= null">
            AND dca_b_user.xrgwjbprsj <![CDATA[ >= ]]>  #{dcaBUser.xrgwjbprsjFrom}
        </if>
        <if test="dcaBUser.xrgwjbprsjTo!= null">
            AND dca_b_user.xrgwjbprsj <![CDATA[ <= ]]>  #{dcaBUser.xrgwjbprsjTo}
        </if>
            <if test="dcaBUser.djrdzzw != null and dcaBUser.djrdzzw != ''"> and dca_b_user.djrdzzw like concat('%', #{ dcaBUser.djrdzzw} ,'%')</if>
        <if test="dcaBUser.chujikhDateFrom!= null">
            AND dca_b_user.chujikh_date <![CDATA[ >= ]]>  #{dcaBUser.chujikhDateFrom}
        </if>
        <if test="dcaBUser.chujikhDateTo!= null">
            AND dca_b_user.chujikh_date <![CDATA[ <= ]]>  #{dcaBUser.chujikhDateTo}
        </if>
        <if test="dcaBUser.zhongjikhDateFrom!= null">
            AND dca_b_user.zhongjikh_date <![CDATA[ >= ]]>  #{dcaBUser.zhongjikhDateFrom}
        </if>
        <if test="dcaBUser.zhongjikhDateTo!= null">
            AND dca_b_user.zhongjikh_date <![CDATA[ <= ]]>  #{dcaBUser.zhongjikhDateTo}
        </if>
</select>
    <select id="getAllShowUserInfo" resultType="cc.mrbird.febs.dca.entity.DcaBUser" parameterType="cc.mrbird.febs.dca.entity.DcaBUser">
        SELECT
        dca_b_userapply.id,
        dca_b_user.user_account_name,
        dca_b_user.user_account,
        dca_b_user.ks,
        dca_b_userapply.xl,
        dca_b_user.telephone,
        dca_b_user.position_name,
        dca_b_userapply.np_position_name,
        dca_b_user.sex_name,
        dca_b_user.birthday,
        dca_b_user.school_date,
        dca_b_user.zyjsgw,
        dca_b_user.zyjsgw_lc,
        dca_b_user.appointed_date,
        dca_b_user.appointed_date_lc,
        dca_b_user.xcszyjzc,
        dca_b_user.patent_ranknum,
        dca_b_userapply.dca_year,
        dca_b_user.state,
        dca_b_user.auditManName,
        dca_b_userapply.gwdj,
        dca_b_user.yuangongzu,
        dca_b_user.xrgwjb,
        dca_b_user.xrgwjbprsj,
        dca_b_user.djrdzzw,
        dca_b_userapply.state apply_state,
        dca_b_user.gqpxqk,
        dca_b_user.gfhyspxqk,
        dca_b_user.zjspnlceqk
        FROM
        dca_b_user
        INNER JOIN dca_b_userapply ON dca_b_user.user_account = dca_b_userapply.user_account
        -- AND dca_b_userapply.dca_year = dca_b_user.dca_year

        LEFT JOIN dca_b_report ON dca_b_userapply.user_account = dca_b_report.user_account
        AND dca_b_userapply.dca_year = dca_b_report.`year` AND dca_b_userapply.gwdj=dca_b_report.gwdj
        WHERE
        (
        (dca_b_report.state IS NULL)
        OR dca_b_report.state = 0
        )
        AND LENGTH(
        dca_b_userapply.np_position_name
        ) > 0
        AND dca_b_userapply.np_position_name NOT IN (
        '教授主任医师',
        '副教授副主任医师'
        )
        <if test="dcaBUser.userAccount != null and dcaBUser.userAccount != ''"> and (dca_b_user.user_account =#{dcaBUser.userAccount} or (dca_b_user.user_account_name like concat('%', #{ dcaBUser.userAccount} ,'%')))</if>
        <if test="dcaBUser.dcaYear != null and dcaBUser.dcaYear != ''"> and (dca_b_userapply.dca_year =#{dcaBUser.dcaYear})</if>
        <if test="dcaBUser.yuangongzu != null and dcaBUser.yuangongzu != ''"> and LOCATE(dca_b_user.yuangongzu, #{ dcaBUser.yuangongzu})>0 </if>
        <if test="dcaBUser.ks != null and dcaBUser.ks != ''"> and  dca_b_userapply.gwdj in
            <foreach item="item" collection="dcaBUser.gwdjList" separator="," open="(" close=")" index="">
                #{item, jdbcType=VARCHAR}
            </foreach>
        </if>
        UNION ALL
        SELECT
        dca_b_userapply.id,
        dca_b_user.user_account_name,
        dca_b_user.user_account,
        dca_b_user.ks,
        dca_b_userapply.xl,
        dca_b_user.telephone,
        dca_b_user.position_name,

        IF (
        dca_b_userapply.np_position_name = '教授主任医师',
        '教授',
        '副教授'
        ) np_position_name,
        dca_b_user.sex_name,
        dca_b_user.birthday,
        dca_b_user.school_date,
        dca_b_user.zyjsgw,
        dca_b_user.zyjsgw_lc,
        dca_b_user.appointed_date,
        dca_b_user.appointed_date_lc,
        dca_b_user.xcszyjzc,
        dca_b_user.patent_ranknum,
        dca_b_userapply.dca_year,
        8 state,
        dca_b_user.auditManName,
        dca_b_userapply.gwdj,
        dca_b_user.yuangongzu,
        dca_b_user.xrgwjb,
        dca_b_user.xrgwjbprsj,
        dca_b_user.djrdzzw,
        dca_b_userapply.state apply_state,
        dca_b_user.gqpxqk,
        dca_b_user.gfhyspxqk,
        dca_b_user.zjspnlceqk
        FROM
        dca_b_user
        INNER JOIN dca_b_userapply ON dca_b_user.user_account = dca_b_userapply.user_account

        LEFT JOIN dca_b_report ON dca_b_userapply.user_account = dca_b_report.user_account
        AND dca_b_userapply.dca_year = dca_b_report.`year`
        AND dca_b_report.np_position_name IN ('教授', '副教授')
        WHERE
        (
        dca_b_report.state IS NULL
        OR dca_b_report.state = 0
        )
        AND LENGTH(
        dca_b_userapply.np_position_name
        ) > 0
        AND dca_b_userapply.np_position_name IN (
        '教授主任医师',
        '副教授副主任医师'
        )
        <if test="dcaBUser.userAccount != null and dcaBUser.userAccount != ''"> and (dca_b_user.user_account =#{ dcaBUser.userAccount} or (dca_b_user.user_account_name like concat('%', #{ dcaBUser.userAccount} ,'%')))</if>
        <if test="dcaBUser.dcaYear != null and dcaBUser.dcaYear != ''"> and (dca_b_userapply.dca_year =#{dcaBUser.dcaYear})</if>
        <if test="dcaBUser.yuangongzu != null and dcaBUser.yuangongzu != ''"> and LOCATE(dca_b_user.yuangongzu, #{ dcaBUser.yuangongzu})>0 </if>
        <if test="dcaBUser.ks != null and dcaBUser.ks != ''"> and  dca_b_userapply.gwdj in
            <foreach item="item" collection="dcaBUser.gwdjList" separator="," open="(" close=")" index="">
                #{item, jdbcType=VARCHAR}
            </foreach>
        </if>
        UNION ALL
        SELECT
        dca_b_userapply.id,
        dca_b_user.user_account_name,
        dca_b_user.user_account,
        dca_b_user.ks,
        dca_b_userapply.xl,
        dca_b_user.telephone,
        dca_b_user.position_name,

        IF (
        dca_b_userapply.np_position_name = '教授主任医师',
        '主任医师',
        '副主任医师'
        ) np_position_name,
        dca_b_user.sex_name,
        dca_b_user.birthday,
        dca_b_user.school_date,
        dca_b_user.zyjsgw,
        dca_b_user.zyjsgw_lc,
        dca_b_user.appointed_date,
        dca_b_user.appointed_date_lc,
        dca_b_user.xcszyjzc,
        dca_b_user.patent_ranknum,
        dca_b_userapply.dca_year,
        8 state,
        dca_b_user.auditManName,
        dca_b_userapply.gwdj,
        dca_b_user.yuangongzu,
        dca_b_user.xrgwjb,
        dca_b_user.xrgwjbprsj,
        dca_b_user.djrdzzw,
        dca_b_userapply.state apply_state,
        dca_b_user.gqpxqk,
        dca_b_user.gfhyspxqk,
        dca_b_user.zjspnlceqk
        FROM
        dca_b_user
        INNER JOIN dca_b_userapply ON dca_b_user.user_account = dca_b_userapply.user_account

        LEFT JOIN dca_b_report ON dca_b_userapply.user_account = dca_b_report.user_account
        AND dca_b_userapply.dca_year = dca_b_report.`year`
        AND dca_b_report.np_position_name IN (
        '主任医师',
        '副主任医师'
        )
        WHERE
        (
        dca_b_report.state IS NULL
        OR dca_b_report.state = 0
        )
        AND LENGTH(
        dca_b_userapply.np_position_name
        ) > 0
        AND dca_b_userapply.np_position_name IN (
        '教授主任医师',
        '副教授副主任医师'
        )
        <if test="dcaBUser.userAccount != null and dcaBUser.userAccount != ''"> and (dca_b_user.user_account =#{dcaBUser.userAccount} or (dca_b_user.user_account_name like concat('%', #{ dcaBUser.userAccount} ,'%')))</if>
        <if test="dcaBUser.dcaYear != null and dcaBUser.dcaYear != ''"> and (dca_b_userapply.dca_year =#{dcaBUser.dcaYear})</if>
        <if test="dcaBUser.yuangongzu != null and dcaBUser.yuangongzu != ''"> and LOCATE(dca_b_user.yuangongzu, #{ dcaBUser.yuangongzu})>0 </if>
        <if test="dcaBUser.ks != null and dcaBUser.ks != ''"> and  dca_b_userapply.gwdj in
            <foreach item="item" collection="dcaBUser.gwdjList" separator="," open="(" close=")" index="">
                #{item, jdbcType=VARCHAR}
            </foreach>
        </if>
    </select>

</mapper>