<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.dca.dao.DcaBTurtorMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="cc.mrbird.febs.dca.entity.DcaBTurtor">
                    <id column="id" property="id"/>
                    <result column="file_id" property="fileId"/>
                    <result column="file_url" property="fileUrl"/>
                    <result column="user_account_name" property="userAccountName"/>
                    <result column="user_account" property="userAccount"/>
                    <result column="turtor_main" property="turtorMain"/>
                    <result column="tutor_content" property="tutorContent"/>
                    <result column="state" property="state"/>
                    <result column="IS_DELETEMARK" property="isDeletemark"/>
                    <result column="CREATE_TIME" property="createTime"/>
                    <result column="MODIFY_TIME" property="modifyTime"/>
                    <result column="CREATE_USER_ID" property="createUserId"/>
                    <result column="MODIFY_USER_ID" property="modifyUserId"/>
                    <result column="auditMan" property="auditMan"/>
                    <result column="auditManName" property="auditManName"/>
                    <result column="auditDate" property="auditDate"/>
                    <result column="auditSuggestion" property="auditSuggestion"/>
                    <result column="IsUse" property="IsUse"/>
                    <result column="display_index" property="displayIndex"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        id, file_id, file_url, user_account_name, user_account, turtor_main, tutor_content, state, IS_DELETEMARK, CREATE_TIME, MODIFY_TIME, CREATE_USER_ID, MODIFY_USER_ID, auditMan, auditManName, auditDate, auditSuggestion, IsUse, display_index
    </sql>
    <update id="updateDcaBTurtor" parameterType="cc.mrbird.febs.dca.entity.DcaBTurtor">
        update dca_b_turtor
        <trim prefix="set" suffixOverrides=",">
<if test="fileId != null">file_id=#{fileId},</if>
<if test="fileUrl != null">file_url=#{fileUrl},</if>
<if test="userAccountName != null">user_account_name=#{userAccountName},</if>
<if test="userAccount != null">user_account=#{userAccount},</if>
<if test="turtorMain != null">turtor_main=#{turtorMain},</if>
<if test="tutorContent != null">tutor_content=#{tutorContent},</if>
<if test="state != null">state=#{state},</if>
<if test="isDeletemark != null">IS_DELETEMARK=#{isDeletemark},</if>
<if test="createTime != null">CREATE_TIME=#{createTime},</if>
<if test="modifyTime != null">MODIFY_TIME=#{modifyTime},</if>
<if test="createUserId != null">CREATE_USER_ID=#{createUserId},</if>
<if test="modifyUserId != null">MODIFY_USER_ID=#{modifyUserId},</if>
<if test="auditMan != null">auditMan=#{auditMan},</if>
<if test="auditManName != null">auditManName=#{auditManName},</if>
<if test="auditDate != null">auditDate=#{auditDate},</if>
<if test="auditSuggestion != null">auditSuggestion=#{auditSuggestion},</if>
<if test="IsUse != null">IsUse=#{IsUse},</if>
<if test="displayIndex != null">display_index=#{displayIndex},</if>
        </trim>
                where id=#{id}

    </update>
    <select id="findDcaBTurtor" resultType="cc.mrbird.febs.dca.entity.DcaBTurtor" parameterType="cc.mrbird.febs.dca.entity.DcaBTurtor">
        select  *  from dca_b_turtor
        where  1=1
            <if test="dcaBTurtor.id != null and dcaBTurtor.id != ''"> and dcaBTurtor.id =#{ dcaBTurtor.id} </if>
            <if test="dcaBTurtor.fileId != null and dcaBTurtor.fileId != ''"> and dcaBTurtor.file_id like concat('%', #{ dcaBTurtor.fileId} ,'%')</if>
            <if test="dcaBTurtor.fileUrl != null and dcaBTurtor.fileUrl != ''"> and dcaBTurtor.file_url like concat('%', #{ dcaBTurtor.fileUrl} ,'%')</if>
            <if test="dcaBTurtor.userAccountName != null and dcaBTurtor.userAccountName != ''"> and dcaBTurtor.user_account_name like concat('%', #{ dcaBTurtor.userAccountName} ,'%')</if>
            <if test="dcaBTurtor.userAccount != null and dcaBTurtor.userAccount != ''"> and dcaBTurtor.user_account like concat('%', #{ dcaBTurtor.userAccount} ,'%')</if>
            <if test="dcaBTurtor.turtorMain != null and dcaBTurtor.turtorMain != ''"> and dcaBTurtor.turtor_main like concat('%', #{ dcaBTurtor.turtorMain} ,'%')</if>
            <if test="dcaBTurtor.tutorContent != null and dcaBTurtor.tutorContent != ''"> and dcaBTurtor.tutor_content like concat('%', #{ dcaBTurtor.tutorContent} ,'%')</if>
        <if test="dcaBTurtor.state != null"> and dcaBTurtor.state =#{ dcaBTurtor.state} </if>
        <if test="dcaBTurtor.isDeletemark != null"> and dcaBTurtor.IS_DELETEMARK =#{ dcaBTurtor.isDeletemark} </if>
        <if test="dcaBTurtor.createTimeFrom!= null">
            AND dcaBTurtor.CREATE_TIME <![CDATA[ >= ]]>  #{dcaBTurtor.createTimeFrom}
        </if>
        <if test="dcaBTurtor.createTimeTo!= null">
            AND dcaBTurtor.CREATE_TIME <![CDATA[ <= ]]>  #{dcaBTurtor.createTimeTo}
        </if>
        <if test="dcaBTurtor.modifyTimeFrom!= null">
            AND dcaBTurtor.MODIFY_TIME <![CDATA[ >= ]]>  #{dcaBTurtor.modifyTimeFrom}
        </if>
        <if test="dcaBTurtor.modifyTimeTo!= null">
            AND dcaBTurtor.MODIFY_TIME <![CDATA[ <= ]]>  #{dcaBTurtor.modifyTimeTo}
        </if>
            <if test="dcaBTurtor.auditMan != null and dcaBTurtor.auditMan != ''"> and dcaBTurtor.auditMan like concat('%', #{ dcaBTurtor.auditMan} ,'%')</if>
            <if test="dcaBTurtor.auditManName != null and dcaBTurtor.auditManName != ''"> and dcaBTurtor.auditManName like concat('%', #{ dcaBTurtor.auditManName} ,'%')</if>
        <if test="dcaBTurtor.auditDateFrom!= null">
            AND dcaBTurtor.auditDate <![CDATA[ >= ]]>  #{dcaBTurtor.auditDateFrom}
        </if>
        <if test="dcaBTurtor.auditDateTo!= null">
            AND dcaBTurtor.auditDate <![CDATA[ <= ]]>  #{dcaBTurtor.auditDateTo}
        </if>
            <if test="dcaBTurtor.auditSuggestion != null and dcaBTurtor.auditSuggestion != ''"> and dcaBTurtor.auditSuggestion like concat('%', #{ dcaBTurtor.auditSuggestion} ,'%')</if>
        <if test="dcaBTurtor.displayIndex != null"> and dcaBTurtor.display_index =#{ dcaBTurtor.displayIndex} </if>
</select>

</mapper>