<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.dca.dao.DcaBPrizeorpunishMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="cc.mrbird.febs.dca.entity.DcaBPrizeorpunish">
                    <id column="id" property="id"/>
                    <result column="file_id" property="fileId"/>
                    <result column="display_index" property="displayIndex"/>
                    <result column="file_url" property="fileUrl"/>
                    <result column="user_account_name" property="userAccountName"/>
                    <result column="user_account" property="userAccount"/>
                    <result column="pp_start_time" property="ppStartTime"/>
                    <result column="pp_end_time" property="ppEndTime"/>
                    <result column="pp_lb" property="ppLb"/>
                    <result column="pp_partment" property="ppPartment"/>
                    <result column="pp_category" property="ppCategory"/>
                    <result column="pp_content" property="ppContent"/>
                    <result column="state" property="state"/>
            <result column="audit_state" property="auditState"/>
                    <result column="IS_DELETEMARK" property="isDeletemark"/>
                    <result column="CREATE_TIME" property="createTime"/>
                    <result column="MODIFY_TIME" property="modifyTime"/>
                    <result column="CREATE_USER_ID" property="createUserId"/>
                    <result column="MODIFY_USER_ID" property="modifyUserId"/>
                    <result column="auditMan" property="auditMan"/>
                    <result column="auditManName" property="auditManName"/>
                    <result column="auditDate" property="auditDate"/>
                    <result column="auditSuggestion" property="auditSuggestion"/>
                    <result column="IsUse" property="IsUse"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        id, file_id, display_index, file_url, user_account_name, user_account, pp_start_time, pp_end_time, pp_lb, pp_partment, pp_category, pp_content, state, audit_state, IS_DELETEMARK, CREATE_TIME, MODIFY_TIME, CREATE_USER_ID, MODIFY_USER_ID, auditMan, auditManName, auditDate, auditSuggestion, IsUse
    </sql>
    <update id="updateDcaBPrizeorpunish" parameterType="cc.mrbird.febs.dca.entity.DcaBPrizeorpunish">
        update dca_b_prizeorpunish
        <trim prefix="set" suffixOverrides=",">
<if test="fileId != null">file_id=#{fileId},</if>
<if test="displayIndex != null">display_index=#{displayIndex},</if>
<if test="fileUrl != null">file_url=#{fileUrl},</if>
<if test="userAccountName != null">user_account_name=#{userAccountName},</if>
<if test="userAccount != null">user_account=#{userAccount},</if>
<if test="ppStartTime != null">pp_start_time=#{ppStartTime},</if>
<if test="ppEndTime != null">pp_end_time=#{ppEndTime},</if>
<if test="ppLb != null">pp_lb=#{ppLb},</if>
<if test="ppPartment != null">pp_partment=#{ppPartment},</if>
<if test="ppCategory != null">pp_category=#{ppCategory},</if>
<if test="ppContent != null">pp_content=#{ppContent},</if>
<if test="state != null">state=#{state},</if>
            <if test="auditState != null">audit_state=#{auditState},</if>
<if test="isDeletemark != null">IS_DELETEMARK=#{isDeletemark},</if>
<if test="createTime != null">CREATE_TIME=#{createTime},</if>
<if test="modifyTime != null">MODIFY_TIME=#{modifyTime},</if>
<if test="createUserId != null">CREATE_USER_ID=#{createUserId},</if>
<if test="modifyUserId != null">MODIFY_USER_ID=#{modifyUserId},</if>
<if test="auditMan != null">auditMan=#{auditMan},</if>
<if test="auditManName != null">auditManName=#{auditManName},</if>
<if test="auditDate != null">auditDate=#{auditDate},</if>
<if test="auditSuggestion != null">auditSuggestion=#{auditSuggestion},</if>
<if test="IsUse != null">IsUse=#{IsUse},</if>
        </trim>
                where id=#{id}

    </update>
    <select id="findDcaBPrizeorpunish" resultType="cc.mrbird.febs.dca.entity.DcaBPrizeorpunish" parameterType="cc.mrbird.febs.dca.entity.DcaBPrizeorpunish">
        select  *  from dca_b_prizeorpunish
        where  1=1
            <if test="dcaBPrizeorpunish.id != null and dcaBPrizeorpunish.id != ''"> and dca_b_prizeorpunish.id =#{ dcaBPrizeorpunish.id} </if>
            <if test="dcaBPrizeorpunish.fileId != null and dcaBPrizeorpunish.fileId != ''"> and dca_b_prizeorpunish.file_id like concat('%', #{ dcaBPrizeorpunish.fileId} ,'%')</if>
        <if test="dcaBPrizeorpunish.displayIndex != null"> and dca_b_prizeorpunish.display_index =#{ dcaBPrizeorpunish.displayIndex} </if>
            <if test="dcaBPrizeorpunish.fileUrl != null and dcaBPrizeorpunish.fileUrl != ''"> and dca_b_prizeorpunish.file_url like concat('%', #{ dcaBPrizeorpunish.fileUrl} ,'%')</if>
            <if test="dcaBPrizeorpunish.userAccountName != null and dcaBPrizeorpunish.userAccountName != ''"> and dca_b_prizeorpunish.user_account_name like concat('%', #{ dcaBPrizeorpunish.userAccountName} ,'%')</if>
            <if test="dcaBPrizeorpunish.userAccount != null and dcaBPrizeorpunish.userAccount != ''"> and dca_b_prizeorpunish.user_account like concat('%', #{ dcaBPrizeorpunish.userAccount} ,'%')</if>
        <if test="dcaBPrizeorpunish.ppStartTimeFrom!= null">
            AND dca_b_prizeorpunish.pp_start_time <![CDATA[ >= ]]>  #{dcaBPrizeorpunish.ppStartTimeFrom}
        </if>
        <if test="dcaBPrizeorpunish.ppStartTimeTo!= null">
            AND dca_b_prizeorpunish.pp_start_time <![CDATA[ <= ]]>  #{dcaBPrizeorpunish.ppStartTimeTo}
        </if>
        <if test="dcaBPrizeorpunish.ppEndTimeFrom!= null">
            AND dca_b_prizeorpunish.pp_end_time <![CDATA[ >= ]]>  #{dcaBPrizeorpunish.ppEndTimeFrom}
        </if>
        <if test="dcaBPrizeorpunish.ppEndTimeTo!= null">
            AND dca_b_prizeorpunish.pp_end_time <![CDATA[ <= ]]>  #{dcaBPrizeorpunish.ppEndTimeTo}
        </if>
            <if test="dcaBPrizeorpunish.ppLb != null and dcaBPrizeorpunish.ppLb != ''"> and dca_b_prizeorpunish.pp_lb like concat('%', #{ dcaBPrizeorpunish.ppLb} ,'%')</if>
            <if test="dcaBPrizeorpunish.ppPartment != null and dcaBPrizeorpunish.ppPartment != ''"> and dca_b_prizeorpunish.pp_partment like concat('%', #{ dcaBPrizeorpunish.ppPartment} ,'%')</if>
            <if test="dcaBPrizeorpunish.ppCategory != null and dcaBPrizeorpunish.ppCategory != ''"> and dca_b_prizeorpunish.pp_category like concat('%', #{ dcaBPrizeorpunish.ppCategory} ,'%')</if>
            <if test="dcaBPrizeorpunish.ppContent != null and dcaBPrizeorpunish.ppContent != ''"> and dca_b_prizeorpunish.pp_content like concat('%', #{ dcaBPrizeorpunish.ppContent} ,'%')</if>
        <if test="dcaBPrizeorpunish.state != null"> and dca_b_prizeorpunish.state =#{ dcaBPrizeorpunish.state} </if>
        <if test="dcaBPrizeorpunish.auditState != null"> and dca_b_prizeorpunish.audit_state =#{ dcaBPrizeorpunish.auditState} </if>
        <if test="dcaBPrizeorpunish.isDeletemark != null"> and dca_b_prizeorpunish.IS_DELETEMARK =#{ dcaBPrizeorpunish.isDeletemark} </if>
        <if test="dcaBPrizeorpunish.createTimeFrom!= null">
            AND dca_b_prizeorpunish.CREATE_TIME <![CDATA[ >= ]]>  #{dcaBPrizeorpunish.createTimeFrom}
        </if>
        <if test="dcaBPrizeorpunish.createTimeTo!= null">
            AND dca_b_prizeorpunish.CREATE_TIME <![CDATA[ <= ]]>  #{dcaBPrizeorpunish.createTimeTo}
        </if>
        <if test="dcaBPrizeorpunish.modifyTimeFrom!= null">
            AND dca_b_prizeorpunish.MODIFY_TIME <![CDATA[ >= ]]>  #{dcaBPrizeorpunish.modifyTimeFrom}
        </if>
        <if test="dcaBPrizeorpunish.modifyTimeTo!= null">
            AND dca_b_prizeorpunish.MODIFY_TIME <![CDATA[ <= ]]>  #{dcaBPrizeorpunish.modifyTimeTo}
        </if>
            <if test="dcaBPrizeorpunish.auditMan != null and dcaBPrizeorpunish.auditMan != ''"> and dca_b_prizeorpunish.auditMan like concat('%', #{ dcaBPrizeorpunish.auditMan} ,'%')</if>
            <if test="dcaBPrizeorpunish.auditManName != null and dcaBPrizeorpunish.auditManName != ''"> and dca_b_prizeorpunish.auditManName like concat('%', #{ dcaBPrizeorpunish.auditManName} ,'%')</if>
        <if test="dcaBPrizeorpunish.auditDateFrom!= null">
            AND dca_b_prizeorpunish.auditDate <![CDATA[ >= ]]>  #{dcaBPrizeorpunish.auditDateFrom}
        </if>
        <if test="dcaBPrizeorpunish.auditDateTo!= null">
            AND dca_b_prizeorpunish.auditDate <![CDATA[ <= ]]>  #{dcaBPrizeorpunish.auditDateTo}
        </if>
            <if test="dcaBPrizeorpunish.auditSuggestion != null and dcaBPrizeorpunish.auditSuggestion != ''"> and dca_b_prizeorpunish.auditSuggestion like concat('%', #{ dcaBPrizeorpunish.auditSuggestion} ,'%')</if>
</select>

</mapper>