<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.dca.dao.DcaBInnovatebuildMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="cc.mrbird.febs.dca.entity.DcaBInnovatebuild">
                    <id column="id" property="id"/>
                    <result column="file_id" property="fileId"/>
                    <result column="display_index" property="displayIndex"/>
                    <result column="file_url" property="fileUrl"/>
                    <result column="user_account_name" property="userAccountName"/>
                    <result column="user_account" property="userAccount"/>
                    <result column="project_name" property="projectName"/>
                    <result column="project_type" property="projectType"/>
                    <result column="project_source" property="projectSource"/>
                    <result column="contract_fund" property="contractFund"/>
                    <result column="real_fund" property="realFund"/>
                    <result column="audit_date" property="auditDate2"/>
                    <result column="start_date" property="startDate"/>
                    <result column="end_date" property="endDate"/>
                    <result column="rank_num" property="rankNum"/>
                    <result column="state" property="state"/>
                    <result column="audit_state" property="auditState"/>
                    <result column="IS_DELETEMARK" property="isDeletemark"/>
                    <result column="CREATE_TIME" property="createTime"/>
                    <result column="MODIFY_TIME" property="modifyTime"/>
                    <result column="CREATE_USER_ID" property="createUserId"/>
                    <result column="MODIFY_USER_ID" property="modifyUserId"/>
                    <result column="auditMan" property="auditMan"/>
                    <result column="auditManName" property="auditManName"/>
                    <result column="auditDate" property="auditDate"/>
                    <result column="auditSuggestion" property="auditSuggestion"/>
                    <result column="IsUse" property="IsUse"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        id, file_id, display_index, file_url, user_account_name, user_account, project_name, project_type, project_source, contract_fund, real_fund, audit_date, start_date, end_date, rank_num, state, audit_state, IS_DELETEMARK, CREATE_TIME, MODIFY_TIME, CREATE_USER_ID, MODIFY_USER_ID, auditMan, auditManName, auditDate, auditSuggestion, IsUse
    </sql>
    <update id="updateDcaBInnovatebuild" parameterType="cc.mrbird.febs.dca.entity.DcaBInnovatebuild">
        update dca_b_innovatebuild
        <trim prefix="set" suffixOverrides=",">
<if test="fileId != null">file_id=#{fileId},</if>
<if test="displayIndex != null">display_index=#{displayIndex},</if>
<if test="fileUrl != null">file_url=#{fileUrl},</if>
<if test="userAccountName != null">user_account_name=#{userAccountName},</if>
<if test="userAccount != null">user_account=#{userAccount},</if>
<if test="projectName != null">project_name=#{projectName},</if>
<if test="projectType != null">project_type=#{projectType},</if>
<if test="projectSource != null">project_source=#{projectSource},</if>
<if test="contractFund != null">contract_fund=#{contractFund},</if>
<if test="realFund != null">real_fund=#{realFund},</if>
<if test="auditDate2 != null">audit_date=#{auditDate2},</if>
<if test="startDate != null">start_date=#{startDate},</if>
<if test="endDate != null">end_date=#{endDate},</if>
<if test="rankNum != null">rank_num=#{rankNum},</if>
<if test="state != null">state=#{state},</if>
<if test="auditState != null">audit_state=#{auditState},</if>
<if test="isDeletemark != null">IS_DELETEMARK=#{isDeletemark},</if>
<if test="createTime != null">CREATE_TIME=#{createTime},</if>
<if test="modifyTime != null">MODIFY_TIME=#{modifyTime},</if>
<if test="createUserId != null">CREATE_USER_ID=#{createUserId},</if>
<if test="modifyUserId != null">MODIFY_USER_ID=#{modifyUserId},</if>
<if test="auditMan != null">auditMan=#{auditMan},</if>
<if test="auditManName != null">auditManName=#{auditManName},</if>
<if test="auditDate != null">auditDate=#{auditDate},</if>
<if test="auditSuggestion != null">auditSuggestion=#{auditSuggestion},</if>
<if test="IsUse != null">IsUse=#{IsUse},</if>
        </trim>
                where id=#{id}

    </update>
    <select id="findDcaBInnovatebuild" resultType="cc.mrbird.febs.dca.entity.DcaBInnovatebuild" parameterType="cc.mrbird.febs.dca.entity.DcaBInnovatebuild">
        select  *  from dca_b_innovatebuild
        where  1=1
            <if test="dcaBInnovatebuild.id != null and dcaBInnovatebuild.id != ''"> and dcaBInnovatebuild.id =#{ dcaBInnovatebuild.id} </if>
            <if test="dcaBInnovatebuild.fileId != null and dcaBInnovatebuild.fileId != ''"> and dcaBInnovatebuild.file_id like concat('%', #{ dcaBInnovatebuild.fileId} ,'%')</if>
        <if test="dcaBInnovatebuild.displayIndex != null"> and dcaBInnovatebuild.display_index =#{ dcaBInnovatebuild.displayIndex} </if>
            <if test="dcaBInnovatebuild.fileUrl != null and dcaBInnovatebuild.fileUrl != ''"> and dcaBInnovatebuild.file_url like concat('%', #{ dcaBInnovatebuild.fileUrl} ,'%')</if>
            <if test="dcaBInnovatebuild.userAccountName != null and dcaBInnovatebuild.userAccountName != ''"> and dcaBInnovatebuild.user_account_name like concat('%', #{ dcaBInnovatebuild.userAccountName} ,'%')</if>
            <if test="dcaBInnovatebuild.userAccount != null and dcaBInnovatebuild.userAccount != ''"> and dcaBInnovatebuild.user_account like concat('%', #{ dcaBInnovatebuild.userAccount} ,'%')</if>
            <if test="dcaBInnovatebuild.projectName != null and dcaBInnovatebuild.projectName != ''"> and dcaBInnovatebuild.project_name like concat('%', #{ dcaBInnovatebuild.projectName} ,'%')</if>
            <if test="dcaBInnovatebuild.projectType != null and dcaBInnovatebuild.projectType != ''"> and dcaBInnovatebuild.project_type like concat('%', #{ dcaBInnovatebuild.projectType} ,'%')</if>
            <if test="dcaBInnovatebuild.projectSource != null and dcaBInnovatebuild.projectSource != ''"> and dcaBInnovatebuild.project_source like concat('%', #{ dcaBInnovatebuild.projectSource} ,'%')</if>

        <if test="dcaBInnovatebuild.startDateFrom!= null">
            AND dcaBInnovatebuild.start_date <![CDATA[ >= ]]>  #{dcaBInnovatebuild.startDateFrom}
        </if>
        <if test="dcaBInnovatebuild.startDateTo!= null">
            AND dcaBInnovatebuild.start_date <![CDATA[ <= ]]>  #{dcaBInnovatebuild.startDateTo}
        </if>
        <if test="dcaBInnovatebuild.endDateFrom!= null">
            AND dcaBInnovatebuild.end_date <![CDATA[ >= ]]>  #{dcaBInnovatebuild.endDateFrom}
        </if>
        <if test="dcaBInnovatebuild.endDateTo!= null">
            AND dcaBInnovatebuild.end_date <![CDATA[ <= ]]>  #{dcaBInnovatebuild.endDateTo}
        </if>
        <if test="dcaBInnovatebuild.rankNum != null"> and dcaBInnovatebuild.rank_num =#{ dcaBInnovatebuild.rankNum} </if>
        <if test="dcaBInnovatebuild.state != null"> and dcaBInnovatebuild.state =#{ dcaBInnovatebuild.state} </if>
        <if test="dcaBInnovatebuild.auditState != null"> and dcaBInnovatebuild.audit_state =#{ dcaBInnovatebuild.auditState} </if>
        <if test="dcaBInnovatebuild.isDeletemark != null"> and dcaBInnovatebuild.IS_DELETEMARK =#{ dcaBInnovatebuild.isDeletemark} </if>
        <if test="dcaBInnovatebuild.createTimeFrom!= null">
            AND dcaBInnovatebuild.CREATE_TIME <![CDATA[ >= ]]>  #{dcaBInnovatebuild.createTimeFrom}
        </if>
        <if test="dcaBInnovatebuild.createTimeTo!= null">
            AND dcaBInnovatebuild.CREATE_TIME <![CDATA[ <= ]]>  #{dcaBInnovatebuild.createTimeTo}
        </if>
        <if test="dcaBInnovatebuild.modifyTimeFrom!= null">
            AND dcaBInnovatebuild.MODIFY_TIME <![CDATA[ >= ]]>  #{dcaBInnovatebuild.modifyTimeFrom}
        </if>
        <if test="dcaBInnovatebuild.modifyTimeTo!= null">
            AND dcaBInnovatebuild.MODIFY_TIME <![CDATA[ <= ]]>  #{dcaBInnovatebuild.modifyTimeTo}
        </if>
            <if test="dcaBInnovatebuild.auditMan != null and dcaBInnovatebuild.auditMan != ''"> and dcaBInnovatebuild.auditMan like concat('%', #{ dcaBInnovatebuild.auditMan} ,'%')</if>
            <if test="dcaBInnovatebuild.auditManName != null and dcaBInnovatebuild.auditManName != ''"> and dcaBInnovatebuild.auditManName like concat('%', #{ dcaBInnovatebuild.auditManName} ,'%')</if>
        <if test="dcaBInnovatebuild.auditDateFrom!= null">
            AND dcaBInnovatebuild.auditDate <![CDATA[ >= ]]>  #{dcaBInnovatebuild.auditDateFrom}
        </if>
        <if test="dcaBInnovatebuild.auditDateTo!= null">
            AND dcaBInnovatebuild.auditDate <![CDATA[ <= ]]>  #{dcaBInnovatebuild.auditDateTo}
        </if>
            <if test="dcaBInnovatebuild.auditSuggestion != null and dcaBInnovatebuild.auditSuggestion != ''"> and dcaBInnovatebuild.auditSuggestion like concat('%', #{ dcaBInnovatebuild.auditSuggestion} ,'%')</if>
</select>

</mapper>