<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.dca.dao.DcaBSciencepublishMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="cc.mrbird.febs.dca.entity.DcaBSciencepublish">
                    <id column="id" property="id"/>
                    <result column="file_id" property="fileId"/>
                    <result column="display_index" property="displayIndex"/>
                    <result column="file_url" property="fileUrl"/>
                    <result column="user_account_name" property="userAccountName"/>
                    <result column="user_account" property="userAccount"/>
                    <result column="paper_name" property="paperName"/>
                    <result column="journal_name" property="journalName"/>
                    <result column="journal_code" property="journalCode"/>
                    <result column="paper_publishdate" property="paperPublishdate"/>
                    <result column="wzlx" property="wzlx"/>
                    <result column="djzz" property="djzz"/>
                    <result column="qkjb" property="qkjb"/>
                    <result column="cdzs" property="cdzs"/>
                    <result column="paper_shoulu" property="paperShoulu"/>
                    <result column="paper_cause" property="paperCause"/>
                    <result column="is_best" property="isBest"/>
                    <result column="author_rank" property="authorRank"/>
                    <result column="other_times" property="otherTimes"/>
                    <result column="is_jxzcsb" property="isJxzcsb"/>
                    <result column="is_lczcsb" property="isLczcsb"/>
                    <result column="audit_qkjb" property="auditQkjb"/>
                    <result column="jxzcsl" property="jxzcsl"/>
                    <result column="lczcsl" property="lczcsl"/>
                    <result column="audit_xuhao" property="auditXuhao"/>
                    <result column="audit_totalnum" property="auditTotalnum"/>
                    <result column="audit_isfirst" property="auditIsfirst"/>
                    <result column="state" property="state"/>
                    <result column="audit_state" property="auditState"/>
            <result column="xsd" property="xsd"/>
            <result column="is_permit" property="isPermit"/>
                    <result column="IS_DELETEMARK" property="isDeletemark"/>
                    <result column="CREATE_TIME" property="createTime"/>
                    <result column="MODIFY_TIME" property="modifyTime"/>
                    <result column="CREATE_USER_ID" property="createUserId"/>
                    <result column="MODIFY_USER_ID" property="modifyUserId"/>
                    <result column="auditMan" property="auditMan"/>
                    <result column="auditManName" property="auditManName"/>
                    <result column="auditDate" property="auditDate"/>
                    <result column="auditSuggestion" property="auditSuggestion"/>
                    <result column="IsUse" property="isUse"/>
            <result column="sci_value" property="sciValue"/>
            <result column="rank_value" property="rankValue"/>
            <result column="rank_sear" property="rankSear"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        id, file_id, display_index, file_url, user_account_name, user_account, paper_name, journal_name, journal_code, paper_publishdate, wzlx, djzz, qkjb, cdzs, paper_shoulu, paper_cause, is_best, author_rank, other_times, is_jxzcsb, is_lczcsb, audit_qkjb, jxzcsl, lczcsl, audit_xuhao, audit_totalnum, audit_isfirst, state, audit_state,is_permit,xsd, IS_DELETEMARK, CREATE_TIME, MODIFY_TIME, CREATE_USER_ID, MODIFY_USER_ID, auditMan, auditManName, auditDate, auditSuggestion, IsUse, sci_value,rank_value,rank_sear
    </sql>
    <update id="updateDcaBSciencepublish" parameterType="cc.mrbird.febs.dca.entity.DcaBSciencepublish">
        update dca_b_sciencepublish
        <trim prefix="set" suffixOverrides=",">
<if test="fileId != null">file_id=#{fileId},</if>
<if test="displayIndex != null">display_index=#{displayIndex},</if>
<if test="fileUrl != null">file_url=#{fileUrl},</if>
<if test="userAccountName != null">user_account_name=#{userAccountName},</if>
<if test="userAccount != null">user_account=#{userAccount},</if>
<if test="paperName != null">paper_name=#{paperName},</if>
<if test="journalName != null">journal_name=#{journalName},</if>
<if test="journalCode != null">journal_code=#{journalCode},</if>
<if test="paperPublishdate != null">paper_publishdate=#{paperPublishdate},</if>
<if test="wzlx != null">wzlx=#{wzlx},</if>
<if test="djzz != null">djzz=#{djzz},</if>
<if test="qkjb != null">qkjb=#{qkjb},</if>
<if test="cdzs != null">cdzs=#{cdzs},</if>
<if test="paperShoulu != null">paper_shoulu=#{paperShoulu},</if>
<if test="paperCause != null">paper_cause=#{paperCause},</if>
<if test="isBest != null">is_best=#{isBest},</if>
<if test="authorRank != null">author_rank=#{authorRank},</if>
<if test="otherTimes != null">other_times=#{otherTimes},</if>
<if test="isJxzcsb != null">is_jxzcsb=#{isJxzcsb},</if>
<if test="isLczcsb != null">is_lczcsb=#{isLczcsb},</if>
<if test="auditQkjb != null">audit_qkjb=#{auditQkjb},</if>
<if test="jxzcsl != null">jxzcsl=#{jxzcsl},</if>
<if test="lczcsl != null">lczcsl=#{lczcsl},</if>
<if test="auditXuhao != null">audit_xuhao=#{auditXuhao},</if>
<if test="auditTotalnum != null">audit_totalnum=#{auditTotalnum},</if>
<if test="auditIsfirst != null">audit_isfirst=#{auditIsfirst},</if>
<if test="state != null">state=#{state},</if>
<if test="auditState != null">audit_state=#{auditState},</if>
            <if test="isPermit != null">is_permit=#{isPermit},</if>
            <if test="xsd != null">xsd=#{xsd},</if>
<if test="isDeletemark != null">IS_DELETEMARK=#{isDeletemark},</if>
<if test="createTime != null">CREATE_TIME=#{createTime},</if>
<if test="modifyTime != null">MODIFY_TIME=#{modifyTime},</if>
<if test="createUserId != null">CREATE_USER_ID=#{createUserId},</if>
<if test="modifyUserId != null">MODIFY_USER_ID=#{modifyUserId},</if>
<if test="auditMan != null">auditMan=#{auditMan},</if>
<if test="auditManName != null">auditManName=#{auditManName},</if>
<if test="auditDate != null">auditDate=#{auditDate},</if>
<if test="auditSuggestion != null">auditSuggestion=#{auditSuggestion},</if>
<if test="isUse != null">IsUse=#{isUse},</if>
            <if test="sciValue != null">sci_value=#{sciValue},</if>
            <if test="rankValue != null">rank_value=#{rankValue},</if>
            <if test="rankSear != null">rank_sear=#{rankSear},</if>
        </trim>
                where id=#{id}

    </update>
    <select id="findDcaBSciencepublish" resultType="cc.mrbird.febs.dca.entity.DcaBSciencepublish" parameterType="cc.mrbird.febs.dca.entity.DcaBSciencepublish">
        select  *  from dca_b_sciencepublish
        where  1=1
            <if test="dcaBSciencepublish.id != null and dcaBSciencepublish.id != ''"> and dcaBSciencepublish.id =#{ dcaBSciencepublish.id} </if>
            <if test="dcaBSciencepublish.fileId != null and dcaBSciencepublish.fileId != ''"> and dcaBSciencepublish.file_id like concat('%', #{ dcaBSciencepublish.fileId} ,'%')</if>
        <if test="dcaBSciencepublish.displayIndex != null"> and dcaBSciencepublish.display_index =#{ dcaBSciencepublish.displayIndex} </if>
            <if test="dcaBSciencepublish.fileUrl != null and dcaBSciencepublish.fileUrl != ''"> and dcaBSciencepublish.file_url like concat('%', #{ dcaBSciencepublish.fileUrl} ,'%')</if>
            <if test="dcaBSciencepublish.userAccountName != null and dcaBSciencepublish.userAccountName != ''"> and dcaBSciencepublish.user_account_name like concat('%', #{ dcaBSciencepublish.userAccountName} ,'%')</if>
            <if test="dcaBSciencepublish.userAccount != null and dcaBSciencepublish.userAccount != ''"> and dcaBSciencepublish.user_account like concat('%', #{ dcaBSciencepublish.userAccount} ,'%')</if>
            <if test="dcaBSciencepublish.paperName != null and dcaBSciencepublish.paperName != ''"> and dcaBSciencepublish.paper_name like concat('%', #{ dcaBSciencepublish.paperName} ,'%')</if>
            <if test="dcaBSciencepublish.journalName != null and dcaBSciencepublish.journalName != ''"> and dcaBSciencepublish.journal_name like concat('%', #{ dcaBSciencepublish.journalName} ,'%')</if>
            <if test="dcaBSciencepublish.journalCode != null and dcaBSciencepublish.journalCode != ''"> and dcaBSciencepublish.journal_code like concat('%', #{ dcaBSciencepublish.journalCode} ,'%')</if>
        <if test="dcaBSciencepublish.paperPublishdateFrom!= null">
            AND dcaBSciencepublish.paper_publishdate <![CDATA[ >= ]]>  #{dcaBSciencepublish.paperPublishdateFrom}
        </if>
        <if test="dcaBSciencepublish.paperPublishdateTo!= null">
            AND dcaBSciencepublish.paper_publishdate <![CDATA[ <= ]]>  #{dcaBSciencepublish.paperPublishdateTo}
        </if>
            <if test="dcaBSciencepublish.wzlx != null and dcaBSciencepublish.wzlx != ''"> and dcaBSciencepublish.wzlx like concat('%', #{ dcaBSciencepublish.wzlx} ,'%')</if>
            <if test="dcaBSciencepublish.djzz != null and dcaBSciencepublish.djzz != ''"> and dcaBSciencepublish.djzz like concat('%', #{ dcaBSciencepublish.djzz} ,'%')</if>
            <if test="dcaBSciencepublish.qkjb != null and dcaBSciencepublish.qkjb != ''"> and dcaBSciencepublish.qkjb like concat('%', #{ dcaBSciencepublish.qkjb} ,'%')</if>
            <if test="dcaBSciencepublish.paperShoulu != null and dcaBSciencepublish.paperShoulu != ''"> and dcaBSciencepublish.paper_shoulu like concat('%', #{ dcaBSciencepublish.paperShoulu} ,'%')</if>
            <if test="dcaBSciencepublish.paperCause != null and dcaBSciencepublish.paperCause != ''"> and dcaBSciencepublish.paper_cause like concat('%', #{ dcaBSciencepublish.paperCause} ,'%')</if>
            <if test="dcaBSciencepublish.isBest != null and dcaBSciencepublish.isBest != ''"> and dcaBSciencepublish.is_best like concat('%', #{ dcaBSciencepublish.isBest} ,'%')</if>
            <if test="dcaBSciencepublish.authorRank != null and dcaBSciencepublish.authorRank != ''"> and dcaBSciencepublish.author_rank like concat('%', #{ dcaBSciencepublish.authorRank} ,'%')</if>
            <if test="dcaBSciencepublish.otherTimes != null and dcaBSciencepublish.otherTimes != ''"> and dcaBSciencepublish.other_times like concat('%', #{ dcaBSciencepublish.otherTimes} ,'%')</if>
            <if test="dcaBSciencepublish.isJxzcsb != null and dcaBSciencepublish.isJxzcsb != ''"> and dcaBSciencepublish.is_jxzcsb like concat('%', #{ dcaBSciencepublish.isJxzcsb} ,'%')</if>
            <if test="dcaBSciencepublish.isLczcsb != null and dcaBSciencepublish.isLczcsb != ''"> and dcaBSciencepublish.is_lczcsb like concat('%', #{ dcaBSciencepublish.isLczcsb} ,'%')</if>
            <if test="dcaBSciencepublish.auditQkjb != null and dcaBSciencepublish.auditQkjb != ''"> and dcaBSciencepublish.audit_qkjb like concat('%', #{ dcaBSciencepublish.auditQkjb} ,'%')</if>
            <if test="dcaBSciencepublish.jxzcsl != null and dcaBSciencepublish.jxzcsl != ''"> and dcaBSciencepublish.jxzcsl like concat('%', #{ dcaBSciencepublish.jxzcsl} ,'%')</if>
            <if test="dcaBSciencepublish.lczcsl != null and dcaBSciencepublish.lczcsl != ''"> and dcaBSciencepublish.lczcsl like concat('%', #{ dcaBSciencepublish.lczcsl} ,'%')</if>
        <if test="dcaBSciencepublish.auditXuhao != null"> and dcaBSciencepublish.audit_xuhao =#{ dcaBSciencepublish.auditXuhao} </if>
        <if test="dcaBSciencepublish.auditTotalnum != null"> and dcaBSciencepublish.audit_totalnum =#{ dcaBSciencepublish.auditTotalnum} </if>
        <if test="dcaBSciencepublish.state != null"> and dcaBSciencepublish.state =#{ dcaBSciencepublish.state} </if>
        <if test="dcaBSciencepublish.auditState != null"> and dcaBSciencepublish.audit_state =#{ dcaBSciencepublish.auditState} </if>
        <if test="dcaBSciencepublish.isDeletemark != null"> and dcaBSciencepublish.IS_DELETEMARK =#{ dcaBSciencepublish.isDeletemark} </if>
        <if test="dcaBSciencepublish.createTimeFrom!= null">
            AND dcaBSciencepublish.CREATE_TIME <![CDATA[ >= ]]>  #{dcaBSciencepublish.createTimeFrom}
        </if>
        <if test="dcaBSciencepublish.createTimeTo!= null">
            AND dcaBSciencepublish.CREATE_TIME <![CDATA[ <= ]]>  #{dcaBSciencepublish.createTimeTo}
        </if>
        <if test="dcaBSciencepublish.modifyTimeFrom!= null">
            AND dcaBSciencepublish.MODIFY_TIME <![CDATA[ >= ]]>  #{dcaBSciencepublish.modifyTimeFrom}
        </if>
        <if test="dcaBSciencepublish.modifyTimeTo!= null">
            AND dcaBSciencepublish.MODIFY_TIME <![CDATA[ <= ]]>  #{dcaBSciencepublish.modifyTimeTo}
        </if>
            <if test="dcaBSciencepublish.auditMan != null and dcaBSciencepublish.auditMan != ''"> and dcaBSciencepublish.auditMan like concat('%', #{ dcaBSciencepublish.auditMan} ,'%')</if>
            <if test="dcaBSciencepublish.auditManName != null and dcaBSciencepublish.auditManName != ''"> and dcaBSciencepublish.auditManName like concat('%', #{ dcaBSciencepublish.auditManName} ,'%')</if>
        <if test="dcaBSciencepublish.auditDateFrom!= null">
            AND dcaBSciencepublish.auditDate <![CDATA[ >= ]]>  #{dcaBSciencepublish.auditDateFrom}
        </if>
        <if test="dcaBSciencepublish.auditDateTo!= null">
            AND dcaBSciencepublish.auditDate <![CDATA[ <= ]]>  #{dcaBSciencepublish.auditDateTo}
        </if>
            <if test="dcaBSciencepublish.auditSuggestion != null and dcaBSciencepublish.auditSuggestion != ''"> and dcaBSciencepublish.auditSuggestion like concat('%', #{ dcaBSciencepublish.auditSuggestion} ,'%')</if>
</select>

</mapper>