<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.dca.dao.DcaBApplyjobMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="cc.mrbird.febs.dca.entity.DcaBApplyjob">
                    <id column="id" property="id"/>
                    <result column="user_account_name" property="userAccountName"/>
                    <result column="user_account" property="userAccount"/>
                    <result column="apply_content" property="applyContent"/>
                    <result column="state" property="state"/>
                    <result column="IS_DELETEMARK" property="isDeletemark"/>
                    <result column="CREATE_TIME" property="createTime"/>
                    <result column="MODIFY_TIME" property="modifyTime"/>
                    <result column="CREATE_USER_ID" property="createUserId"/>
                    <result column="MODIFY_USER_ID" property="modifyUserId"/>
                    <result column="auditMan" property="auditMan"/>
                    <result column="auditManName" property="auditManName"/>
                    <result column="auditDate" property="auditDate"/>
                    <result column="auditSuggestion" property="auditSuggestion"/>
                    <result column="IsUse" property="IsUse"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        id, user_account_name, user_account, apply_content, state, IS_DELETEMARK, CREATE_TIME, MODIFY_TIME, CREATE_USER_ID, MODIFY_USER_ID, auditMan, auditManName, auditDate, auditSuggestion, IsUse
    </sql>
    <update id="updateDcaBApplyjob" parameterType="cc.mrbird.febs.dca.entity.DcaBApplyjob">
        update dca_b_applyjob
        <trim prefix="set" suffixOverrides=",">
<if test="userAccountName != null">user_account_name=#{userAccountName},</if>
<if test="userAccount != null">user_account=#{userAccount},</if>
<if test="applyContent != null">apply_content=#{applyContent},</if>
<if test="state != null">state=#{state},</if>
<if test="isDeletemark != null">IS_DELETEMARK=#{isDeletemark},</if>
<if test="createTime != null">CREATE_TIME=#{createTime},</if>
<if test="modifyTime != null">MODIFY_TIME=#{modifyTime},</if>
<if test="createUserId != null">CREATE_USER_ID=#{createUserId},</if>
<if test="modifyUserId != null">MODIFY_USER_ID=#{modifyUserId},</if>
<if test="auditMan != null">auditMan=#{auditMan},</if>
<if test="auditManName != null">auditManName=#{auditManName},</if>
<if test="auditDate != null">auditDate=#{auditDate},</if>
<if test="auditSuggestion != null">auditSuggestion=#{auditSuggestion},</if>
<if test="IsUse != null">IsUse=#{IsUse},</if>
        </trim>
                where id=#{id}

    </update>
    <select id="findDcaBApplyjob" resultType="cc.mrbird.febs.dca.entity.DcaBApplyjob" parameterType="cc.mrbird.febs.dca.entity.DcaBApplyjob">
        select  *  from dca_b_applyjob
        where  1=1
            <if test="dcaBApplyjob.id != null and dcaBApplyjob.id != ''"> and dcaBApplyjob.id =#{ dcaBApplyjob.id} </if>
            <if test="dcaBApplyjob.userAccountName != null and dcaBApplyjob.userAccountName != ''"> and dcaBApplyjob.user_account_name like concat('%', #{ dcaBApplyjob.userAccountName} ,'%')</if>
            <if test="dcaBApplyjob.userAccount != null and dcaBApplyjob.userAccount != ''"> and dcaBApplyjob.user_account like concat('%', #{ dcaBApplyjob.userAccount} ,'%')</if>
            <if test="dcaBApplyjob.applyContent != null and dcaBApplyjob.applyContent != ''"> and dcaBApplyjob.apply_content like concat('%', #{ dcaBApplyjob.applyContent} ,'%')</if>
        <if test="dcaBApplyjob.state != null"> and dcaBApplyjob.state =#{ dcaBApplyjob.state} </if>
        <if test="dcaBApplyjob.isDeletemark != null"> and dcaBApplyjob.IS_DELETEMARK =#{ dcaBApplyjob.isDeletemark} </if>
        <if test="dcaBApplyjob.createTimeFrom!= null">
            AND dcaBApplyjob.CREATE_TIME <![CDATA[ >= ]]>  #{dcaBApplyjob.createTimeFrom}
        </if>
        <if test="dcaBApplyjob.createTimeTo!= null">
            AND dcaBApplyjob.CREATE_TIME <![CDATA[ <= ]]>  #{dcaBApplyjob.createTimeTo}
        </if>
        <if test="dcaBApplyjob.modifyTimeFrom!= null">
            AND dcaBApplyjob.MODIFY_TIME <![CDATA[ >= ]]>  #{dcaBApplyjob.modifyTimeFrom}
        </if>
        <if test="dcaBApplyjob.modifyTimeTo!= null">
            AND dcaBApplyjob.MODIFY_TIME <![CDATA[ <= ]]>  #{dcaBApplyjob.modifyTimeTo}
        </if>
            <if test="dcaBApplyjob.auditMan != null and dcaBApplyjob.auditMan != ''"> and dcaBApplyjob.auditMan like concat('%', #{ dcaBApplyjob.auditMan} ,'%')</if>
            <if test="dcaBApplyjob.auditManName != null and dcaBApplyjob.auditManName != ''"> and dcaBApplyjob.auditManName like concat('%', #{ dcaBApplyjob.auditManName} ,'%')</if>
        <if test="dcaBApplyjob.auditDateFrom!= null">
            AND dcaBApplyjob.auditDate <![CDATA[ >= ]]>  #{dcaBApplyjob.auditDateFrom}
        </if>
        <if test="dcaBApplyjob.auditDateTo!= null">
            AND dcaBApplyjob.auditDate <![CDATA[ <= ]]>  #{dcaBApplyjob.auditDateTo}
        </if>
            <if test="dcaBApplyjob.auditSuggestion != null and dcaBApplyjob.auditSuggestion != ''"> and dcaBApplyjob.auditSuggestion like concat('%', #{ dcaBApplyjob.auditSuggestion} ,'%')</if>
</select>

</mapper>