<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.dca.dao.DcaBLastemployMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="cc.mrbird.febs.dca.entity.DcaBLastemploy">
                    <id column="id" property="id"/>
                    <result column="user_account_name" property="userAccountName"/>
                    <result column="user_account" property="userAccount"/>
                    <result column="last_content" property="lastContent"/>
                    <result column="state" property="state"/>
                    <result column="IS_DELETEMARK" property="isDeletemark"/>
                    <result column="CREATE_TIME" property="createTime"/>
                    <result column="MODIFY_TIME" property="modifyTime"/>
                    <result column="CREATE_USER_ID" property="createUserId"/>
                    <result column="MODIFY_USER_ID" property="modifyUserId"/>
                    <result column="auditMan" property="auditMan"/>
                    <result column="auditManName" property="auditManName"/>
                    <result column="auditDate" property="auditDate"/>
                    <result column="auditSuggestion" property="auditSuggestion"/>
                    <result column="IsUse" property="IsUse"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        id, user_account_name, user_account, last_content, state, IS_DELETEMARK, CREATE_TIME, MODIFY_TIME, CREATE_USER_ID, MODIFY_USER_ID, auditMan, auditManName, auditDate, auditSuggestion, IsUse
    </sql>
    <update id="updateDcaBLastemploy" parameterType="cc.mrbird.febs.dca.entity.DcaBLastemploy">
        update dca_b_lastemploy
        <trim prefix="set" suffixOverrides=",">
<if test="userAccountName != null">user_account_name=#{userAccountName},</if>
<if test="userAccount != null">user_account=#{userAccount},</if>
<if test="lastContent != null">last_content=#{lastContent},</if>
<if test="state != null">state=#{state},</if>
<if test="isDeletemark != null">IS_DELETEMARK=#{isDeletemark},</if>
<if test="createTime != null">CREATE_TIME=#{createTime},</if>
<if test="modifyTime != null">MODIFY_TIME=#{modifyTime},</if>
<if test="createUserId != null">CREATE_USER_ID=#{createUserId},</if>
<if test="modifyUserId != null">MODIFY_USER_ID=#{modifyUserId},</if>
<if test="auditMan != null">auditMan=#{auditMan},</if>
<if test="auditManName != null">auditManName=#{auditManName},</if>
<if test="auditDate != null">auditDate=#{auditDate},</if>
<if test="auditSuggestion != null">auditSuggestion=#{auditSuggestion},</if>
<if test="IsUse != null">IsUse=#{IsUse},</if>
        </trim>
                where id=#{id}

    </update>
    <select id="findDcaBLastemploy" resultType="cc.mrbird.febs.dca.entity.DcaBLastemploy" parameterType="cc.mrbird.febs.dca.entity.DcaBLastemploy">
        select  *  from dca_b_lastemploy
        where  1=1
            <if test="dcaBLastemploy.id != null and dcaBLastemploy.id != ''"> and dcaBLastemploy.id =#{ dcaBLastemploy.id} </if>
            <if test="dcaBLastemploy.userAccountName != null and dcaBLastemploy.userAccountName != ''"> and dcaBLastemploy.user_account_name like concat('%', #{ dcaBLastemploy.userAccountName} ,'%')</if>
            <if test="dcaBLastemploy.userAccount != null and dcaBLastemploy.userAccount != ''"> and dcaBLastemploy.user_account like concat('%', #{ dcaBLastemploy.userAccount} ,'%')</if>
            <if test="dcaBLastemploy.lastContent != null and dcaBLastemploy.lastContent != ''"> and dcaBLastemploy.last_content like concat('%', #{ dcaBLastemploy.lastContent} ,'%')</if>
        <if test="dcaBLastemploy.state != null"> and dcaBLastemploy.state =#{ dcaBLastemploy.state} </if>
        <if test="dcaBLastemploy.isDeletemark != null"> and dcaBLastemploy.IS_DELETEMARK =#{ dcaBLastemploy.isDeletemark} </if>
        <if test="dcaBLastemploy.createTimeFrom!= null">
            AND dcaBLastemploy.CREATE_TIME <![CDATA[ >= ]]>  #{dcaBLastemploy.createTimeFrom}
        </if>
        <if test="dcaBLastemploy.createTimeTo!= null">
            AND dcaBLastemploy.CREATE_TIME <![CDATA[ <= ]]>  #{dcaBLastemploy.createTimeTo}
        </if>
        <if test="dcaBLastemploy.modifyTimeFrom!= null">
            AND dcaBLastemploy.MODIFY_TIME <![CDATA[ >= ]]>  #{dcaBLastemploy.modifyTimeFrom}
        </if>
        <if test="dcaBLastemploy.modifyTimeTo!= null">
            AND dcaBLastemploy.MODIFY_TIME <![CDATA[ <= ]]>  #{dcaBLastemploy.modifyTimeTo}
        </if>
            <if test="dcaBLastemploy.auditMan != null and dcaBLastemploy.auditMan != ''"> and dcaBLastemploy.auditMan like concat('%', #{ dcaBLastemploy.auditMan} ,'%')</if>
            <if test="dcaBLastemploy.auditManName != null and dcaBLastemploy.auditManName != ''"> and dcaBLastemploy.auditManName like concat('%', #{ dcaBLastemploy.auditManName} ,'%')</if>
        <if test="dcaBLastemploy.auditDateFrom!= null">
            AND dcaBLastemploy.auditDate <![CDATA[ >= ]]>  #{dcaBLastemploy.auditDateFrom}
        </if>
        <if test="dcaBLastemploy.auditDateTo!= null">
            AND dcaBLastemploy.auditDate <![CDATA[ <= ]]>  #{dcaBLastemploy.auditDateTo}
        </if>
            <if test="dcaBLastemploy.auditSuggestion != null and dcaBLastemploy.auditSuggestion != ''"> and dcaBLastemploy.auditSuggestion like concat('%', #{ dcaBLastemploy.auditSuggestion} ,'%')</if>
</select>

</mapper>