<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.dca.dao.DcaBYearapplyMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="cc.mrbird.febs.dca.entity.DcaBYearapply">
                    <id column="id" property="id"/>
                    <result column="Is_addvance" property="isAddvance"/>
                    <result column="Is_open" property="isOpen"/>
                    <result column="year" property="year"/>
                    <result column="state" property="state"/>
                    <result column="IS_DELETEMARK" property="isDeletemark"/>
                    <result column="CREATE_TIME" property="createTime"/>
                    <result column="MODIFY_TIME" property="modifyTime"/>
                    <result column="CREATE_USER_ID" property="createUserId"/>
                    <result column="MODIFY_USER_ID" property="modifyUserId"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        id, Is_addvance, Is_open, year, state, IS_DELETEMARK, CREATE_TIME, MODIFY_TIME, CREATE_USER_ID, MODIFY_USER_ID
    </sql>
    <update id="updateDcaBYearapply" parameterType="cc.mrbird.febs.dca.entity.DcaBYearapply">
        update dca_b_yearapply
        <trim prefix="set" suffixOverrides=",">
<if test="isAddvance != null">Is_addvance=#{isAddvance},</if>
<if test="isOpen != null">Is_open=#{isOpen},</if>
<if test="year != null">year=#{year},</if>
<if test="state != null">state=#{state},</if>
<if test="isDeletemark != null">IS_DELETEMARK=#{isDeletemark},</if>
<if test="createTime != null">CREATE_TIME=#{createTime},</if>
<if test="modifyTime != null">MODIFY_TIME=#{modifyTime},</if>
<if test="createUserId != null">CREATE_USER_ID=#{createUserId},</if>
<if test="modifyUserId != null">MODIFY_USER_ID=#{modifyUserId},</if>
        </trim>
                where id=#{id}

    </update>
    <select id="findDcaBYearapply" resultType="cc.mrbird.febs.dca.entity.DcaBYearapply" parameterType="cc.mrbird.febs.dca.entity.DcaBYearapply">
        select  *  from dca_b_yearapply
        where  1=1
            <if test="dcaBYearapply.id != null and dcaBYearapply.id != ''"> and dcaBYearapply.id =#{ dcaBYearapply.id} </if>
            <if test="dcaBYearapply.year != null and dcaBYearapply.year != ''"> and dcaBYearapply.year like concat('%', #{ dcaBYearapply.year} ,'%')</if>
        <if test="dcaBYearapply.state != null"> and dcaBYearapply.state =#{ dcaBYearapply.state} </if>
        <if test="dcaBYearapply.isDeletemark != null"> and dcaBYearapply.IS_DELETEMARK =#{ dcaBYearapply.isDeletemark} </if>
        <if test="dcaBYearapply.createTimeFrom!= null">
            AND dcaBYearapply.CREATE_TIME <![CDATA[ >= ]]>  #{dcaBYearapply.createTimeFrom}
        </if>
        <if test="dcaBYearapply.createTimeTo!= null">
            AND dcaBYearapply.CREATE_TIME <![CDATA[ <= ]]>  #{dcaBYearapply.createTimeTo}
        </if>
        <if test="dcaBYearapply.modifyTimeFrom!= null">
            AND dcaBYearapply.MODIFY_TIME <![CDATA[ >= ]]>  #{dcaBYearapply.modifyTimeFrom}
        </if>
        <if test="dcaBYearapply.modifyTimeTo!= null">
            AND dcaBYearapply.MODIFY_TIME <![CDATA[ <= ]]>  #{dcaBYearapply.modifyTimeTo}
        </if>
</select>

</mapper>