<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.dca.dao.DcaDYearsettingMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="cc.mrbird.febs.dca.entity.DcaDYearsetting">
                    <id column="id" property="id"/>
                    <result column="dca_year" property="dcaYear"/>
                    <result column="gwdj" property="gwdj"/>
                    <result column="state" property="state"/>
                    <result column="IS_DELETEMARK" property="isDeletemark"/>
                    <result column="CREATE_TIME" property="createTime"/>
                    <result column="MODIFY_TIME" property="modifyTime"/>
                    <result column="CREATE_USER_ID" property="createUserId"/>
                    <result column="MODIFY_USER_ID" property="modifyUserId"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        id, dca_year, gwdj, state, IS_DELETEMARK, CREATE_TIME, MODIFY_TIME, CREATE_USER_ID, MODIFY_USER_ID
    </sql>
    <update id="updateDcaDYearsetting" parameterType="cc.mrbird.febs.dca.entity.DcaDYearsetting">
        update dca_d_yearsetting
        <trim prefix="set" suffixOverrides=",">
<if test="dcaYear != null">dca_year=#{dcaYear},</if>
<if test="gwdj != null">gwdj=#{gwdj},</if>
<if test="state != null">state=#{state},</if>
<if test="isDeletemark != null">IS_DELETEMARK=#{isDeletemark},</if>
<if test="createTime != null">CREATE_TIME=#{createTime},</if>
<if test="modifyTime != null">MODIFY_TIME=#{modifyTime},</if>
<if test="createUserId != null">CREATE_USER_ID=#{createUserId},</if>
<if test="modifyUserId != null">MODIFY_USER_ID=#{modifyUserId},</if>
        </trim>
                where id=#{id}

    </update>
    <select id="findDcaDYearsetting" resultType="cc.mrbird.febs.dca.entity.DcaDYearsetting" parameterType="cc.mrbird.febs.dca.entity.DcaDYearsetting">
        select  *  from dca_d_yearsetting
        where  1=1
            <if test="dcaDYearsetting.dcaYear != null and dcaDYearsetting.dcaYear != ''"> and dcaDYearsetting.dca_year like concat('%', #{ dcaDYearsetting.dcaYear} ,'%')</if>
            <if test="dcaDYearsetting.gwdj != null and dcaDYearsetting.gwdj != ''"> and dcaDYearsetting.gwdj like concat('%', #{ dcaDYearsetting.gwdj} ,'%')</if>
        <if test="dcaDYearsetting.state != null"> and dcaDYearsetting.state =#{ dcaDYearsetting.state} </if>
        <if test="dcaDYearsetting.isDeletemark != null"> and dcaDYearsetting.IS_DELETEMARK =#{ dcaDYearsetting.isDeletemark} </if>
        <if test="dcaDYearsetting.createTimeFrom!= null">
            AND dcaDYearsetting.CREATE_TIME <![CDATA[ >= ]]>  #{dcaDYearsetting.createTimeFrom}
        </if>
        <if test="dcaDYearsetting.createTimeTo!= null">
            AND dcaDYearsetting.CREATE_TIME <![CDATA[ <= ]]>  #{dcaDYearsetting.createTimeTo}
        </if>
        <if test="dcaDYearsetting.modifyTimeFrom!= null">
            AND dcaDYearsetting.MODIFY_TIME <![CDATA[ >= ]]>  #{dcaDYearsetting.modifyTimeFrom}
        </if>
        <if test="dcaDYearsetting.modifyTimeTo!= null">
            AND dcaDYearsetting.MODIFY_TIME <![CDATA[ <= ]]>  #{dcaDYearsetting.modifyTimeTo}
        </if>
</select>

</mapper>