<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.dca.dao.DcaDXlMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="cc.mrbird.febs.dca.entity.DcaDXl">
                    <id column="id" property="id"/>
                    <result column="mudule_name" property="muduleName"/>
                    <result column="state" property="state"/>
                    <result column="IS_DELETEMARK" property="isDeletemark"/>
                    <result column="CREATE_TIME" property="createTime"/>
                    <result column="MODIFY_TIME" property="modifyTime"/>
                    <result column="CREATE_USER_ID" property="createUserId"/>
                    <result column="MODIFY_USER_ID" property="modifyUserId"/>
                    <result column="parent_id" property="parentId"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        id, mudule_name, state, IS_DELETEMARK, CREATE_TIME, MODIFY_TIME, CREATE_USER_ID, MODIFY_USER_ID, parent_id
    </sql>
    <update id="updateDcaDXl" parameterType="cc.mrbird.febs.dca.entity.DcaDXl">
        update dca_d_xl
        <trim prefix="set" suffixOverrides=",">
<if test="muduleName != null">mudule_name=#{muduleName},</if>
<if test="state != null">state=#{state},</if>
<if test="isDeletemark != null">IS_DELETEMARK=#{isDeletemark},</if>
<if test="createTime != null">CREATE_TIME=#{createTime},</if>
<if test="modifyTime != null">MODIFY_TIME=#{modifyTime},</if>
<if test="createUserId != null">CREATE_USER_ID=#{createUserId},</if>
<if test="modifyUserId != null">MODIFY_USER_ID=#{modifyUserId},</if>
<if test="parentId != null">parent_id=#{parentId},</if>
        </trim>
                where id=#{id}

    </update>
    <select id="findDcaDXl" resultType="cc.mrbird.febs.dca.entity.DcaDXl" parameterType="cc.mrbird.febs.dca.entity.DcaDXl">
        select  *  from dca_d_xl
        where  1=1
            <if test="dcaDXl.muduleName != null and dcaDXl.muduleName != ''"> and dcaDXl.mudule_name like concat('%', #{ dcaDXl.muduleName} ,'%')</if>
        <if test="dcaDXl.state != null"> and dcaDXl.state =#{ dcaDXl.state} </if>
        <if test="dcaDXl.isDeletemark != null"> and dcaDXl.IS_DELETEMARK =#{ dcaDXl.isDeletemark} </if>
        <if test="dcaDXl.createTimeFrom!= null">
            AND dcaDXl.CREATE_TIME <![CDATA[ >= ]]>  #{dcaDXl.createTimeFrom}
        </if>
        <if test="dcaDXl.createTimeTo!= null">
            AND dcaDXl.CREATE_TIME <![CDATA[ <= ]]>  #{dcaDXl.createTimeTo}
        </if>
        <if test="dcaDXl.modifyTimeFrom!= null">
            AND dcaDXl.MODIFY_TIME <![CDATA[ >= ]]>  #{dcaDXl.modifyTimeFrom}
        </if>
        <if test="dcaDXl.modifyTimeTo!= null">
            AND dcaDXl.MODIFY_TIME <![CDATA[ <= ]]>  #{dcaDXl.modifyTimeTo}
        </if>
        <if test="dcaDXl.parentId != null"> and dcaDXl.parent_id =#{ dcaDXl.parentId} </if>
</select>

</mapper>