<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.dca.dao.DcaDMudulesMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="cc.mrbird.febs.dca.entity.DcaDMudules">
                    <id column="id" property="id"/>
                    <result column="mudule_name" property="muduleName"/>
                    <result column="state" property="state"/>
                    <result column="IS_DELETEMARK" property="isDeletemark"/>
                    <result column="CREATE_TIME" property="createTime"/>
                    <result column="MODIFY_TIME" property="modifyTime"/>
                    <result column="CREATE_USER_ID" property="createUserId"/>
                    <result column="MODIFY_USER_ID" property="modifyUserId"/>
                    <result column="parent_id" property="parentId"/>
            <result column="file_url" property="fileUrl"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        id, mudule_name, state, IS_DELETEMARK, CREATE_TIME, MODIFY_TIME, CREATE_USER_ID, MODIFY_USER_ID, parent_id, file_url
    </sql>
    <update id="updateDcaDMudules" parameterType="cc.mrbird.febs.dca.entity.DcaDMudules">
        update dca_d_mudules
        <trim prefix="set" suffixOverrides=",">
<if test="muduleName != null">mudule_name=#{muduleName},</if>
<if test="state != null">state=#{state},</if>
<if test="isDeletemark != null">IS_DELETEMARK=#{isDeletemark},</if>
<if test="createTime != null">CREATE_TIME=#{createTime},</if>
<if test="modifyTime != null">MODIFY_TIME=#{modifyTime},</if>
<if test="createUserId != null">CREATE_USER_ID=#{createUserId},</if>
<if test="modifyUserId != null">MODIFY_USER_ID=#{modifyUserId},</if>
<if test="parentId != null">parent_id=#{parentId},</if>
        </trim>
                where id=#{id}

    </update>
    <select id="findDcaDMudules" resultType="cc.mrbird.febs.dca.entity.DcaDMudules" parameterType="cc.mrbird.febs.dca.entity.DcaDMudules">
        select  *  from dca_d_mudules
        where  1=1
        <if test="dcaDMudules.id != null"> and dcaDMudules.id =#{ dcaDMudules.id} </if>
            <if test="dcaDMudules.muduleName != null and dcaDMudules.muduleName != ''"> and dcaDMudules.mudule_name like concat('%', #{ dcaDMudules.muduleName} ,'%')</if>
        <if test="dcaDMudules.state != null"> and dcaDMudules.state =#{ dcaDMudules.state} </if>
        <if test="dcaDMudules.isDeletemark != null"> and dcaDMudules.IS_DELETEMARK =#{ dcaDMudules.isDeletemark} </if>
        <if test="dcaDMudules.createTimeFrom!= null">
            AND dcaDMudules.CREATE_TIME <![CDATA[ >= ]]>  #{dcaDMudules.createTimeFrom}
        </if>
        <if test="dcaDMudules.createTimeTo!= null">
            AND dcaDMudules.CREATE_TIME <![CDATA[ <= ]]>  #{dcaDMudules.createTimeTo}
        </if>
        <if test="dcaDMudules.modifyTimeFrom!= null">
            AND dcaDMudules.MODIFY_TIME <![CDATA[ >= ]]>  #{dcaDMudules.modifyTimeFrom}
        </if>
        <if test="dcaDMudules.modifyTimeTo!= null">
            AND dcaDMudules.MODIFY_TIME <![CDATA[ <= ]]>  #{dcaDMudules.modifyTimeTo}
        </if>
        <if test="dcaDMudules.parentId != null"> and dcaDMudules.parent_id =#{ dcaDMudules.parentId} </if>
</select>

</mapper>