<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.doctor.dao.DcaBDocYoungprizeMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="cc.mrbird.febs.doctor.entity.DcaBDocYoungprize">
                    <id column="id" property="id"/>
                    <result column="file_id" property="fileId"/>
                    <result column="display_index" property="displayIndex"/>
                    <result column="file_url" property="fileUrl"/>
                    <result column="user_account_name" property="userAccountName"/>
                    <result column="user_account" property="userAccount"/>
                    <result column="prize_name" property="prizeName"/>
                    <result column="prize_jb" property="prizeJb"/>
                    <result column="prize_grade" property="prizeGrade"/>
                    <result column="ranknum" property="ranknum"/>
                    <result column="prize_date" property="prizeDate"/>
                    <result column="state" property="state"/>
                    <result column="IS_DELETEMARK" property="isDeletemark"/>
                    <result column="CREATE_TIME" property="createTime"/>
                    <result column="MODIFY_TIME" property="modifyTime"/>
                    <result column="CREATE_USER_ID" property="createUserId"/>
                    <result column="MODIFY_USER_ID" property="modifyUserId"/>
                    <result column="auditMan" property="auditMan"/>
                    <result column="auditManName" property="auditManName"/>
                    <result column="auditDate" property="auditDate"/>
                    <result column="auditSuggestion" property="auditSuggestion"/>
                    <result column="IsUse" property="IsUse"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        id, file_id, display_index, file_url, user_account_name, user_account, prize_name, prize_jb, prize_grade, ranknum, prize_date, state, IS_DELETEMARK, CREATE_TIME, MODIFY_TIME, CREATE_USER_ID, MODIFY_USER_ID, auditMan, auditManName, auditDate, auditSuggestion, IsUse
    </sql>
    <update id="updateDcaBDocYoungprize" parameterType="cc.mrbird.febs.doctor.entity.DcaBDocYoungprize">
        update dca_b_doc_youngprize
        <trim prefix="set" suffixOverrides=",">
<if test="fileId != null">file_id=#{fileId},</if>
<if test="displayIndex != null">display_index=#{displayIndex},</if>
<if test="fileUrl != null">file_url=#{fileUrl},</if>
<if test="userAccountName != null">user_account_name=#{userAccountName},</if>
<if test="userAccount != null">user_account=#{userAccount},</if>
<if test="prizeName != null">prize_name=#{prizeName},</if>
<if test="prizeJb != null">prize_jb=#{prizeJb},</if>
<if test="prizeGrade != null">prize_grade=#{prizeGrade},</if>
<if test="ranknum != null">ranknum=#{ranknum},</if>
<if test="prizeDate != null">prize_date=#{prizeDate},</if>
<if test="state != null">state=#{state},</if>
<if test="isDeletemark != null">IS_DELETEMARK=#{isDeletemark},</if>
<if test="createTime != null">CREATE_TIME=#{createTime},</if>
<if test="modifyTime != null">MODIFY_TIME=#{modifyTime},</if>
<if test="createUserId != null">CREATE_USER_ID=#{createUserId},</if>
<if test="modifyUserId != null">MODIFY_USER_ID=#{modifyUserId},</if>
<if test="auditMan != null">auditMan=#{auditMan},</if>
<if test="auditManName != null">auditManName=#{auditManName},</if>
<if test="auditDate != null">auditDate=#{auditDate},</if>
<if test="auditSuggestion != null">auditSuggestion=#{auditSuggestion},</if>
<if test="IsUse != null">IsUse=#{IsUse},</if>
        </trim>
                where id=#{id}

    </update>
    <select id="findDcaBDocYoungprize" resultType="cc.mrbird.febs.doctor.entity.DcaBDocYoungprize" parameterType="cc.mrbird.febs.doctor.entity.DcaBDocYoungprize">
        select  *  from dca_b_doc_youngprize
        where  1=1
            <if test="dcaBDocYoungprize.id != null and dcaBDocYoungprize.id != ''"> and dca_b_doc_youngprize.id =#{ dcaBDocYoungprize.id} </if>
            <if test="dcaBDocYoungprize.fileId != null and dcaBDocYoungprize.fileId != ''"> and dca_b_doc_youngprize.file_id like concat('%', #{ dcaBDocYoungprize.fileId} ,'%')</if>
        <if test="dcaBDocYoungprize.displayIndex != null"> and dca_b_doc_youngprize.display_index =#{ dcaBDocYoungprize.displayIndex} </if>
            <if test="dcaBDocYoungprize.fileUrl != null and dcaBDocYoungprize.fileUrl != ''"> and dca_b_doc_youngprize.file_url like concat('%', #{ dcaBDocYoungprize.fileUrl} ,'%')</if>
            <if test="dcaBDocYoungprize.userAccountName != null and dcaBDocYoungprize.userAccountName != ''"> and dca_b_doc_youngprize.user_account_name like concat('%', #{ dcaBDocYoungprize.userAccountName} ,'%')</if>
            <if test="dcaBDocYoungprize.userAccount != null and dcaBDocYoungprize.userAccount != ''"> and dca_b_doc_youngprize.user_account like concat('%', #{ dcaBDocYoungprize.userAccount} ,'%')</if>
            <if test="dcaBDocYoungprize.prizeName != null and dcaBDocYoungprize.prizeName != ''"> and dca_b_doc_youngprize.prize_name like concat('%', #{ dcaBDocYoungprize.prizeName} ,'%')</if>
            <if test="dcaBDocYoungprize.prizeJb != null and dcaBDocYoungprize.prizeJb != ''"> and dca_b_doc_youngprize.prize_jb like concat('%', #{ dcaBDocYoungprize.prizeJb} ,'%')</if>
            <if test="dcaBDocYoungprize.prizeGrade != null and dcaBDocYoungprize.prizeGrade != ''"> and dca_b_doc_youngprize.prize_grade like concat('%', #{ dcaBDocYoungprize.prizeGrade} ,'%')</if>
            <if test="dcaBDocYoungprize.ranknum != null and dcaBDocYoungprize.ranknum != ''"> and dca_b_doc_youngprize.ranknum like concat('%', #{ dcaBDocYoungprize.ranknum} ,'%')</if>
        <if test="dcaBDocYoungprize.prizeDateFrom!= null">
            AND dca_b_doc_youngprize.prize_date <![CDATA[ >= ]]>  #{dcaBDocYoungprize.prizeDateFrom}
        </if>
        <if test="dcaBDocYoungprize.prizeDateTo!= null">
            AND dca_b_doc_youngprize.prize_date <![CDATA[ <= ]]>  #{dcaBDocYoungprize.prizeDateTo}
        </if>
        <if test="dcaBDocYoungprize.state != null"> and dca_b_doc_youngprize.state =#{ dcaBDocYoungprize.state} </if>
        <if test="dcaBDocYoungprize.isDeletemark != null"> and dca_b_doc_youngprize.IS_DELETEMARK =#{ dcaBDocYoungprize.isDeletemark} </if>
        <if test="dcaBDocYoungprize.createTimeFrom!= null">
            AND dca_b_doc_youngprize.CREATE_TIME <![CDATA[ >= ]]>  #{dcaBDocYoungprize.createTimeFrom}
        </if>
        <if test="dcaBDocYoungprize.createTimeTo!= null">
            AND dca_b_doc_youngprize.CREATE_TIME <![CDATA[ <= ]]>  #{dcaBDocYoungprize.createTimeTo}
        </if>
        <if test="dcaBDocYoungprize.modifyTimeFrom!= null">
            AND dca_b_doc_youngprize.MODIFY_TIME <![CDATA[ >= ]]>  #{dcaBDocYoungprize.modifyTimeFrom}
        </if>
        <if test="dcaBDocYoungprize.modifyTimeTo!= null">
            AND dca_b_doc_youngprize.MODIFY_TIME <![CDATA[ <= ]]>  #{dcaBDocYoungprize.modifyTimeTo}
        </if>
            <if test="dcaBDocYoungprize.auditMan != null and dcaBDocYoungprize.auditMan != ''"> and dca_b_doc_youngprize.auditMan like concat('%', #{ dcaBDocYoungprize.auditMan} ,'%')</if>
            <if test="dcaBDocYoungprize.auditManName != null and dcaBDocYoungprize.auditManName != ''"> and dca_b_doc_youngprize.auditManName like concat('%', #{ dcaBDocYoungprize.auditManName} ,'%')</if>
        <if test="dcaBDocYoungprize.auditDateFrom!= null">
            AND dca_b_doc_youngprize.auditDate <![CDATA[ >= ]]>  #{dcaBDocYoungprize.auditDateFrom}
        </if>
        <if test="dcaBDocYoungprize.auditDateTo!= null">
            AND dca_b_doc_youngprize.auditDate <![CDATA[ <= ]]>  #{dcaBDocYoungprize.auditDateTo}
        </if>
            <if test="dcaBDocYoungprize.auditSuggestion != null and dcaBDocYoungprize.auditSuggestion != ''"> and dca_b_doc_youngprize.auditSuggestion like concat('%', #{ dcaBDocYoungprize.auditSuggestion} ,'%')</if>
</select>

</mapper>