<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.scm.dao.ComFileMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="cc.mrbird.febs.scm.entity.ComFile">
                    <result column="ID" property="id"/>
                    <result column="CLIENT_NAME" property="clientName"/>
                    <result column="SERVER_NAME" property="serverName"/>
                    <result column="IS_DELETEMARK" property="isDeletemark"/>
                    <result column="CREATE_TIME" property="createTime"/>
                    <result column="MODIFY_TIME" property="modifyTime"/>
                    <result column="CREATE_USER_ID" property="createUserId"/>
                    <result column="MODIFY_USER_ID" property="modifyUserId"/>
                    <result column="REF_TAB_ID" property="refTabId"/>
                    <result column="REF_TAB_TABLE" property="refTabTable"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        ID, CLIENT_NAME, SERVER_NAME, IS_DELETEMARK, CREATE_TIME, MODIFY_TIME, CREATE_USER_ID, MODIFY_USER_ID, REF_TAB_ID, REF_TAB_TABLE
    </sql>
    <update id="updateComFile" parameterType="cc.mrbird.febs.scm.entity.ComFile">
        update com_file
        <trim prefix="set" suffixOverrides=",">
<if test="id != null">ID=#{id},</if>
<if test="clientName != null">CLIENT_NAME=#{clientName},</if>
<if test="serverName != null">SERVER_NAME=#{serverName},</if>
<if test="isDeletemark != null">IS_DELETEMARK=#{isDeletemark},</if>
<if test="createTime != null">CREATE_TIME=#{createTime},</if>
<if test="modifyTime != null">MODIFY_TIME=#{modifyTime},</if>
<if test="createUserId != null">CREATE_USER_ID=#{createUserId},</if>
<if test="modifyUserId != null">MODIFY_USER_ID=#{modifyUserId},</if>
<if test="refTabId != null">REF_TAB_ID=#{refTabId},</if>
<if test="refTabTable != null">REF_TAB_TABLE=#{refTabTable},</if>
        </trim>
        where id=#{id}
    </update>
</mapper>