<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.scm.dao.ScmBReportMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="cc.mrbird.febs.scm.entity.ScmBReport">
                    <id column="ID" property="id"/>
                    <result column="CODE" property="code"/>
                    <result column="NAME" property="name"/>
                    <result column="COMMENTS" property="comments"/>
                    <result column="STATE" property="state"/>
                    <result column="IS_DELETEMARK" property="isDeletemark"/>
                    <result column="CREATE_TIME" property="createTime"/>
                    <result column="MODIFY_TIME" property="modifyTime"/>
                    <result column="CREATE_USER_ID" property="createUserId"/>
                    <result column="MODIFY_USER_ID" property="modifyUserId"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        ID, CODE, NAME, COMMENTS, STATE, IS_DELETEMARK, CREATE_TIME, MODIFY_TIME, CREATE_USER_ID, MODIFY_USER_ID
    </sql>
    <update id="updateScmBReport" parameterType="cc.mrbird.febs.scm.entity.ScmBReport">
        update scm_b_report
        <trim prefix="set" suffixOverrides=",">
<if test="code != null">CODE=#{code},</if>
<if test="name != null">NAME=#{name},</if>
<if test="fileId != null">file_Id=#{fileId},</if>
<if test="comments != null">COMMENTS=#{comments},</if>
<if test="state != null">STATE=#{state},</if>
<if test="isDeletemark != null">IS_DELETEMARK=#{isDeletemark},</if>
<if test="createTime != null">CREATE_TIME=#{createTime},</if>
<if test="modifyTime != null">MODIFY_TIME=#{modifyTime},</if>
<if test="createUserId != null">CREATE_USER_ID=#{createUserId},</if>
<if test="modifyUserId != null">MODIFY_USER_ID=#{modifyUserId},</if>
        </trim>
        where id=#{id}
    </update>
</mapper>