<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.scm.dao.ScmBGysMaterPicMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="cc.mrbird.febs.scm.entity.ScmBGysMaterPic">
                    <id column="ID" property="id"/>
                    <result column="CODE" property="code"/>
                    <result column="NAME" property="name"/>
                    <result column="GYSACCOUNT" property="gysaccount"/>
                    <result column="MATER_ID" property="materId"/>
                    <result column="CHARGE" property="charge"/>
                    <result column="COMMENTS" property="comments"/>
                    <result column="AUDITCAUSE" property="auditCause"/>
            <result column="lgort" property="lgort"/>
            <result column="lgortName" property="lgortName"/>
            <result column="werks" property="werks"/>
            <result column="werkt" property="werkt"/>
                    <result column="STATE" property="state"/>
                    <result column="FILE_ID" property="fileId"/>
                    <result column="IS_DELETEMARK" property="isDeletemark"/>
                    <result column="CREATE_TIME" property="createTime"/>
                    <result column="MODIFY_TIME" property="modifyTime"/>
                    <result column="CREATE_USER_ID" property="createUserId"/>
                    <result column="MODIFY_USER_ID" property="modifyUserId"/>
        </resultMap>
         <!--获取批号根据物料ID-->
    <select id="findChargeByBaseId" resultType="String">
  select Charge from scm_b_gys_mater_pic
inner JOIN scm_b_purcharseorder on
scm_b_gys_mater_pic.matnr=scm_b_purcharseorder.matnr
where scm_b_purcharseorder.ID=#{base_Id} and scm_b_gys_mater_pic.GYSACCOUNT=#{account} and scm_b_purcharseorder.lifnr=#{account} and scm_b_gys_mater_pic.IS_DELETEMARK=1
order  by scm_b_gys_mater_pic.create_time desc
    </select>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        ID, CODE, NAME, GYSACCOUNT, MATER_ID, CHARGE, COMMENTS, STATE, FILE_ID, IS_DELETEMARK, CREATE_TIME, MODIFY_TIME, CREATE_USER_ID, MODIFY_USER_ID
    </sql>
    <update id="updateScmBGysMaterPic" parameterType="cc.mrbird.febs.scm.entity.ScmBGysMaterPic">
        update scm_b_gys_mater_pic
        <trim prefix="set" suffixOverrides=",">
<if test="code != null">CODE=#{code},</if>
<if test="name != null">NAME=#{name},</if>
<if test="gysaccount != null">GYSACCOUNT=#{gysaccount},</if>
<if test="materId != null">MATER_ID=#{materId},</if>
 <if test="matnr != null">matnr=#{matnr},</if>
            <if test="txz01 != null">txz01=#{txz01},</if>
            <if test="mseht != null">MSEHT=#{mseht},</if>
            <if test="produceArea != null">PRODUCE_AREA=#{produceArea},</if>
            <if test="spec != null">SPEC=#{spec},</if>
            <if test="spellCode != null">SPELL_CODE=#{spellCode},</if>
<if test="comments != null">COMMENTS=#{comments},</if>
<if test="state != null">STATE=#{state},</if>
<if test="auditCause != null">AUDITCAUSE=#{auditCause},</if>
<if test="fileId != null">FILE_ID=#{fileId},</if>
<if test="isDeletemark != null">IS_DELETEMARK=#{isDeletemark},</if>
<if test="createTime != null">CREATE_TIME=#{createTime},</if>
<if test="modifyTime != null">MODIFY_TIME=#{modifyTime},</if>
<if test="createUserId != null">CREATE_USER_ID=#{createUserId},</if>
<if test="modifyUserId != null">MODIFY_USER_ID=#{modifyUserId},</if>
        </trim>
        where id=#{id}
    </update>

    <select id="findVScmBGyspicUser" resultType="cc.mrbird.febs.scm.entity.ScmBGysMaterPic" parameterType="cc.mrbird.febs.scm.entity.ScmBGysMaterPic">
        select  *  from scm_b_gys_mater_pic
        <if test="userid !=null">
            INNER JOIN scm_b_userandarea A2 ON CONCAT(scm_b_gys_mater_pic.werks,scm_b_gys_mater_pic.lgort)  = A2.AreaID  AND A2.UserID=${userid}
        </if>
        where  1=1
        <if test="vScmBGyspicUser.id != null"> and scm_b_gys_mater_pic.ID like concat('%', #{ vScmBGyspicUser.id} ,'%')</if>
        <if test="vScmBGyspicUser.code != null  and vScmBGyspicUser.code !='' "> and scm_b_gys_mater_pic.CODE like concat('%', #{ vScmBGyspicUser.code} ,'%')</if>
        <if test="vScmBGyspicUser.name != null and vScmBGyspicUser.name != ''"> and scm_b_gys_mater_pic.NAME like concat('%', #{ vScmBGyspicUser.name} ,'%')</if>
        <if test="vScmBGyspicUser.gysaccount != null and vScmBGyspicUser.gysaccount != ''"> and scm_b_gys_mater_pic.GYSACCOUNT like concat('%', #{ vScmBGyspicUser.gysaccount} ,'%')</if>
        <if test="vScmBGyspicUser.materId != null and vScmBGyspicUser.materId != ''"> and scm_b_gys_mater_pic.MATER_ID like concat('%', #{ vScmBGyspicUser.materId} ,'%')</if>
        <if test="vScmBGyspicUser.matnr != null and vScmBGyspicUser.matnr != ''" > and scm_b_gys_mater_pic.matnr like concat('%', #{ vScmBGyspicUser.matnr} ,'%')</if>
        <if test="vScmBGyspicUser.charge != null and vScmBGyspicUser.charge != ''"> and scm_b_gys_mater_pic.CHARGE like concat('%', #{ vScmBGyspicUser.charge} ,'%')</if>
        <if test="vScmBGyspicUser.comments != null and vScmBGyspicUser.comments != ''"> and scm_b_gys_mater_pic.COMMENTS like concat('%', #{ vScmBGyspicUser.comments} ,'%')</if>
        <if test="vScmBGyspicUser.state != null"> and scm_b_gys_mater_pic.STATE =#{ vScmBGyspicUser.state} </if>
        <if test="vScmBGyspicUser.fileId != null and vScmBGyspicUser.fileId != ''"> and scm_b_gys_mater_pic.FILE_ID like concat('%', #{ vScmBGyspicUser.fileId} ,'%')</if>
        <if test="vScmBGyspicUser.isDeletemark != null"> and scm_b_gys_mater_pic.IS_DELETEMARK =#{ vScmBGyspicUser.isDeletemark} </if>
        <if test="keyword_gys != null  and keyword_gys != ''"> and (scm_b_gys_mater_pic.GYSACCOUNT = #{keyword_gys} or scm_b_gys_mater_pic.Name like concat('%', #{keyword_gys} ,'%'))</if>
        <if test="keyword_mater != null  and keyword_mater != ''"> and (scm_b_gys_mater_pic.matnr = #{ keyword_mater} or scm_b_gys_mater_pic.TXZ01 like concat('%', #{ keyword_mater} ,'%'))</if>




        <if test="vScmBGyspicUser.txz01 != null"> and scm_b_gys_mater_pic.TXZ01 like concat('%', #{ vScmBGyspicUser.txz01} ,'%')</if>
        <if test="vScmBGyspicUser.produceArea != null"> and scm_b_gys_mater_pic.PRODUCE_AREA like concat('%', #{ vScmBGyspicUser.produceArea} ,'%')</if>
        <if test="vScmBGyspicUser.spec != null"> and scm_b_gys_mater_pic.SPEC like concat('%', #{ vScmBGyspicUser.spec} ,'%')</if>
        <if test="vScmBGyspicUser.spellCode != null"> and scm_b_gys_mater_pic.SPELL_CODE like concat('%', #{ vScmBGyspicUser.spellCode} ,'%')</if>
        <if test="vScmBGyspicUser.AuditCause != null"> and scm_b_gys_mater_pic.AuditCause like concat('%', #{ vScmBGyspicUser.AuditCause} ,'%')</if>
        <if test="vScmBGyspicUser.werks != null"> and scm_b_gys_mater_pic.werks like concat('%', #{ vScmBGyspicUser.werks} ,'%')</if>
        <if test="vScmBGyspicUser.werkt != null"> and scm_b_gys_mater_pic.werkt like concat('%', #{ vScmBGyspicUser.werkt} ,'%')</if>
        <if test="vScmBGyspicUser.lgort != null"> and scm_b_gys_mater_pic.lgort like concat('%', #{ vScmBGyspicUser.lgort} ,'%')</if>
        <if test="vScmBGyspicUser.lgortName != null"> and scm_b_gys_mater_pic.lgortName like concat('%', #{ vScmBGyspicUser.lgortName} ,'%')</if>
    </select>
</mapper>