<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.scm.dao.ScmDVendoruserMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="cc.mrbird.febs.scm.entity.ScmDVendoruser">
                    <id column="ID" property="id"/>
                    <result column="BASE_ID" property="baseId"/>
                    <result column="NAME" property="name"/>
                    <result column="IDCARD" property="idcard"/>
                    <result column="IDCARD_BACK" property="idcardBack"/>
                    <result column="IDCARD_FRONT" property="idcardFront"/>
                    <result column="TELPHONE" property="telphone"/>
                    <result column="Head_IMAGE" property="headImage"/>
                    <result column="Agent_Image" property="agentImage"/>
                    <result column="VALID_DATESTART" property="validDatestart"/>
                    <result column="VALID_DATE" property="validDate"/>
                    <result column="IS_VALID" property="isValid"/>
                    <result column="IS_DELETEMARK" property="isDeletemark"/>
                    <result column="CREATE_TIME" property="createTime"/>
                    <result column="MODIFY_TIME" property="modifyTime"/>
                    <result column="CREATE_USER_ID" property="createUserId"/>
                    <result column="MODIFY_USER_ID" property="modifyUserId"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        ID, BASE_ID, NAME, IDCARD, IDCARD_BACK, IDCARD_FRONT, TELPHONE, Head_IMAGE, Agent_Image, VALID_DATESTART, VALID_DATE, IS_VALID, IS_DELETEMARK, CREATE_TIME, MODIFY_TIME, CREATE_USER_ID, MODIFY_USER_ID
    </sql>
    <update id="updateScmDVendoruser" parameterType="cc.mrbird.febs.scm.entity.ScmDVendoruser">
        update scm_d_vendoruser
        <trim prefix="set" suffixOverrides=",">
<if test="baseId != null">BASE_ID=#{baseId},</if>
<if test="name != null">NAME=#{name},</if>
<if test="idcard != null">IDCARD=#{idcard},</if>
<if test="idcardBack != null">IDCARD_BACK=#{idcardBack},</if>
<if test="idcardFront != null">IDCARD_FRONT=#{idcardFront},</if>
<if test="telphone != null">TELPHONE=#{telphone},</if>
<if test="headImage != null">Head_IMAGE=#{headImage},</if>
<if test="agentImage != null">Agent_Image=#{agentImage},</if>
<if test="validDatestart != null">VALID_DATESTART=#{validDatestart},</if>
<if test="validDate != null">VALID_DATE=#{validDate},</if>
<if test="isValid != null">IS_VALID=#{isValid},</if>
<if test="isDeletemark != null">IS_DELETEMARK=#{isDeletemark},</if>
<if test="createTime != null">CREATE_TIME=#{createTime},</if>
<if test="modifyTime != null">MODIFY_TIME=#{modifyTime},</if>
<if test="createUserId != null">CREATE_USER_ID=#{createUserId},</if>
<if test="modifyUserId != null">MODIFY_USER_ID=#{modifyUserId},</if>
        </trim>
        where id=#{id}
    </update>
</mapper>