<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.scm.dao.ViewSupplyplanMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="cc.mrbird.febs.scm.entity.ViewSupplyplan">
                    <result column="ebeln" property="ebeln"/>
                    <result column="ebelp" property="ebelp"/>
                    <result column="matnr" property="matnr"/>
                    <result column="txz01" property="txz01"/>
                    <result column="werkst" property="werkst"/>
                    <result column="werks" property="werks"/>
                    <result column="lgort" property="lgort"/>
                    <result column="lgortName" property="lgortName"/>
                    <result column="menge" property="menge"/>
                    <result column="meins" property="meins"/>
                    <result column="mseht" property="mseht"/>
                    <result column="netpr" property="netpr"/>
                    <result column="eindt" property="eindt"/>
                    <result column="bedat" property="bedat"/>
                    <result column="bsart" property="bsart"/>
                    <result column="G_MENGE" property="gMenge"/>
                    <result column="CHARGE" property="charge"/>
                    <result column="VFDAT" property="vfdat"/>
                    <result column="HSDAT" property="hsdat"/>
                    <result column="FPHM" property="fphm"/>
                    <result column="FPJR" property="fpjr"/>
                    <result column="FPRQ" property="fprq"/>
                    <result column="BASE_ID" property="baseId"/>
                    <result column="ID" property="id"/>
                    <result column="STATUS" property="status"/>
                    <result column="FPBM" property="fpbm"/>
                    <result column="GYSACCOUNT" property="gysaccount"/>
                    <result column="GYSNAME" property="gysname"/>
                    <result column="PKG_AMOUNT" property="pkgAmount"/>
                    <result column="PKG_NUMBER" property="pkgNumber"/>
                    <result column="UNINFORMED_STATE" property="uninformedState"/>
                    <result column="INFORMED_STATE" property="informedState"/>
                    <result column="BSART_D" property="bsartD"/>
                    <result column="LINK_PERSON" property="linkPerson"/>
                    <result column="SEND_DEPART" property="sendDepart"/>
                    <result column="LINK_TELEPHONE" property="linkTelephone"/>
                    <result column="SEND_ORDER_CODE" property="sendOrderCode"/>
                    <result column="OUT_CAUSE" property="outCause"/>
                    <result column="OUT_DATE" property="outDate"/>
                    <result column="IS_DELETEMARK" property="isDeletemark"/>
                    <result column="CREATE_TIME" property="createTime"/>
                    <result column="MODIFY_TIME" property="modifyTime"/>
                    <result column="CREATE_USER_ID" property="createUserId"/>
                    <result column="MODIFY_USER_ID" property="modifyUserId"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        ebeln, ebelp, matnr, txz01, werkst, werks, lgort, lgortName, menge, meins, mseht, netpr, eindt, bedat, bsart, G_MENGE, CHARGE, VFDAT, HSDAT, FPHM, FPJR, FPRQ, BASE_ID, ID, STATUS, FPBM, GYSACCOUNT, GYSNAME, PKG_AMOUNT, PKG_NUMBER, UNINFORMED_STATE, INFORMED_STATE, BSART_D, LINK_PERSON, SEND_DEPART, LINK_TELEPHONE, SEND_ORDER_CODE, OUT_CAUSE, OUT_DATE, IS_DELETEMARK, CREATE_TIME, MODIFY_TIME, CREATE_USER_ID, MODIFY_USER_ID
    </sql>
    <update id="updateViewSupplyplan" parameterType="cc.mrbird.febs.scm.entity.ViewSupplyplan">
        update view_supplyplan
        <trim prefix="set" suffixOverrides=",">
<if test="ebeln != null">ebeln=#{ebeln},</if>
<if test="ebelp != null">ebelp=#{ebelp},</if>
<if test="matnr != null">matnr=#{matnr},</if>
<if test="txz01 != null">txz01=#{txz01},</if>
<if test="werkst != null">werkst=#{werkst},</if>
<if test="werks != null">werks=#{werks},</if>
<if test="lgort != null">lgort=#{lgort},</if>
<if test="lgortName != null">lgortName=#{lgortName},</if>
<if test="menge != null">menge=#{menge},</if>
<if test="meins != null">meins=#{meins},</if>
<if test="mseht != null">mseht=#{mseht},</if>
<if test="netpr != null">netpr=#{netpr},</if>
<if test="eindt != null">eindt=#{eindt},</if>
<if test="bedat != null">bedat=#{bedat},</if>
<if test="bsart != null">bsart=#{bsart},</if>
<if test="gMenge != null">G_MENGE=#{gMenge},</if>
<if test="charge != null">CHARGE=#{charge},</if>
<if test="vfdat != null">VFDAT=#{vfdat},</if>
<if test="hsdat != null">HSDAT=#{hsdat},</if>
<if test="fphm != null">FPHM=#{fphm},</if>
<if test="fpjr != null">FPJR=#{fpjr},</if>
<if test="fprq != null">FPRQ=#{fprq},</if>
<if test="baseId != null">BASE_ID=#{baseId},</if>
<if test="id != null">ID=#{id},</if>
<if test="status != null">STATUS=#{status},</if>
<if test="fpbm != null">FPBM=#{fpbm},</if>
<if test="gysaccount != null">GYSACCOUNT=#{gysaccount},</if>
<if test="gysname != null">GYSNAME=#{gysname},</if>
<if test="pkgAmount != null">PKG_AMOUNT=#{pkgAmount},</if>
<if test="pkgNumber != null">PKG_NUMBER=#{pkgNumber},</if>
<if test="uninformedState != null">UNINFORMED_STATE=#{uninformedState},</if>
<if test="informedState != null">INFORMED_STATE=#{informedState},</if>
<if test="bsartD != null">BSART_D=#{bsartD},</if>
<if test="linkPerson != null">LINK_PERSON=#{linkPerson},</if>
<if test="sendDepart != null">SEND_DEPART=#{sendDepart},</if>
<if test="linkTelephone != null">LINK_TELEPHONE=#{linkTelephone},</if>
<if test="sendOrderCode != null">SEND_ORDER_CODE=#{sendOrderCode},</if>
<if test="outCause != null">OUT_CAUSE=#{outCause},</if>
<if test="outDate != null">OUT_DATE=#{outDate},</if>
<if test="isDeletemark != null">IS_DELETEMARK=#{isDeletemark},</if>
<if test="createTime != null">CREATE_TIME=#{createTime},</if>
<if test="modifyTime != null">MODIFY_TIME=#{modifyTime},</if>
<if test="createUserId != null">CREATE_USER_ID=#{createUserId},</if>
<if test="modifyUserId != null">MODIFY_USER_ID=#{modifyUserId},</if>
        </trim>
        where id=#{id}
    </update>

	<select id="findVPurcharseorder_noOrder" resultType="Long" parameterType="cc.mrbird.febs.scm.entity.ViewSupplyplan">
		SELECT
		COUNT(1)
		FROM
		`scm_b_supplyplan`
		WHERE
		`scm_b_supplyplan`.`IS_DELETEMARK` = 1 and  `scm_b_supplyplan`.`bsart_d` = 0
		<if test="order.id != null and order.id != 0">
			AND scm_b_supplyplan.id = #{order.id}
		</if>
		<if test="order.status != null">
			AND scm_b_supplyplan.status = #{order.status}
		</if>
		<if test="order.doneMenge == 0">
			AND scm_b_supplyplan.doneMenge = scm_b_supplyplan.g_Menge
		</if>
		<if test="order.doneMenge == 2">
			AND (((scm_b_supplyplan.doneMenge is null or scm_b_supplyplan.doneMenge <![CDATA[ < ]]> scm_b_supplyplan.g_Menge) AND length(scm_b_supplyplan.SEND_ORDER_CODE) <![CDATA[ > ]]> 0)
		 	 or (scm_b_supplyplan.doneMenge>0 and  scm_b_supplyplan.doneMenge <![CDATA[ < ]]> scm_b_supplyplan.g_Menge))
		</if>
		<if test="order.gysaccount != null and order.gysaccount != ''">
			AND scm_b_supplyplan.gysaccount = #{order.gysaccount}
		</if>

		<if test="order.keyword_gys != null and order.keyword_gys != ''">
			AND ((scm_b_supplyplan.gysaccount = #{order.keyword_gys}) or (scm_b_supplyplan.gysname like concat('%',#{order.keyword_gys},'%')))
		</if>
		<if test="order.baseId != null">
			AND scm_b_supplyplan.base_Id = #{order.baseId}
		</if>
		<if test="order.noOrder != null and order.noOrder != ''">
			AND (length(scm_b_supplyplan.SEND_ORDER_CODE) = 0  or scm_b_supplyplan.SEND_ORDER_CODE is null)
		</if>

	</select>
	<select id="findVPurcharseorder_COUNT" resultType="Long" parameterType="cc.mrbird.febs.scm.entity.ViewSupplyplan">
	   SELECT
	COUNT(1)
FROM
	(
		(
			SELECT
				base_id
			FROM
				`scm_b_supplyplan`
			WHERE
		 `scm_b_supplyplan`.`IS_DELETEMARK` = 1 and  `scm_b_supplyplan`.`bsart_d` = 0
		<if test="order.id != null and order.id != 0">
			AND scm_b_supplyplan.id = #{order.id}
		</if>
		<if test="order.status != null">
			AND scm_b_supplyplan.status = #{order.status}
		</if>
		<if test="order.doneMenge == 0">
			AND scm_b_supplyplan.doneMenge = scm_b_supplyplan.g_Menge
		</if>
		<if test="order.doneMenge == 2">
			AND (((scm_b_supplyplan.doneMenge is null or scm_b_supplyplan.doneMenge <![CDATA[ < ]]> scm_b_supplyplan.g_Menge) AND length(scm_b_supplyplan.SEND_ORDER_CODE) <![CDATA[ > ]]> 0)
			 or (scm_b_supplyplan.doneMenge>0 and  scm_b_supplyplan.doneMenge <![CDATA[ < ]]> scm_b_supplyplan.g_Menge))
		</if>
		<if test="order.gysaccount != null and order.gysaccount != ''">
			AND scm_b_supplyplan.gysaccount = #{order.gysaccount}
		</if>
		<if test="order.keyword_gys != null and order.keyword_gys != ''">
			AND ((scm_b_supplyplan.gysaccount = #{order.keyword_gys}) or (scm_b_supplyplan.gysname like concat('%',#{order.keyword_gys},'%')))
		</if>
		<if test="order.baseId != null">
			AND scm_b_supplyplan.base_Id = #{order.baseId}
		</if>
		<if test="order.noOrder != null and order.noOrder != ''">
			AND (length(scm_b_supplyplan.SEND_ORDER_CODE) = 0  or scm_b_supplyplan.SEND_ORDER_CODE is null)
		</if>
		) a
		JOIN (
			SELECT
		scm_b_purcharseorder.id
			FROM
				`scm_b_purcharseorder`
		<if test="order.ebelp !=null">
			INNER JOIN scm_b_userandarea A2 ON CONCAT(scm_b_purcharseorder.werks,scm_b_purcharseorder.lgort)  = A2.AreaID  AND A2.UserID=${order.ebelp}
		</if>
		WHERE
		1 = 1
		<if test="order.ebeln != null">
			AND scm_b_purcharseorder.ebeln = #{order.ebeln}
		</if>
		<if test="order.werks != null and order.werks !='0'.toString()">
			AND scm_b_purcharseorder.werks = #{order.werks}
		</if>
		<if test="order.lgort != null and order.lgort !='0'.toString()">
			AND scm_b_purcharseorder.lgort = #{order.lgort}
		</if>
		<if test="order.gysname != null and order.gysname != ''">
			AND scm_b_purcharseorder.gysname like concat('%',#{order.gysname},'%')
		</if>
		<if test="order.txz01 != null and order.txz01 != ''">
			AND scm_b_purcharseorder.txz01 like concat('%',#{order.txz01},'%')
		</if>
		<if test="order.matnr != null and order.matnr != ''">
			AND scm_b_purcharseorder.matnr = #{order.matnr}
		</if>
		<if test="order.keyword_mater != null and order.keyword_mater != ''">
			AND ((scm_b_purcharseorder.matnr = #{order.keyword_mater}) or (scm_b_purcharseorder.txz01 like concat('%',#{order.keyword_mater},'%')))
		</if>

		<if test="order.eindt != null">
			AND scm_b_purcharseorder.bedat <![CDATA[ >= ]]>  #{order.eindt}
		</if>
		<if test="order.bedat != null">
			AND scm_b_purcharseorder.bedat <![CDATA[ <= ]]> #{order.bedat}
		</if>

		) b
	)
WHERE
	(a.`BASE_ID` = b.`ID`)
	</select>
    <select id="findVPurcharseorder" resultType="cc.mrbird.febs.scm.entity.ViewSupplyplan" parameterType="cc.mrbird.febs.scm.entity.ViewSupplyplan">
        SELECT
	b.`ebeln` AS `ebeln`,
	b.`ebelp` AS `ebelp`,
	b.`matnr` AS `matnr`,
	b.`txz01` AS `txz01`,
	b.`werkst` AS `werkst`,
	b.`werks` AS `werks`,
	b.`lgort` AS `lgort`,
	b.`lgortName` AS `lgortName`,
	b.`menge` AS `menge`,
	b.`meins` AS `meins`,
	b.`mseht` AS `mseht`,
	b.`netpr` AS `netpr`,
	b.`eindt` AS `eindt`,
	b.`bedat` AS `bedat`,
	b.`bsart` AS `bsart`,
	a.`CHARGE` AS `CHARGE`,
	a.`VFDAT` AS `VFDAT`,
	a.`HSDAT` AS `HSDAT`,
	a.`FPHM` AS `FPHM`,
	a.`FPJR` AS `FPJR`,
	a.`FPRQ` AS `FPRQ`,
	a.`BASE_ID` AS `BASE_ID`,
	a.`ID` AS `ID`,
	a.`STATUS` AS `STATUS`,
	(CASE WHEN a.`STATUS`=1 then a.g_Menge ELSE a.DoneMenge end) AS `DONEMENGE`,
	a.`FPBM` AS `FPBM`,
	a.`GYSACCOUNT` AS `GYSACCOUNT`,
	a.`GYSNAME` AS `GYSNAME`,
	a.`G_Menge` as `GMenge`,
	a.`PKG_AMOUNT` AS `PKG_AMOUNT`,
	a.`PKG_NUMBER` AS `PKG_NUMBER`,
	a.`UNINFORMED_STATE` AS `UNINFORMED_STATE`,
	a.`INFORMED_STATE` AS `INFORMED_STATE`,
	a.`BSART_D` AS `BSART_D`,
	a.`LINK_PERSON` AS `LINK_PERSON`,
	a.`SEND_DEPART` AS `SEND_DEPART`,
	a.`LINK_TELEPHONE` AS `LINK_TELEPHONE`,
	a.`SEND_ORDER_CODE` AS `SEND_ORDER_CODE`,
	a.`OUT_CAUSE` AS `OUT_CAUSE`,
	a.`OUT_DATE` AS `OUT_DATE`,
	a.`IS_DELETEMARK` AS `IS_DELETEMARK`,
	a.`CREATE_TIME` AS `CREATE_TIME`,
	a.`MODIFY_TIME` AS `MODIFY_TIME`,
	a.`CREATE_USER_ID` AS `CREATE_USER_ID`,
	a.`MODIFY_USER_ID` AS `MODIFY_USER_ID`,
	b.`NAME` AS `NAME`
		FROM
		(
		(
		SELECT
		*
		FROM
		`scm_b_supplyplan`
		WHERE
		`scm_b_supplyplan`.`IS_DELETEMARK` = 1 and  `scm_b_supplyplan`.`bsart_d` = 0
		<if test="order.id != null and order.id != 0">
			AND scm_b_supplyplan.id = #{order.id}
		</if>
		<if test="order.status != null">
			AND scm_b_supplyplan.status = #{order.status}
		</if>
		<if test="order.doneMenge == 0">
			AND scm_b_supplyplan.doneMenge = scm_b_supplyplan.g_Menge
		</if>
		<if test="order.doneMenge == 2">
			AND (((scm_b_supplyplan.doneMenge is null or scm_b_supplyplan.doneMenge <![CDATA[ < ]]> scm_b_supplyplan.g_Menge) AND length(scm_b_supplyplan.SEND_ORDER_CODE) <![CDATA[ > ]]> 0)
			 or (scm_b_supplyplan.doneMenge>0 and  scm_b_supplyplan.doneMenge <![CDATA[ < ]]> scm_b_supplyplan.g_Menge))
		</if>
		<if test="order.gysaccount != null and order.gysaccount != ''">
			AND scm_b_supplyplan.gysaccount = #{order.gysaccount}
		</if>
		<if test="order.keyword_gys != null and order.keyword_gys != ''">
			AND ((scm_b_supplyplan.gysaccount = #{order.keyword_gys}) or (scm_b_supplyplan.gysname like concat('%',#{order.keyword_gys},'%')))
		</if>
		<if test="order.baseId != null">
			AND scm_b_supplyplan.base_Id = #{order.baseId}
		</if>
		<if test="order.noOrder != null and order.noOrder != ''">
			AND (length(scm_b_supplyplan.SEND_ORDER_CODE) = 0  or scm_b_supplyplan.SEND_ORDER_CODE is null)
		</if>
		<if test="order.sendOrderCode != null and order.sendOrderCode != ''">
			AND scm_b_supplyplan.SEND_ORDER_CODE = #{order.sendOrderCode}
		</if>
		<if test="order.sendCodes != null and order.sendCodes != ''">
			AND scm_b_supplyplan.SEND_ORDER_CODE in ${order.sendCodes}
		</if>
		) a
		JOIN (
		SELECT
		scm_b_purcharseorder.*
		FROM
		`scm_b_purcharseorder`

		<if test="order.ebelp !=null">
			INNER JOIN scm_b_userandarea A2 ON CONCAT(scm_b_purcharseorder.werks,scm_b_purcharseorder.lgort)  = A2.AreaID  AND A2.UserID=${order.ebelp}
		</if>
		WHERE
		1 = 1

		<if test="order.ebeln != null and order.ebeln !=''">
			AND scm_b_purcharseorder.ebeln = #{order.ebeln}
		</if>
		<if test="order.werks != null and order.werks !='0'.toString()">
			AND scm_b_purcharseorder.werks = #{order.werks}
		</if>
		<if test="order.lgort != null and order.lgort !='0'.toString()">
			AND scm_b_purcharseorder.lgort = #{order.lgort}
		</if>
		<if test="order.gysname != null and order.gysname != ''">
			AND scm_b_purcharseorder.gysname like concat('%',#{order.gysname},'%')
		</if>
		<if test="order.txz01 != null and order.txz01 != ''">
			AND scm_b_purcharseorder.txz01 like concat('%',#{order.txz01},'%')
		</if>
		<if test="order.matnr != null and order.matnr != ''">
			AND scm_b_purcharseorder.matnr = #{order.matnr}
		</if>
		<if test="order.keyword_mater != null and order.keyword_mater != ''">
			AND ((scm_b_purcharseorder.matnr = #{order.keyword_mater}) or (scm_b_purcharseorder.txz01 like concat('%',#{order.keyword_mater},'%')))
		</if>
		<if test="order.eindt != null">
			AND scm_b_purcharseorder.bedat <![CDATA[ >= ]]>  #{order.eindt}
		</if>
		<if test="order.bedat != null">
			AND scm_b_purcharseorder.bedat <![CDATA[ <= ]]> #{order.bedat}
		</if>

		) b
		)
		WHERE
		(a.`BASE_ID` = b.`ID`)
    </select>
<!--pda 获取供应计划接口-->
	<select id="findVPurcharseorderForPda" resultType="cc.mrbird.febs.scm.entity.ViewSupplyplan" >
		SELECT
		b.`ebeln` AS `ebeln`,
		b.`ebelp` AS `ebelp`,
		b.`matnr` AS `matnr`,
		b.`txz01` AS `txz01`,
		b.`werkst` AS `werkst`,
		b.`werks` AS `werks`,
		b.`lgort` AS `lgort`,
		b.`lgortName` AS `lgortName`,
		b.`menge` AS `menge`,
		b.`meins` AS `meins`,
		b.`mseht` AS `mseht`,
		b.`netpr` AS `netpr`,
		b.`eindt` AS `eindt`,
		b.`bedat` AS `bedat`,
		b.`bsart` AS `bsart`,
		a.`CHARGE` AS `CHARGE`,
		a.`VFDAT` AS `VFDAT`,
		a.`HSDAT` AS `HSDAT`,
		a.`FPHM` AS `FPHM`,
		a.`FPJR` AS `FPJR`,
		a.`FPRQ` AS `FPRQ`,
		a.`BASE_ID` AS `BASE_ID`,
		a.`ID` AS `ID`,
		a.`STATUS` AS `STATUS`,
		(CASE WHEN a.`STATUS`=1 then a.g_Menge ELSE a.DoneMenge end) AS `DONEMENGE`,
		a.`FPBM` AS `FPBM`,
		a.`GYSACCOUNT` AS `GYSACCOUNT`,
		a.`GYSNAME` AS `GYSNAME`,
		a.`G_Menge` as `GMenge`,
		a.`PKG_AMOUNT` AS `PKG_AMOUNT`,
		a.`PKG_NUMBER` AS `PKG_NUMBER`,
		a.`UNINFORMED_STATE` AS `UNINFORMED_STATE`,
		a.`INFORMED_STATE` AS `INFORMED_STATE`,
		a.`BSART_D` AS `BSART_D`,
		a.`LINK_PERSON` AS `LINK_PERSON`,
		a.`SEND_DEPART` AS `SEND_DEPART`,
		a.`LINK_TELEPHONE` AS `LINK_TELEPHONE`,
		a.`SEND_ORDER_CODE` AS `SEND_ORDER_CODE`,
		a.`OUT_CAUSE` AS `OUT_CAUSE`,
		a.`OUT_DATE` AS `OUT_DATE`,
		a.`IS_DELETEMARK` AS `IS_DELETEMARK`,
		a.`CREATE_TIME` AS `CREATE_TIME`,
		a.`MODIFY_TIME` AS `MODIFY_TIME`,
		a.`CREATE_USER_ID` AS `CREATE_USER_ID`,
		a.`MODIFY_USER_ID` AS `MODIFY_USER_ID`,
		b.`NAME` AS `NAME` ,
		d.state AS sub_state,
		d.menge as sub_menge

		FROM
		`scm_b_supplyplan` a
		JOIN
		`scm_b_purcharseorder`  b
		inner join scm_b_supplyplan_d d

		WHERE
		(a.`BASE_ID` = b.`ID`) and d.ID=#{id} and a.ID =d.BASE_ID
	</select>
    <select id="findVPlanByOrderCode" resultType="cc.mrbird.febs.scm.entity.ViewSupplyplan" >
      SELECT
	`scm_b_purcharseorder`.`ebeln` AS `ebeln`,
	`scm_b_purcharseorder`.`ebelp` AS `ebelp`,
	`scm_b_purcharseorder`.`matnr` AS `matnr`,
	`scm_b_purcharseorder`.`txz01` AS `txz01`,
	`scm_b_purcharseorder`.`werkst` AS `werkst`,
	`scm_b_purcharseorder`.`werks` AS `werks`,
	`scm_b_purcharseorder`.`lgort` AS `lgort`,
	`scm_b_purcharseorder`.`lgortName` AS `lgortName`,
	`scm_b_purcharseorder`.`menge` AS `menge`,
	`scm_b_purcharseorder`.`meins` AS `meins`,
	`scm_b_purcharseorder`.`mseht` AS `mseht`,
	`scm_b_purcharseorder`.`netpr` AS `netpr`,
	`scm_b_purcharseorder`.`eindt` AS `eindt`,
	`scm_b_purcharseorder`.`bedat` AS `bedat`,
	`scm_b_purcharseorder`.`bsart` AS `bsart`,
	`scm_b_supplyplan`.`G_MENGE` AS `G_MENGE`,
	`scm_b_supplyplan`.`CHARGE` AS `CHARGE`,
	`scm_b_supplyplan`.`VFDAT` AS `VFDAT`,
	`scm_b_supplyplan`.`HSDAT` AS `HSDAT`,
	`scm_b_supplyplan`.`FPHM` AS `FPHM`,
	`scm_b_supplyplan`.`FPJR` AS `FPJR`,
	`scm_b_supplyplan`.`FPRQ` AS `FPRQ`,
	`scm_b_supplyplan`.`BASE_ID` AS `BASE_ID`,
	`scm_b_supplyplan`.`ID` AS `ID`,
	`scm_b_supplyplan`.`STATUS` AS `STATUS`,
	`scm_b_supplyplan`.`DoneMenge` AS `DONEMENGE`,
	`scm_b_supplyplan`.`FPBM` AS `FPBM`,
	`scm_b_supplyplan`.`GYSACCOUNT` AS `GYSACCOUNT`,
	`scm_b_supplyplan`.`GYSNAME` AS `GYSNAME`,
	`scm_b_supplyplan`.`PKG_AMOUNT` AS `PKG_AMOUNT`,
	`scm_b_supplyplan`.`PKG_NUMBER` AS `PKG_NUMBER`,
	`scm_b_supplyplan`.`UNINFORMED_STATE` AS `UNINFORMED_STATE`,
	`scm_b_supplyplan`.`INFORMED_STATE` AS `INFORMED_STATE`,
	`scm_b_supplyplan`.`BSART_D` AS `BSART_D`,
	`scm_b_supplyplan`.`LINK_PERSON` AS `LINK_PERSON`,
	`scm_b_supplyplan`.`SEND_DEPART` AS `SEND_DEPART`,
	`scm_b_supplyplan`.`LINK_TELEPHONE` AS `LINK_TELEPHONE`,
	`scm_b_supplyplan`.`SEND_ORDER_CODE` AS `SEND_ORDER_CODE`,
	`scm_b_supplyplan`.`OUT_CAUSE` AS `OUT_CAUSE`,
	`scm_b_supplyplan`.`OUT_DATE` AS `OUT_DATE`,
	`scm_b_supplyplan`.`IS_DELETEMARK` AS `IS_DELETEMARK`,
	`scm_b_supplyplan`.`CREATE_TIME` AS `CREATE_TIME`,
	`scm_b_supplyplan`.`MODIFY_TIME` AS `MODIFY_TIME`,
	`scm_b_supplyplan`.`CREATE_USER_ID` AS `CREATE_USER_ID`,
	`scm_b_supplyplan`.`MODIFY_USER_ID` AS `MODIFY_USER_ID`,
	`scm_b_purcharseorder`.`NAME` AS `NAME`
FROM
	(
		(select * from `scm_b_supplyplan` where SEND_ORDER_CODE=#{orderCode}) scm_b_supplyplan
		JOIN `scm_b_purcharseorder`
	)
where
	(
		`scm_b_supplyplan`.`BASE_ID` = `scm_b_purcharseorder`.`ID`
	)
    </select>

	<select id="findMatnrValid_Count" resultType="Long" parameterType="cc.mrbird.febs.scm.entity.ViewSupplyplan">

		SELECT
		count(1)
		FROM
		scm_b_supplyplan
		WHERE
		CREATE_TIME > DATE_SUB( curdate( ), INTERVAL 6 MONTH )
		AND `status` = 1
		AND IS_DELETEMARK = 1
		AND bsart_d = 0
	</select>
	<select id="findMatnrValid_Count2" resultType="Long" parameterType="cc.mrbird.febs.scm.entity.ViewSupplyplan">

		SELECT
	count(1)
FROM
	(
		SELECT
			a.base_id
		FROM
			scm_b_supplyplan a
		WHERE
			a.CREATE_TIME > DATE_SUB(curdate(), INTERVAL 6 MONTH)
		AND a.`status` = 1
		AND a.IS_DELETEMARK = 1
		AND a.bsart_d = 0
	) a
INNER JOIN (
	SELECT
		id
	FROM
		scm_b_purcharseorder b
	WHERE
		b.bedat > DATE_SUB(curdate(), INTERVAL 6 MONTH)
		<if test="order.werks != null and order.werks !='0'.toString()">
			AND b.werks = #{order.werks}
		</if>
		<if test="order.lgort != null and order.lgort !='0'.toString()">
			AND b.lgort = #{order.lgort}
		</if>
		<if test="order.txz01 != null and order.txz01 != ''">
			AND b.txz01 like concat('%',#{order.txz01},'%')
		</if>
		<if test="order.matnr != null and order.matnr != ''">
			AND b.matnr = #{order.matnr}
		</if>
) p
WHERE
	a.BASE_ID = p.id
	</select>
	<select id="findMatnrValid" resultType="cc.mrbird.febs.scm.entity.ViewSupplyplan" parameterType="cc.mrbird.febs.scm.entity.ViewSupplyplan">
		SELECT
		p.VFDAT,
		p.ID,
		p.CHARGE,
		a.werks,
		a.werkst,
		a.txz01,
		a.matnr,
		a.lgort,
		a.lgortName
		FROM
		(
		SELECT
		BASE_ID,
		ID,
		VFDAT,
		CHARGE
		FROM
		scm_b_supplyplan
		WHERE
		CREATE_TIME > DATE_SUB( curdate( ), INTERVAL 6 MONTH )
		AND `status` = 1
		AND IS_DELETEMARK = 1
		AND bsart_d = 0
		) p
		INNER JOIN scm_b_purcharseorder a ON p.BASE_ID = a.ID
		WHERE 1 = 1
		<if test="order.werks != null and order.werks !='0'.toString()">
			AND a.werks = #{order.werks}
		</if>
		<if test="order.lgort != null and order.lgort !='0'.toString()">
			AND a.lgort = #{order.lgort}
		</if>
		<if test="order.txz01 != null and order.txz01 != ''">
			AND a.txz01 like concat('%',#{order.txz01},'%')
		</if>
		<if test="order.matnr != null and order.matnr != ''">
			AND a.matnr = #{order.matnr}
		</if>
	</select>
</mapper>