<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.scm.dao.VMsgOrderinfoMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="cc.mrbird.febs.scm.entity.VMsgOrderinfo">
                    <result column="numCount" property="numCount"/>
                    <result column="werkst" property="werkst"/>
                    <result column="NAME" property="name"/>
                    <result column="CODE" property="code"/>
                    <result column="vxcode" property="vxcode"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        numCount, werkst, NAME, CODE, vxcode
    </sql>
    <update id="updateVMsgOrderinfo" parameterType="cc.mrbird.febs.scm.entity.VMsgOrderinfo">
        update v_msg_orderinfo
        <trim prefix="set" suffixOverrides=",">
<if test="numCount != null">numCount=#{numCount},</if>
<if test="werkst != null">werkst=#{werkst},</if>
<if test="name != null">NAME=#{name},</if>
<if test="code != null">CODE=#{code},</if>
<if test="vxcode != null">vxcode=#{vxcode},</if>
        </trim>
        where id=#{id}
    </update>
</mapper>