<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.dcacopy.dao.DcaBCopyAttachfileMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="cc.mrbird.febs.dcacopy.entity.DcaBCopyAttachfile">
                    <id column="id" property="id"/>
                    <result column="dca_year" property="dcaYear"/>
            <result column="gwdj" property="gwdj"/>
                    <result column="file_id" property="fileId"/>
                    <result column="display_index" property="displayIndex"/>
                    <result column="file_url" property="fileUrl"/>
                    <result column="user_account_name" property="userAccountName"/>
                    <result column="user_account" property="userAccount"/>
                    <result column="file_name" property="fileName"/>
                    <result column="file_type" property="fileType"/>
                    <result column="state" property="state"/>
                    <result column="IS_DELETEMARK" property="isDeletemark"/>
                    <result column="CREATE_TIME" property="createTime"/>
                    <result column="MODIFY_TIME" property="modifyTime"/>
                    <result column="CREATE_USER_ID" property="createUserId"/>
                    <result column="MODIFY_USER_ID" property="modifyUserId"/>
                    <result column="auditMan" property="auditMan"/>
                    <result column="auditManName" property="auditManName"/>
                    <result column="auditDate" property="auditDate"/>
                    <result column="auditSuggestion" property="auditSuggestion"/>
                    <result column="IsUse" property="IsUse"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        id,   dca_year, gwdj, file_id, display_index, file_url, user_account_name, user_account, file_name, file_type, state, IS_DELETEMARK, CREATE_TIME, MODIFY_TIME, CREATE_USER_ID, MODIFY_USER_ID, auditMan, auditManName, auditDate, auditSuggestion, IsUse
    </sql>
    <update id="updateDcaBCopyAttachfile" parameterType="cc.mrbird.febs.dcacopy.entity.DcaBCopyAttachfile">
        update dca_b_copy_attachfile
        <trim prefix="set" suffixOverrides=",">
<if test="dcaYear != null">dca_year=#{dcaYear},</if>
<if test="fileId != null">file_id=#{fileId},</if>
<if test="displayIndex != null">display_index=#{displayIndex},</if>
<if test="fileUrl != null">file_url=#{fileUrl},</if>
<if test="userAccountName != null">user_account_name=#{userAccountName},</if>
<if test="userAccount != null">user_account=#{userAccount},</if>
<if test="fileName != null">file_name=#{fileName},</if>
<if test="fileType != null">file_type=#{fileType},</if>
<if test="state != null">state=#{state},</if>
<if test="isDeletemark != null">IS_DELETEMARK=#{isDeletemark},</if>
<if test="createTime != null">CREATE_TIME=#{createTime},</if>
<if test="modifyTime != null">MODIFY_TIME=#{modifyTime},</if>
<if test="createUserId != null">CREATE_USER_ID=#{createUserId},</if>
<if test="modifyUserId != null">MODIFY_USER_ID=#{modifyUserId},</if>
<if test="auditMan != null">auditMan=#{auditMan},</if>
<if test="auditManName != null">auditManName=#{auditManName},</if>
<if test="auditDate != null">auditDate=#{auditDate},</if>
<if test="auditSuggestion != null">auditSuggestion=#{auditSuggestion},</if>
<if test="IsUse != null">IsUse=#{IsUse},</if>
        </trim>
                where id=#{id}

    </update>
    <select id="findDcaBCopyAttachfile" resultType="cc.mrbird.febs.dcacopy.entity.DcaBCopyAttachfile" parameterType="cc.mrbird.febs.dcacopy.entity.DcaBCopyAttachfile">
        select  *  from dca_b_copy_attachfile
        where  1=1
            <if test="dcaBCopyAttachfile.id != null and dcaBCopyAttachfile.id != ''"> and dcaBCopyAttachfile.id =#{ dcaBCopyAttachfile.id} </if>
            <if test="dcaBCopyAttachfile.dcaYear != null and dcaBCopyAttachfile.dcaYear != ''"> and dcaBCopyAttachfile.dca_year like concat('%', #{ dcaBCopyAttachfile.dcaYear} ,'%')</if>
            <if test="dcaBCopyAttachfile.fileId != null and dcaBCopyAttachfile.fileId != ''"> and dcaBCopyAttachfile.file_id like concat('%', #{ dcaBCopyAttachfile.fileId} ,'%')</if>
        <if test="dcaBCopyAttachfile.displayIndex != null"> and dcaBCopyAttachfile.display_index =#{ dcaBCopyAttachfile.displayIndex} </if>
            <if test="dcaBCopyAttachfile.fileUrl != null and dcaBCopyAttachfile.fileUrl != ''"> and dcaBCopyAttachfile.file_url like concat('%', #{ dcaBCopyAttachfile.fileUrl} ,'%')</if>
            <if test="dcaBCopyAttachfile.userAccountName != null and dcaBCopyAttachfile.userAccountName != ''"> and dcaBCopyAttachfile.user_account_name like concat('%', #{ dcaBCopyAttachfile.userAccountName} ,'%')</if>
            <if test="dcaBCopyAttachfile.userAccount != null and dcaBCopyAttachfile.userAccount != ''"> and dcaBCopyAttachfile.user_account like concat('%', #{ dcaBCopyAttachfile.userAccount} ,'%')</if>
            <if test="dcaBCopyAttachfile.fileName != null and dcaBCopyAttachfile.fileName != ''"> and dcaBCopyAttachfile.file_name like concat('%', #{ dcaBCopyAttachfile.fileName} ,'%')</if>
            <if test="dcaBCopyAttachfile.fileType != null and dcaBCopyAttachfile.fileType != ''"> and dcaBCopyAttachfile.file_type like concat('%', #{ dcaBCopyAttachfile.fileType} ,'%')</if>
        <if test="dcaBCopyAttachfile.state != null"> and dcaBCopyAttachfile.state =#{ dcaBCopyAttachfile.state} </if>
        <if test="dcaBCopyAttachfile.isDeletemark != null"> and dcaBCopyAttachfile.IS_DELETEMARK =#{ dcaBCopyAttachfile.isDeletemark} </if>
        <if test="dcaBCopyAttachfile.createTimeFrom!= null">
            AND dcaBCopyAttachfile.CREATE_TIME <![CDATA[ >= ]]>  #{dcaBCopyAttachfile.createTimeFrom}
        </if>
        <if test="dcaBCopyAttachfile.createTimeTo!= null">
            AND dcaBCopyAttachfile.CREATE_TIME <![CDATA[ <= ]]>  #{dcaBCopyAttachfile.createTimeTo}
        </if>
        <if test="dcaBCopyAttachfile.modifyTimeFrom!= null">
            AND dcaBCopyAttachfile.MODIFY_TIME <![CDATA[ >= ]]>  #{dcaBCopyAttachfile.modifyTimeFrom}
        </if>
        <if test="dcaBCopyAttachfile.modifyTimeTo!= null">
            AND dcaBCopyAttachfile.MODIFY_TIME <![CDATA[ <= ]]>  #{dcaBCopyAttachfile.modifyTimeTo}
        </if>
            <if test="dcaBCopyAttachfile.auditMan != null and dcaBCopyAttachfile.auditMan != ''"> and dcaBCopyAttachfile.auditMan like concat('%', #{ dcaBCopyAttachfile.auditMan} ,'%')</if>
            <if test="dcaBCopyAttachfile.auditManName != null and dcaBCopyAttachfile.auditManName != ''"> and dcaBCopyAttachfile.auditManName like concat('%', #{ dcaBCopyAttachfile.auditManName} ,'%')</if>
        <if test="dcaBCopyAttachfile.auditDateFrom!= null">
            AND dcaBCopyAttachfile.auditDate <![CDATA[ >= ]]>  #{dcaBCopyAttachfile.auditDateFrom}
        </if>
        <if test="dcaBCopyAttachfile.auditDateTo!= null">
            AND dcaBCopyAttachfile.auditDate <![CDATA[ <= ]]>  #{dcaBCopyAttachfile.auditDateTo}
        </if>
            <if test="dcaBCopyAttachfile.auditSuggestion != null and dcaBCopyAttachfile.auditSuggestion != ''"> and dcaBCopyAttachfile.auditSuggestion like concat('%', #{ dcaBCopyAttachfile.auditSuggestion} ,'%')</if>
</select>

</mapper>