<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.dcacopy.dao.DcaBCopyPersonalsummaryMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="cc.mrbird.febs.dcacopy.entity.DcaBCopyPersonalsummary">
                    <id column="id" property="id"/>
                    <result column="dca_year" property="dcaYear"/>
            <result column="gwdj" property="gwdj"/>
                    <result column="file_id" property="fileId"/>
                    <result column="display_index" property="displayIndex"/>
                    <result column="file_url" property="fileUrl"/>
                    <result column="user_account_name" property="userAccountName"/>
                    <result column="user_account" property="userAccount"/>
                    <result column="ps_content" property="psContent"/>
                    <result column="state" property="state"/>
                    <result column="IS_DELETEMARK" property="isDeletemark"/>
                    <result column="CREATE_TIME" property="createTime"/>
                    <result column="MODIFY_TIME" property="modifyTime"/>
                    <result column="CREATE_USER_ID" property="createUserId"/>
                    <result column="MODIFY_USER_ID" property="modifyUserId"/>
                    <result column="auditMan" property="auditMan"/>
                    <result column="auditManName" property="auditManName"/>
                    <result column="auditDate" property="auditDate"/>
                    <result column="auditSuggestion" property="auditSuggestion"/>
                    <result column="IsUse" property="IsUse"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        id,   dca_year, gwdj, file_id, display_index, file_url, user_account_name, user_account, ps_content, state, IS_DELETEMARK, CREATE_TIME, MODIFY_TIME, CREATE_USER_ID, MODIFY_USER_ID, auditMan, auditManName, auditDate, auditSuggestion, IsUse
    </sql>
    <update id="updateDcaBCopyPersonalsummary" parameterType="cc.mrbird.febs.dcacopy.entity.DcaBCopyPersonalsummary">
        update dca_b_copy_personalsummary
        <trim prefix="set" suffixOverrides=",">
<if test="dcaYear != null">dca_year=#{dcaYear},</if>
<if test="fileId != null">file_id=#{fileId},</if>
<if test="displayIndex != null">display_index=#{displayIndex},</if>
<if test="fileUrl != null">file_url=#{fileUrl},</if>
<if test="userAccountName != null">user_account_name=#{userAccountName},</if>
<if test="userAccount != null">user_account=#{userAccount},</if>
<if test="psContent != null">ps_content=#{psContent},</if>
<if test="state != null">state=#{state},</if>
<if test="isDeletemark != null">IS_DELETEMARK=#{isDeletemark},</if>
<if test="createTime != null">CREATE_TIME=#{createTime},</if>
<if test="modifyTime != null">MODIFY_TIME=#{modifyTime},</if>
<if test="createUserId != null">CREATE_USER_ID=#{createUserId},</if>
<if test="modifyUserId != null">MODIFY_USER_ID=#{modifyUserId},</if>
<if test="auditMan != null">auditMan=#{auditMan},</if>
<if test="auditManName != null">auditManName=#{auditManName},</if>
<if test="auditDate != null">auditDate=#{auditDate},</if>
<if test="auditSuggestion != null">auditSuggestion=#{auditSuggestion},</if>
<if test="IsUse != null">IsUse=#{IsUse},</if>
        </trim>
                where id=#{id}

    </update>
    <select id="findDcaBCopyPersonalsummary" resultType="cc.mrbird.febs.dcacopy.entity.DcaBCopyPersonalsummary" parameterType="cc.mrbird.febs.dcacopy.entity.DcaBCopyPersonalsummary">
        select  *  from dca_b_copy_personalsummary
        where  1=1
            <if test="dcaBCopyPersonalsummary.id != null and dcaBCopyPersonalsummary.id != ''"> and dcaBCopyPersonalsummary.id =#{ dcaBCopyPersonalsummary.id} </if>
            <if test="dcaBCopyPersonalsummary.dcaYear != null and dcaBCopyPersonalsummary.dcaYear != ''"> and dcaBCopyPersonalsummary.dca_year like concat('%', #{ dcaBCopyPersonalsummary.dcaYear} ,'%')</if>
            <if test="dcaBCopyPersonalsummary.fileId != null and dcaBCopyPersonalsummary.fileId != ''"> and dcaBCopyPersonalsummary.file_id like concat('%', #{ dcaBCopyPersonalsummary.fileId} ,'%')</if>
        <if test="dcaBCopyPersonalsummary.displayIndex != null"> and dcaBCopyPersonalsummary.display_index =#{ dcaBCopyPersonalsummary.displayIndex} </if>
            <if test="dcaBCopyPersonalsummary.fileUrl != null and dcaBCopyPersonalsummary.fileUrl != ''"> and dcaBCopyPersonalsummary.file_url like concat('%', #{ dcaBCopyPersonalsummary.fileUrl} ,'%')</if>
            <if test="dcaBCopyPersonalsummary.userAccountName != null and dcaBCopyPersonalsummary.userAccountName != ''"> and dcaBCopyPersonalsummary.user_account_name like concat('%', #{ dcaBCopyPersonalsummary.userAccountName} ,'%')</if>
            <if test="dcaBCopyPersonalsummary.userAccount != null and dcaBCopyPersonalsummary.userAccount != ''"> and dcaBCopyPersonalsummary.user_account like concat('%', #{ dcaBCopyPersonalsummary.userAccount} ,'%')</if>
            <if test="dcaBCopyPersonalsummary.psContent != null and dcaBCopyPersonalsummary.psContent != ''"> and dcaBCopyPersonalsummary.ps_content like concat('%', #{ dcaBCopyPersonalsummary.psContent} ,'%')</if>
        <if test="dcaBCopyPersonalsummary.state != null"> and dcaBCopyPersonalsummary.state =#{ dcaBCopyPersonalsummary.state} </if>
        <if test="dcaBCopyPersonalsummary.isDeletemark != null"> and dcaBCopyPersonalsummary.IS_DELETEMARK =#{ dcaBCopyPersonalsummary.isDeletemark} </if>
        <if test="dcaBCopyPersonalsummary.createTimeFrom!= null">
            AND dcaBCopyPersonalsummary.CREATE_TIME <![CDATA[ >= ]]>  #{dcaBCopyPersonalsummary.createTimeFrom}
        </if>
        <if test="dcaBCopyPersonalsummary.createTimeTo!= null">
            AND dcaBCopyPersonalsummary.CREATE_TIME <![CDATA[ <= ]]>  #{dcaBCopyPersonalsummary.createTimeTo}
        </if>
        <if test="dcaBCopyPersonalsummary.modifyTimeFrom!= null">
            AND dcaBCopyPersonalsummary.MODIFY_TIME <![CDATA[ >= ]]>  #{dcaBCopyPersonalsummary.modifyTimeFrom}
        </if>
        <if test="dcaBCopyPersonalsummary.modifyTimeTo!= null">
            AND dcaBCopyPersonalsummary.MODIFY_TIME <![CDATA[ <= ]]>  #{dcaBCopyPersonalsummary.modifyTimeTo}
        </if>
            <if test="dcaBCopyPersonalsummary.auditMan != null and dcaBCopyPersonalsummary.auditMan != ''"> and dcaBCopyPersonalsummary.auditMan like concat('%', #{ dcaBCopyPersonalsummary.auditMan} ,'%')</if>
            <if test="dcaBCopyPersonalsummary.auditManName != null and dcaBCopyPersonalsummary.auditManName != ''"> and dcaBCopyPersonalsummary.auditManName like concat('%', #{ dcaBCopyPersonalsummary.auditManName} ,'%')</if>
        <if test="dcaBCopyPersonalsummary.auditDateFrom!= null">
            AND dcaBCopyPersonalsummary.auditDate <![CDATA[ >= ]]>  #{dcaBCopyPersonalsummary.auditDateFrom}
        </if>
        <if test="dcaBCopyPersonalsummary.auditDateTo!= null">
            AND dcaBCopyPersonalsummary.auditDate <![CDATA[ <= ]]>  #{dcaBCopyPersonalsummary.auditDateTo}
        </if>
            <if test="dcaBCopyPersonalsummary.auditSuggestion != null and dcaBCopyPersonalsummary.auditSuggestion != ''"> and dcaBCopyPersonalsummary.auditSuggestion like concat('%', #{ dcaBCopyPersonalsummary.auditSuggestion} ,'%')</if>
</select>

</mapper>