<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.dcacopy.dao.DcaBCopyEmployMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="cc.mrbird.febs.dcacopy.entity.DcaBCopyEmploy">
                    <id column="id" property="id"/>
                    <result column="dca_year" property="dcaYear"/>
            <result column="gwdj" property="gwdj"/>
                    <result column="file_id" property="fileId"/>
                    <result column="display_index" property="displayIndex"/>
                    <result column="file_url" property="fileUrl"/>
                    <result column="user_account_name" property="userAccountName"/>
                    <result column="user_account" property="userAccount"/>
                    <result column="em_start_TIME" property="emStartTime"/>
                    <result column="em_end_TIME" property="emEndTime"/>
                    <result column="em_coursename" property="emCoursename"/>
                    <result column="em_otherwork" property="emOtherwork"/>
                    <result column="em_studentcount" property="emStudentcount"/>
                    <result column="em_weektime" property="emWeektime"/>
                    <result column="em_totaltime" property="emTotaltime"/>
                    <result column="em_content" property="emContent"/>
                    <result column="state" property="state"/>
                    <result column="IS_DELETEMARK" property="isDeletemark"/>
                    <result column="CREATE_TIME" property="createTime"/>
                    <result column="MODIFY_TIME" property="modifyTime"/>
                    <result column="CREATE_USER_ID" property="createUserId"/>
                    <result column="MODIFY_USER_ID" property="modifyUserId"/>
                    <result column="auditMan" property="auditMan"/>
                    <result column="auditManName" property="auditManName"/>
                    <result column="auditDate" property="auditDate"/>
                    <result column="auditSuggestion" property="auditSuggestion"/>
                    <result column="IsUse" property="IsUse"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        id,   dca_year, gwdj, file_id, display_index, file_url, user_account_name, user_account, em_start_TIME, em_end_TIME, em_coursename, em_otherwork, em_studentcount, em_weektime, em_totaltime, em_content, state, IS_DELETEMARK, CREATE_TIME, MODIFY_TIME, CREATE_USER_ID, MODIFY_USER_ID, auditMan, auditManName, auditDate, auditSuggestion, IsUse
    </sql>
    <update id="updateDcaBCopyEmploy" parameterType="cc.mrbird.febs.dcacopy.entity.DcaBCopyEmploy">
        update dca_b_copy_employ
        <trim prefix="set" suffixOverrides=",">
<if test="dcaYear != null">dca_year=#{dcaYear},</if>
<if test="fileId != null">file_id=#{fileId},</if>
<if test="displayIndex != null">display_index=#{displayIndex},</if>
<if test="fileUrl != null">file_url=#{fileUrl},</if>
<if test="userAccountName != null">user_account_name=#{userAccountName},</if>
<if test="userAccount != null">user_account=#{userAccount},</if>
<if test="emStartTime != null">em_start_TIME=#{emStartTime},</if>
<if test="emEndTime != null">em_end_TIME=#{emEndTime},</if>
<if test="emCoursename != null">em_coursename=#{emCoursename},</if>
<if test="emOtherwork != null">em_otherwork=#{emOtherwork},</if>
<if test="emStudentcount != null">em_studentcount=#{emStudentcount},</if>
<if test="emWeektime != null">em_weektime=#{emWeektime},</if>
<if test="emTotaltime != null">em_totaltime=#{emTotaltime},</if>
<if test="emContent != null">em_content=#{emContent},</if>
<if test="state != null">state=#{state},</if>
<if test="isDeletemark != null">IS_DELETEMARK=#{isDeletemark},</if>
<if test="createTime != null">CREATE_TIME=#{createTime},</if>
<if test="modifyTime != null">MODIFY_TIME=#{modifyTime},</if>
<if test="createUserId != null">CREATE_USER_ID=#{createUserId},</if>
<if test="modifyUserId != null">MODIFY_USER_ID=#{modifyUserId},</if>
<if test="auditMan != null">auditMan=#{auditMan},</if>
<if test="auditManName != null">auditManName=#{auditManName},</if>
<if test="auditDate != null">auditDate=#{auditDate},</if>
<if test="auditSuggestion != null">auditSuggestion=#{auditSuggestion},</if>
<if test="IsUse != null">IsUse=#{IsUse},</if>
        </trim>
                where id=#{id}

    </update>
    <select id="findDcaBCopyEmploy" resultType="cc.mrbird.febs.dcacopy.entity.DcaBCopyEmploy" parameterType="cc.mrbird.febs.dcacopy.entity.DcaBCopyEmploy">
        select  *  from dca_b_copy_employ
        where  1=1
            <if test="dcaBCopyEmploy.id != null and dcaBCopyEmploy.id != ''"> and dcaBCopyEmploy.id =#{ dcaBCopyEmploy.id} </if>
            <if test="dcaBCopyEmploy.dcaYear != null and dcaBCopyEmploy.dcaYear != ''"> and dcaBCopyEmploy.dca_year like concat('%', #{ dcaBCopyEmploy.dcaYear} ,'%')</if>
            <if test="dcaBCopyEmploy.fileId != null and dcaBCopyEmploy.fileId != ''"> and dcaBCopyEmploy.file_id like concat('%', #{ dcaBCopyEmploy.fileId} ,'%')</if>
        <if test="dcaBCopyEmploy.displayIndex != null"> and dcaBCopyEmploy.display_index =#{ dcaBCopyEmploy.displayIndex} </if>
            <if test="dcaBCopyEmploy.fileUrl != null and dcaBCopyEmploy.fileUrl != ''"> and dcaBCopyEmploy.file_url like concat('%', #{ dcaBCopyEmploy.fileUrl} ,'%')</if>
            <if test="dcaBCopyEmploy.userAccountName != null and dcaBCopyEmploy.userAccountName != ''"> and dcaBCopyEmploy.user_account_name like concat('%', #{ dcaBCopyEmploy.userAccountName} ,'%')</if>
            <if test="dcaBCopyEmploy.userAccount != null and dcaBCopyEmploy.userAccount != ''"> and dcaBCopyEmploy.user_account like concat('%', #{ dcaBCopyEmploy.userAccount} ,'%')</if>
        <if test="dcaBCopyEmploy.emStartTimeFrom!= null">
            AND dcaBCopyEmploy.em_start_TIME <![CDATA[ >= ]]>  #{dcaBCopyEmploy.emStartTimeFrom}
        </if>
        <if test="dcaBCopyEmploy.emStartTimeTo!= null">
            AND dcaBCopyEmploy.em_start_TIME <![CDATA[ <= ]]>  #{dcaBCopyEmploy.emStartTimeTo}
        </if>
        <if test="dcaBCopyEmploy.emEndTimeFrom!= null">
            AND dcaBCopyEmploy.em_end_TIME <![CDATA[ >= ]]>  #{dcaBCopyEmploy.emEndTimeFrom}
        </if>
        <if test="dcaBCopyEmploy.emEndTimeTo!= null">
            AND dcaBCopyEmploy.em_end_TIME <![CDATA[ <= ]]>  #{dcaBCopyEmploy.emEndTimeTo}
        </if>
            <if test="dcaBCopyEmploy.emCoursename != null and dcaBCopyEmploy.emCoursename != ''"> and dcaBCopyEmploy.em_coursename like concat('%', #{ dcaBCopyEmploy.emCoursename} ,'%')</if>
            <if test="dcaBCopyEmploy.emOtherwork != null and dcaBCopyEmploy.emOtherwork != ''"> and dcaBCopyEmploy.em_otherwork like concat('%', #{ dcaBCopyEmploy.emOtherwork} ,'%')</if>
        <if test="dcaBCopyEmploy.emStudentcount != null"> and dcaBCopyEmploy.em_studentcount =#{ dcaBCopyEmploy.emStudentcount} </if>
            <if test="dcaBCopyEmploy.emContent != null and dcaBCopyEmploy.emContent != ''"> and dcaBCopyEmploy.em_content like concat('%', #{ dcaBCopyEmploy.emContent} ,'%')</if>
        <if test="dcaBCopyEmploy.state != null"> and dcaBCopyEmploy.state =#{ dcaBCopyEmploy.state} </if>
        <if test="dcaBCopyEmploy.isDeletemark != null"> and dcaBCopyEmploy.IS_DELETEMARK =#{ dcaBCopyEmploy.isDeletemark} </if>
        <if test="dcaBCopyEmploy.createTimeFrom!= null">
            AND dcaBCopyEmploy.CREATE_TIME <![CDATA[ >= ]]>  #{dcaBCopyEmploy.createTimeFrom}
        </if>
        <if test="dcaBCopyEmploy.createTimeTo!= null">
            AND dcaBCopyEmploy.CREATE_TIME <![CDATA[ <= ]]>  #{dcaBCopyEmploy.createTimeTo}
        </if>
        <if test="dcaBCopyEmploy.modifyTimeFrom!= null">
            AND dcaBCopyEmploy.MODIFY_TIME <![CDATA[ >= ]]>  #{dcaBCopyEmploy.modifyTimeFrom}
        </if>
        <if test="dcaBCopyEmploy.modifyTimeTo!= null">
            AND dcaBCopyEmploy.MODIFY_TIME <![CDATA[ <= ]]>  #{dcaBCopyEmploy.modifyTimeTo}
        </if>
            <if test="dcaBCopyEmploy.auditMan != null and dcaBCopyEmploy.auditMan != ''"> and dcaBCopyEmploy.auditMan like concat('%', #{ dcaBCopyEmploy.auditMan} ,'%')</if>
            <if test="dcaBCopyEmploy.auditManName != null and dcaBCopyEmploy.auditManName != ''"> and dcaBCopyEmploy.auditManName like concat('%', #{ dcaBCopyEmploy.auditManName} ,'%')</if>
        <if test="dcaBCopyEmploy.auditDateFrom!= null">
            AND dcaBCopyEmploy.auditDate <![CDATA[ >= ]]>  #{dcaBCopyEmploy.auditDateFrom}
        </if>
        <if test="dcaBCopyEmploy.auditDateTo!= null">
            AND dcaBCopyEmploy.auditDate <![CDATA[ <= ]]>  #{dcaBCopyEmploy.auditDateTo}
        </if>
            <if test="dcaBCopyEmploy.auditSuggestion != null and dcaBCopyEmploy.auditSuggestion != ''"> and dcaBCopyEmploy.auditSuggestion like concat('%', #{ dcaBCopyEmploy.auditSuggestion} ,'%')</if>
</select>

</mapper>