<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.dcacopy.dao.DcaBCopyTeacherqualifyMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="cc.mrbird.febs.dcacopy.entity.DcaBCopyTeacherqualify">
                    <id column="id" property="id"/>
                    <result column="dca_year" property="dcaYear"/>
            <result column="gwdj" property="gwdj"/>
                    <result column="file_id" property="fileId"/>
                    <result column="display_index" property="displayIndex"/>
                    <result column="file_url" property="fileUrl"/>
                    <result column="user_account_name" property="userAccountName"/>
                    <result column="user_account" property="userAccount"/>
                    <result column="tq_code" property="tqCode"/>
                    <result column="tq_receive_date" property="tqReceiveDate"/>
                    <result column="state" property="state"/>
                    <result column="IS_DELETEMARK" property="isDeletemark"/>
                    <result column="CREATE_TIME" property="createTime"/>
                    <result column="MODIFY_TIME" property="modifyTime"/>
                    <result column="CREATE_USER_ID" property="createUserId"/>
                    <result column="MODIFY_USER_ID" property="modifyUserId"/>
                    <result column="auditMan" property="auditMan"/>
                    <result column="auditManName" property="auditManName"/>
                    <result column="auditDate" property="auditDate"/>
                    <result column="auditSuggestion" property="auditSuggestion"/>
                    <result column="IsUse" property="IsUse"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        id,   dca_year, gwdj, file_id, display_index, file_url, user_account_name, user_account, tq_code, tq_receive_date, state, IS_DELETEMARK, CREATE_TIME, MODIFY_TIME, CREATE_USER_ID, MODIFY_USER_ID, auditMan, auditManName, auditDate, auditSuggestion, IsUse
    </sql>
    <update id="updateDcaBCopyTeacherqualify" parameterType="cc.mrbird.febs.dcacopy.entity.DcaBCopyTeacherqualify">
        update dca_b_copy_teacherqualify
        <trim prefix="set" suffixOverrides=",">
<if test="dcaYear != null">dca_year=#{dcaYear},</if>
<if test="fileId != null">file_id=#{fileId},</if>
<if test="displayIndex != null">display_index=#{displayIndex},</if>
<if test="fileUrl != null">file_url=#{fileUrl},</if>
<if test="userAccountName != null">user_account_name=#{userAccountName},</if>
<if test="userAccount != null">user_account=#{userAccount},</if>
<if test="tqCode != null">tq_code=#{tqCode},</if>
<if test="tqReceiveDate != null">tq_receive_date=#{tqReceiveDate},</if>
<if test="state != null">state=#{state},</if>
<if test="isDeletemark != null">IS_DELETEMARK=#{isDeletemark},</if>
<if test="createTime != null">CREATE_TIME=#{createTime},</if>
<if test="modifyTime != null">MODIFY_TIME=#{modifyTime},</if>
<if test="createUserId != null">CREATE_USER_ID=#{createUserId},</if>
<if test="modifyUserId != null">MODIFY_USER_ID=#{modifyUserId},</if>
<if test="auditMan != null">auditMan=#{auditMan},</if>
<if test="auditManName != null">auditManName=#{auditManName},</if>
<if test="auditDate != null">auditDate=#{auditDate},</if>
<if test="auditSuggestion != null">auditSuggestion=#{auditSuggestion},</if>
<if test="IsUse != null">IsUse=#{IsUse},</if>
        </trim>
                where id=#{id}

    </update>
    <select id="findDcaBCopyTeacherqualify" resultType="cc.mrbird.febs.dcacopy.entity.DcaBCopyTeacherqualify" parameterType="cc.mrbird.febs.dcacopy.entity.DcaBCopyTeacherqualify">
        select  *  from dca_b_copy_teacherqualify
        where  1=1
            <if test="dcaBCopyTeacherqualify.id != null and dcaBCopyTeacherqualify.id != ''"> and dcaBCopyTeacherqualify.id =#{ dcaBCopyTeacherqualify.id} </if>
            <if test="dcaBCopyTeacherqualify.dcaYear != null and dcaBCopyTeacherqualify.dcaYear != ''"> and dcaBCopyTeacherqualify.dca_year like concat('%', #{ dcaBCopyTeacherqualify.dcaYear} ,'%')</if>
            <if test="dcaBCopyTeacherqualify.fileId != null and dcaBCopyTeacherqualify.fileId != ''"> and dcaBCopyTeacherqualify.file_id like concat('%', #{ dcaBCopyTeacherqualify.fileId} ,'%')</if>
        <if test="dcaBCopyTeacherqualify.displayIndex != null"> and dcaBCopyTeacherqualify.display_index =#{ dcaBCopyTeacherqualify.displayIndex} </if>
            <if test="dcaBCopyTeacherqualify.fileUrl != null and dcaBCopyTeacherqualify.fileUrl != ''"> and dcaBCopyTeacherqualify.file_url like concat('%', #{ dcaBCopyTeacherqualify.fileUrl} ,'%')</if>
            <if test="dcaBCopyTeacherqualify.userAccountName != null and dcaBCopyTeacherqualify.userAccountName != ''"> and dcaBCopyTeacherqualify.user_account_name like concat('%', #{ dcaBCopyTeacherqualify.userAccountName} ,'%')</if>
            <if test="dcaBCopyTeacherqualify.userAccount != null and dcaBCopyTeacherqualify.userAccount != ''"> and dcaBCopyTeacherqualify.user_account like concat('%', #{ dcaBCopyTeacherqualify.userAccount} ,'%')</if>
            <if test="dcaBCopyTeacherqualify.tqCode != null and dcaBCopyTeacherqualify.tqCode != ''"> and dcaBCopyTeacherqualify.tq_code like concat('%', #{ dcaBCopyTeacherqualify.tqCode} ,'%')</if>
        <if test="dcaBCopyTeacherqualify.tqReceiveDateFrom!= null">
            AND dcaBCopyTeacherqualify.tq_receive_date <![CDATA[ >= ]]>  #{dcaBCopyTeacherqualify.tqReceiveDateFrom}
        </if>
        <if test="dcaBCopyTeacherqualify.tqReceiveDateTo!= null">
            AND dcaBCopyTeacherqualify.tq_receive_date <![CDATA[ <= ]]>  #{dcaBCopyTeacherqualify.tqReceiveDateTo}
        </if>
        <if test="dcaBCopyTeacherqualify.state != null"> and dcaBCopyTeacherqualify.state =#{ dcaBCopyTeacherqualify.state} </if>
        <if test="dcaBCopyTeacherqualify.isDeletemark != null"> and dcaBCopyTeacherqualify.IS_DELETEMARK =#{ dcaBCopyTeacherqualify.isDeletemark} </if>
        <if test="dcaBCopyTeacherqualify.createTimeFrom!= null">
            AND dcaBCopyTeacherqualify.CREATE_TIME <![CDATA[ >= ]]>  #{dcaBCopyTeacherqualify.createTimeFrom}
        </if>
        <if test="dcaBCopyTeacherqualify.createTimeTo!= null">
            AND dcaBCopyTeacherqualify.CREATE_TIME <![CDATA[ <= ]]>  #{dcaBCopyTeacherqualify.createTimeTo}
        </if>
        <if test="dcaBCopyTeacherqualify.modifyTimeFrom!= null">
            AND dcaBCopyTeacherqualify.MODIFY_TIME <![CDATA[ >= ]]>  #{dcaBCopyTeacherqualify.modifyTimeFrom}
        </if>
        <if test="dcaBCopyTeacherqualify.modifyTimeTo!= null">
            AND dcaBCopyTeacherqualify.MODIFY_TIME <![CDATA[ <= ]]>  #{dcaBCopyTeacherqualify.modifyTimeTo}
        </if>
            <if test="dcaBCopyTeacherqualify.auditMan != null and dcaBCopyTeacherqualify.auditMan != ''"> and dcaBCopyTeacherqualify.auditMan like concat('%', #{ dcaBCopyTeacherqualify.auditMan} ,'%')</if>
            <if test="dcaBCopyTeacherqualify.auditManName != null and dcaBCopyTeacherqualify.auditManName != ''"> and dcaBCopyTeacherqualify.auditManName like concat('%', #{ dcaBCopyTeacherqualify.auditManName} ,'%')</if>
        <if test="dcaBCopyTeacherqualify.auditDateFrom!= null">
            AND dcaBCopyTeacherqualify.auditDate <![CDATA[ >= ]]>  #{dcaBCopyTeacherqualify.auditDateFrom}
        </if>
        <if test="dcaBCopyTeacherqualify.auditDateTo!= null">
            AND dcaBCopyTeacherqualify.auditDate <![CDATA[ <= ]]>  #{dcaBCopyTeacherqualify.auditDateTo}
        </if>
            <if test="dcaBCopyTeacherqualify.auditSuggestion != null and dcaBCopyTeacherqualify.auditSuggestion != ''"> and dcaBCopyTeacherqualify.auditSuggestion like concat('%', #{ dcaBCopyTeacherqualify.auditSuggestion} ,'%')</if>
</select>

</mapper>