<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.dcacopy.dao.DcaBCopyYoungprizeMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="cc.mrbird.febs.dcacopy.entity.DcaBCopyYoungprize">
                    <id column="id" property="id"/>
                    <result column="dca_year" property="dcaYear"/>
            <result column="gwdj" property="gwdj"/>
                    <result column="file_id" property="fileId"/>
                    <result column="display_index" property="displayIndex"/>
                    <result column="file_url" property="fileUrl"/>
                    <result column="user_account_name" property="userAccountName"/>
                    <result column="user_account" property="userAccount"/>
                    <result column="prize_name" property="prizeName"/>
                    <result column="prize_jb" property="prizeJb"/>
                    <result column="prize_grade" property="prizeGrade"/>
                    <result column="ranknum" property="ranknum"/>
                    <result column="prize_date" property="prizeDate"/>
                    <result column="state" property="state"/>
                    <result column="IS_DELETEMARK" property="isDeletemark"/>
                    <result column="CREATE_TIME" property="createTime"/>
                    <result column="MODIFY_TIME" property="modifyTime"/>
                    <result column="CREATE_USER_ID" property="createUserId"/>
                    <result column="MODIFY_USER_ID" property="modifyUserId"/>
                    <result column="auditMan" property="auditMan"/>
                    <result column="auditManName" property="auditManName"/>
                    <result column="auditDate" property="auditDate"/>
                    <result column="auditSuggestion" property="auditSuggestion"/>
                    <result column="IsUse" property="IsUse"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        id,   dca_year, gwdj, file_id, display_index, file_url, user_account_name, user_account, prize_name, prize_jb, prize_grade, ranknum, prize_date, state, IS_DELETEMARK, CREATE_TIME, MODIFY_TIME, CREATE_USER_ID, MODIFY_USER_ID, auditMan, auditManName, auditDate, auditSuggestion, IsUse
    </sql>
    <update id="updateDcaBCopyYoungprize" parameterType="cc.mrbird.febs.dcacopy.entity.DcaBCopyYoungprize">
        update dca_b_copy_youngprize
        <trim prefix="set" suffixOverrides=",">
<if test="dcaYear != null">dca_year=#{dcaYear},</if>
<if test="fileId != null">file_id=#{fileId},</if>
<if test="displayIndex != null">display_index=#{displayIndex},</if>
<if test="fileUrl != null">file_url=#{fileUrl},</if>
<if test="userAccountName != null">user_account_name=#{userAccountName},</if>
<if test="userAccount != null">user_account=#{userAccount},</if>
<if test="prizeName != null">prize_name=#{prizeName},</if>
<if test="prizeJb != null">prize_jb=#{prizeJb},</if>
<if test="prizeGrade != null">prize_grade=#{prizeGrade},</if>
<if test="ranknum != null">ranknum=#{ranknum},</if>
<if test="prizeDate != null">prize_date=#{prizeDate},</if>
<if test="state != null">state=#{state},</if>
<if test="isDeletemark != null">IS_DELETEMARK=#{isDeletemark},</if>
<if test="createTime != null">CREATE_TIME=#{createTime},</if>
<if test="modifyTime != null">MODIFY_TIME=#{modifyTime},</if>
<if test="createUserId != null">CREATE_USER_ID=#{createUserId},</if>
<if test="modifyUserId != null">MODIFY_USER_ID=#{modifyUserId},</if>
<if test="auditMan != null">auditMan=#{auditMan},</if>
<if test="auditManName != null">auditManName=#{auditManName},</if>
<if test="auditDate != null">auditDate=#{auditDate},</if>
<if test="auditSuggestion != null">auditSuggestion=#{auditSuggestion},</if>
<if test="IsUse != null">IsUse=#{IsUse},</if>
        </trim>
                where id=#{id}

    </update>
    <select id="findDcaBCopyYoungprize" resultType="cc.mrbird.febs.dcacopy.entity.DcaBCopyYoungprize" parameterType="cc.mrbird.febs.dcacopy.entity.DcaBCopyYoungprize">
        select  *  from dca_b_copy_youngprize
        where  1=1
            <if test="dcaBCopyYoungprize.id != null and dcaBCopyYoungprize.id != ''"> and dcaBCopyYoungprize.id =#{ dcaBCopyYoungprize.id} </if>
            <if test="dcaBCopyYoungprize.dcaYear != null and dcaBCopyYoungprize.dcaYear != ''"> and dcaBCopyYoungprize.dca_year like concat('%', #{ dcaBCopyYoungprize.dcaYear} ,'%')</if>
            <if test="dcaBCopyYoungprize.fileId != null and dcaBCopyYoungprize.fileId != ''"> and dcaBCopyYoungprize.file_id like concat('%', #{ dcaBCopyYoungprize.fileId} ,'%')</if>
        <if test="dcaBCopyYoungprize.displayIndex != null"> and dcaBCopyYoungprize.display_index =#{ dcaBCopyYoungprize.displayIndex} </if>
            <if test="dcaBCopyYoungprize.fileUrl != null and dcaBCopyYoungprize.fileUrl != ''"> and dcaBCopyYoungprize.file_url like concat('%', #{ dcaBCopyYoungprize.fileUrl} ,'%')</if>
            <if test="dcaBCopyYoungprize.userAccountName != null and dcaBCopyYoungprize.userAccountName != ''"> and dcaBCopyYoungprize.user_account_name like concat('%', #{ dcaBCopyYoungprize.userAccountName} ,'%')</if>
            <if test="dcaBCopyYoungprize.userAccount != null and dcaBCopyYoungprize.userAccount != ''"> and dcaBCopyYoungprize.user_account like concat('%', #{ dcaBCopyYoungprize.userAccount} ,'%')</if>
            <if test="dcaBCopyYoungprize.prizeName != null and dcaBCopyYoungprize.prizeName != ''"> and dcaBCopyYoungprize.prize_name like concat('%', #{ dcaBCopyYoungprize.prizeName} ,'%')</if>
            <if test="dcaBCopyYoungprize.prizeJb != null and dcaBCopyYoungprize.prizeJb != ''"> and dcaBCopyYoungprize.prize_jb like concat('%', #{ dcaBCopyYoungprize.prizeJb} ,'%')</if>
            <if test="dcaBCopyYoungprize.prizeGrade != null and dcaBCopyYoungprize.prizeGrade != ''"> and dcaBCopyYoungprize.prize_grade like concat('%', #{ dcaBCopyYoungprize.prizeGrade} ,'%')</if>
            <if test="dcaBCopyYoungprize.ranknum != null and dcaBCopyYoungprize.ranknum != ''"> and dcaBCopyYoungprize.ranknum like concat('%', #{ dcaBCopyYoungprize.ranknum} ,'%')</if>
        <if test="dcaBCopyYoungprize.prizeDateFrom!= null">
            AND dcaBCopyYoungprize.prize_date <![CDATA[ >= ]]>  #{dcaBCopyYoungprize.prizeDateFrom}
        </if>
        <if test="dcaBCopyYoungprize.prizeDateTo!= null">
            AND dcaBCopyYoungprize.prize_date <![CDATA[ <= ]]>  #{dcaBCopyYoungprize.prizeDateTo}
        </if>
        <if test="dcaBCopyYoungprize.state != null"> and dcaBCopyYoungprize.state =#{ dcaBCopyYoungprize.state} </if>
        <if test="dcaBCopyYoungprize.isDeletemark != null"> and dcaBCopyYoungprize.IS_DELETEMARK =#{ dcaBCopyYoungprize.isDeletemark} </if>
        <if test="dcaBCopyYoungprize.createTimeFrom!= null">
            AND dcaBCopyYoungprize.CREATE_TIME <![CDATA[ >= ]]>  #{dcaBCopyYoungprize.createTimeFrom}
        </if>
        <if test="dcaBCopyYoungprize.createTimeTo!= null">
            AND dcaBCopyYoungprize.CREATE_TIME <![CDATA[ <= ]]>  #{dcaBCopyYoungprize.createTimeTo}
        </if>
        <if test="dcaBCopyYoungprize.modifyTimeFrom!= null">
            AND dcaBCopyYoungprize.MODIFY_TIME <![CDATA[ >= ]]>  #{dcaBCopyYoungprize.modifyTimeFrom}
        </if>
        <if test="dcaBCopyYoungprize.modifyTimeTo!= null">
            AND dcaBCopyYoungprize.MODIFY_TIME <![CDATA[ <= ]]>  #{dcaBCopyYoungprize.modifyTimeTo}
        </if>
            <if test="dcaBCopyYoungprize.auditMan != null and dcaBCopyYoungprize.auditMan != ''"> and dcaBCopyYoungprize.auditMan like concat('%', #{ dcaBCopyYoungprize.auditMan} ,'%')</if>
            <if test="dcaBCopyYoungprize.auditManName != null and dcaBCopyYoungprize.auditManName != ''"> and dcaBCopyYoungprize.auditManName like concat('%', #{ dcaBCopyYoungprize.auditManName} ,'%')</if>
        <if test="dcaBCopyYoungprize.auditDateFrom!= null">
            AND dcaBCopyYoungprize.auditDate <![CDATA[ >= ]]>  #{dcaBCopyYoungprize.auditDateFrom}
        </if>
        <if test="dcaBCopyYoungprize.auditDateTo!= null">
            AND dcaBCopyYoungprize.auditDate <![CDATA[ <= ]]>  #{dcaBCopyYoungprize.auditDateTo}
        </if>
            <if test="dcaBCopyYoungprize.auditSuggestion != null and dcaBCopyYoungprize.auditSuggestion != ''"> and dcaBCopyYoungprize.auditSuggestion like concat('%', #{ dcaBCopyYoungprize.auditSuggestion} ,'%')</if>
</select>

</mapper>