<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.dcacopy.dao.DcaBCopyAuditfiveMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="cc.mrbird.febs.dcacopy.entity.DcaBCopyAuditfive">
                    <id column="id" property="id"/>
                    <result column="dca_year" property="dcaYear"/>
            <result column="gwdj" property="gwdj"/>
                    <result column="file_id" property="fileId"/>
                    <result column="khjg" property="khjg"/>
                    <result column="year" property="year"/>
                    <result column="display_index" property="displayIndex"/>
                    <result column="file_url" property="fileUrl"/>
                    <result column="user_account_name" property="userAccountName"/>
                    <result column="user_account" property="userAccount"/>
                    <result column="ad_content" property="adContent"/>
                    <result column="state" property="state"/>
                    <result column="IS_DELETEMARK" property="isDeletemark"/>
                    <result column="CREATE_TIME" property="createTime"/>
                    <result column="MODIFY_TIME" property="modifyTime"/>
                    <result column="CREATE_USER_ID" property="createUserId"/>
                    <result column="MODIFY_USER_ID" property="modifyUserId"/>
                    <result column="auditMan" property="auditMan"/>
                    <result column="auditManName" property="auditManName"/>
                    <result column="auditDate" property="auditDate"/>
                    <result column="auditSuggestion" property="auditSuggestion"/>
                    <result column="IsUse" property="IsUse"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        id,   dca_year, gwdj, file_id, khjg, year, display_index, file_url, user_account_name, user_account, ad_content, state, IS_DELETEMARK, CREATE_TIME, MODIFY_TIME, CREATE_USER_ID, MODIFY_USER_ID, auditMan, auditManName, auditDate, auditSuggestion, IsUse
    </sql>
    <update id="updateDcaBCopyAuditfive" parameterType="cc.mrbird.febs.dcacopy.entity.DcaBCopyAuditfive">
        update dca_b_copy_auditfive
        <trim prefix="set" suffixOverrides=",">
<if test="dcaYear != null">dca_year=#{dcaYear},</if>
<if test="fileId != null">file_id=#{fileId},</if>
<if test="khjg != null">khjg=#{khjg},</if>
<if test="year != null">year=#{year},</if>
<if test="displayIndex != null">display_index=#{displayIndex},</if>
<if test="fileUrl != null">file_url=#{fileUrl},</if>
<if test="userAccountName != null">user_account_name=#{userAccountName},</if>
<if test="userAccount != null">user_account=#{userAccount},</if>
<if test="adContent != null">ad_content=#{adContent},</if>
<if test="state != null">state=#{state},</if>
<if test="isDeletemark != null">IS_DELETEMARK=#{isDeletemark},</if>
<if test="createTime != null">CREATE_TIME=#{createTime},</if>
<if test="modifyTime != null">MODIFY_TIME=#{modifyTime},</if>
<if test="createUserId != null">CREATE_USER_ID=#{createUserId},</if>
<if test="modifyUserId != null">MODIFY_USER_ID=#{modifyUserId},</if>
<if test="auditMan != null">auditMan=#{auditMan},</if>
<if test="auditManName != null">auditManName=#{auditManName},</if>
<if test="auditDate != null">auditDate=#{auditDate},</if>
<if test="auditSuggestion != null">auditSuggestion=#{auditSuggestion},</if>
<if test="IsUse != null">IsUse=#{IsUse},</if>
        </trim>
                where id=#{id}

    </update>
    <select id="findDcaBCopyAuditfive" resultType="cc.mrbird.febs.dcacopy.entity.DcaBCopyAuditfive" parameterType="cc.mrbird.febs.dcacopy.entity.DcaBCopyAuditfive">
        select  *  from dca_b_copy_auditfive
        where  1=1
            <if test="dcaBCopyAuditfive.id != null and dcaBCopyAuditfive.id != ''"> and dcaBCopyAuditfive.id =#{ dcaBCopyAuditfive.id} </if>
            <if test="dcaBCopyAuditfive.dcaYear != null and dcaBCopyAuditfive.dcaYear != ''"> and dcaBCopyAuditfive.dca_year like concat('%', #{ dcaBCopyAuditfive.dcaYear} ,'%')</if>
            <if test="dcaBCopyAuditfive.fileId != null and dcaBCopyAuditfive.fileId != ''"> and dcaBCopyAuditfive.file_id like concat('%', #{ dcaBCopyAuditfive.fileId} ,'%')</if>
            <if test="dcaBCopyAuditfive.khjg != null and dcaBCopyAuditfive.khjg != ''"> and dcaBCopyAuditfive.khjg like concat('%', #{ dcaBCopyAuditfive.khjg} ,'%')</if>
            <if test="dcaBCopyAuditfive.year != null and dcaBCopyAuditfive.year != ''"> and dcaBCopyAuditfive.year like concat('%', #{ dcaBCopyAuditfive.year} ,'%')</if>
        <if test="dcaBCopyAuditfive.displayIndex != null"> and dcaBCopyAuditfive.display_index =#{ dcaBCopyAuditfive.displayIndex} </if>
            <if test="dcaBCopyAuditfive.fileUrl != null and dcaBCopyAuditfive.fileUrl != ''"> and dcaBCopyAuditfive.file_url like concat('%', #{ dcaBCopyAuditfive.fileUrl} ,'%')</if>
            <if test="dcaBCopyAuditfive.userAccountName != null and dcaBCopyAuditfive.userAccountName != ''"> and dcaBCopyAuditfive.user_account_name like concat('%', #{ dcaBCopyAuditfive.userAccountName} ,'%')</if>
            <if test="dcaBCopyAuditfive.userAccount != null and dcaBCopyAuditfive.userAccount != ''"> and dcaBCopyAuditfive.user_account like concat('%', #{ dcaBCopyAuditfive.userAccount} ,'%')</if>
            <if test="dcaBCopyAuditfive.adContent != null and dcaBCopyAuditfive.adContent != ''"> and dcaBCopyAuditfive.ad_content like concat('%', #{ dcaBCopyAuditfive.adContent} ,'%')</if>
        <if test="dcaBCopyAuditfive.state != null"> and dcaBCopyAuditfive.state =#{ dcaBCopyAuditfive.state} </if>
        <if test="dcaBCopyAuditfive.isDeletemark != null"> and dcaBCopyAuditfive.IS_DELETEMARK =#{ dcaBCopyAuditfive.isDeletemark} </if>
        <if test="dcaBCopyAuditfive.createTimeFrom!= null">
            AND dcaBCopyAuditfive.CREATE_TIME <![CDATA[ >= ]]>  #{dcaBCopyAuditfive.createTimeFrom}
        </if>
        <if test="dcaBCopyAuditfive.createTimeTo!= null">
            AND dcaBCopyAuditfive.CREATE_TIME <![CDATA[ <= ]]>  #{dcaBCopyAuditfive.createTimeTo}
        </if>
        <if test="dcaBCopyAuditfive.modifyTimeFrom!= null">
            AND dcaBCopyAuditfive.MODIFY_TIME <![CDATA[ >= ]]>  #{dcaBCopyAuditfive.modifyTimeFrom}
        </if>
        <if test="dcaBCopyAuditfive.modifyTimeTo!= null">
            AND dcaBCopyAuditfive.MODIFY_TIME <![CDATA[ <= ]]>  #{dcaBCopyAuditfive.modifyTimeTo}
        </if>
            <if test="dcaBCopyAuditfive.auditMan != null and dcaBCopyAuditfive.auditMan != ''"> and dcaBCopyAuditfive.auditMan like concat('%', #{ dcaBCopyAuditfive.auditMan} ,'%')</if>
            <if test="dcaBCopyAuditfive.auditManName != null and dcaBCopyAuditfive.auditManName != ''"> and dcaBCopyAuditfive.auditManName like concat('%', #{ dcaBCopyAuditfive.auditManName} ,'%')</if>
        <if test="dcaBCopyAuditfive.auditDateFrom!= null">
            AND dcaBCopyAuditfive.auditDate <![CDATA[ >= ]]>  #{dcaBCopyAuditfive.auditDateFrom}
        </if>
        <if test="dcaBCopyAuditfive.auditDateTo!= null">
            AND dcaBCopyAuditfive.auditDate <![CDATA[ <= ]]>  #{dcaBCopyAuditfive.auditDateTo}
        </if>
            <if test="dcaBCopyAuditfive.auditSuggestion != null and dcaBCopyAuditfive.auditSuggestion != ''"> and dcaBCopyAuditfive.auditSuggestion like concat('%', #{ dcaBCopyAuditfive.auditSuggestion} ,'%')</if>
</select>

</mapper>