<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.dcacopy.dao.DcaBCopyTurtorMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="cc.mrbird.febs.dcacopy.entity.DcaBCopyTurtor">
                    <id column="id" property="id"/>
                    <result column="dca_year" property="dcaYear"/>
            <result column="gwdj" property="gwdj"/>
                    <result column="file_id" property="fileId"/>
                    <result column="file_url" property="fileUrl"/>
                    <result column="user_account_name" property="userAccountName"/>
                    <result column="user_account" property="userAccount"/>
                    <result column="turtor_main" property="turtorMain"/>
                    <result column="tutor_content" property="tutorContent"/>
                    <result column="state" property="state"/>
                    <result column="IS_DELETEMARK" property="isDeletemark"/>
                    <result column="CREATE_TIME" property="createTime"/>
                    <result column="MODIFY_TIME" property="modifyTime"/>
                    <result column="CREATE_USER_ID" property="createUserId"/>
                    <result column="MODIFY_USER_ID" property="modifyUserId"/>
                    <result column="auditMan" property="auditMan"/>
                    <result column="auditManName" property="auditManName"/>
                    <result column="auditDate" property="auditDate"/>
                    <result column="auditSuggestion" property="auditSuggestion"/>
                    <result column="IsUse" property="IsUse"/>
                    <result column="display_index" property="displayIndex"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        id,   dca_year, gwdj, file_id, file_url, user_account_name, user_account, turtor_main, tutor_content, state, IS_DELETEMARK, CREATE_TIME, MODIFY_TIME, CREATE_USER_ID, MODIFY_USER_ID, auditMan, auditManName, auditDate, auditSuggestion, IsUse, display_index
    </sql>
    <update id="updateDcaBCopyTurtor" parameterType="cc.mrbird.febs.dcacopy.entity.DcaBCopyTurtor">
        update dca_b_copy_turtor
        <trim prefix="set" suffixOverrides=",">
<if test="dcaYear != null">dca_year=#{dcaYear},</if>
<if test="fileId != null">file_id=#{fileId},</if>
<if test="fileUrl != null">file_url=#{fileUrl},</if>
<if test="userAccountName != null">user_account_name=#{userAccountName},</if>
<if test="userAccount != null">user_account=#{userAccount},</if>
<if test="turtorMain != null">turtor_main=#{turtorMain},</if>
<if test="tutorContent != null">tutor_content=#{tutorContent},</if>
<if test="state != null">state=#{state},</if>
<if test="isDeletemark != null">IS_DELETEMARK=#{isDeletemark},</if>
<if test="createTime != null">CREATE_TIME=#{createTime},</if>
<if test="modifyTime != null">MODIFY_TIME=#{modifyTime},</if>
<if test="createUserId != null">CREATE_USER_ID=#{createUserId},</if>
<if test="modifyUserId != null">MODIFY_USER_ID=#{modifyUserId},</if>
<if test="auditMan != null">auditMan=#{auditMan},</if>
<if test="auditManName != null">auditManName=#{auditManName},</if>
<if test="auditDate != null">auditDate=#{auditDate},</if>
<if test="auditSuggestion != null">auditSuggestion=#{auditSuggestion},</if>
<if test="IsUse != null">IsUse=#{IsUse},</if>
<if test="displayIndex != null">display_index=#{displayIndex},</if>
        </trim>
                where id=#{id}

    </update>
    <select id="findDcaBCopyTurtor" resultType="cc.mrbird.febs.dcacopy.entity.DcaBCopyTurtor" parameterType="cc.mrbird.febs.dcacopy.entity.DcaBCopyTurtor">
        select  *  from dca_b_copy_turtor
        where  1=1
            <if test="dcaBCopyTurtor.id != null and dcaBCopyTurtor.id != ''"> and dcaBCopyTurtor.id =#{ dcaBCopyTurtor.id} </if>
            <if test="dcaBCopyTurtor.dcaYear != null and dcaBCopyTurtor.dcaYear != ''"> and dcaBCopyTurtor.dca_year like concat('%', #{ dcaBCopyTurtor.dcaYear} ,'%')</if>
            <if test="dcaBCopyTurtor.fileId != null and dcaBCopyTurtor.fileId != ''"> and dcaBCopyTurtor.file_id like concat('%', #{ dcaBCopyTurtor.fileId} ,'%')</if>
            <if test="dcaBCopyTurtor.fileUrl != null and dcaBCopyTurtor.fileUrl != ''"> and dcaBCopyTurtor.file_url like concat('%', #{ dcaBCopyTurtor.fileUrl} ,'%')</if>
            <if test="dcaBCopyTurtor.userAccountName != null and dcaBCopyTurtor.userAccountName != ''"> and dcaBCopyTurtor.user_account_name like concat('%', #{ dcaBCopyTurtor.userAccountName} ,'%')</if>
            <if test="dcaBCopyTurtor.userAccount != null and dcaBCopyTurtor.userAccount != ''"> and dcaBCopyTurtor.user_account like concat('%', #{ dcaBCopyTurtor.userAccount} ,'%')</if>
            <if test="dcaBCopyTurtor.turtorMain != null and dcaBCopyTurtor.turtorMain != ''"> and dcaBCopyTurtor.turtor_main like concat('%', #{ dcaBCopyTurtor.turtorMain} ,'%')</if>
            <if test="dcaBCopyTurtor.tutorContent != null and dcaBCopyTurtor.tutorContent != ''"> and dcaBCopyTurtor.tutor_content like concat('%', #{ dcaBCopyTurtor.tutorContent} ,'%')</if>
        <if test="dcaBCopyTurtor.state != null"> and dcaBCopyTurtor.state =#{ dcaBCopyTurtor.state} </if>
        <if test="dcaBCopyTurtor.isDeletemark != null"> and dcaBCopyTurtor.IS_DELETEMARK =#{ dcaBCopyTurtor.isDeletemark} </if>
        <if test="dcaBCopyTurtor.createTimeFrom!= null">
            AND dcaBCopyTurtor.CREATE_TIME <![CDATA[ >= ]]>  #{dcaBCopyTurtor.createTimeFrom}
        </if>
        <if test="dcaBCopyTurtor.createTimeTo!= null">
            AND dcaBCopyTurtor.CREATE_TIME <![CDATA[ <= ]]>  #{dcaBCopyTurtor.createTimeTo}
        </if>
        <if test="dcaBCopyTurtor.modifyTimeFrom!= null">
            AND dcaBCopyTurtor.MODIFY_TIME <![CDATA[ >= ]]>  #{dcaBCopyTurtor.modifyTimeFrom}
        </if>
        <if test="dcaBCopyTurtor.modifyTimeTo!= null">
            AND dcaBCopyTurtor.MODIFY_TIME <![CDATA[ <= ]]>  #{dcaBCopyTurtor.modifyTimeTo}
        </if>
            <if test="dcaBCopyTurtor.auditMan != null and dcaBCopyTurtor.auditMan != ''"> and dcaBCopyTurtor.auditMan like concat('%', #{ dcaBCopyTurtor.auditMan} ,'%')</if>
            <if test="dcaBCopyTurtor.auditManName != null and dcaBCopyTurtor.auditManName != ''"> and dcaBCopyTurtor.auditManName like concat('%', #{ dcaBCopyTurtor.auditManName} ,'%')</if>
        <if test="dcaBCopyTurtor.auditDateFrom!= null">
            AND dcaBCopyTurtor.auditDate <![CDATA[ >= ]]>  #{dcaBCopyTurtor.auditDateFrom}
        </if>
        <if test="dcaBCopyTurtor.auditDateTo!= null">
            AND dcaBCopyTurtor.auditDate <![CDATA[ <= ]]>  #{dcaBCopyTurtor.auditDateTo}
        </if>
            <if test="dcaBCopyTurtor.auditSuggestion != null and dcaBCopyTurtor.auditSuggestion != ''"> and dcaBCopyTurtor.auditSuggestion like concat('%', #{ dcaBCopyTurtor.auditSuggestion} ,'%')</if>
        <if test="dcaBCopyTurtor.displayIndex != null"> and dcaBCopyTurtor.display_index =#{ dcaBCopyTurtor.displayIndex} </if>
</select>

</mapper>