<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.dcacopy.dao.DcaBCopyPublicarticleMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="cc.mrbird.febs.dcacopy.entity.DcaBCopyPublicarticle">
                    <id column="id" property="id"/>
                    <result column="dca_year" property="dcaYear"/>
            <result column="gwdj" property="gwdj"/>
                    <result column="file_id" property="fileId"/>
                    <result column="display_index" property="displayIndex"/>
                    <result column="file_url" property="fileUrl"/>
                    <result column="user_account_name" property="userAccountName"/>
                    <result column="user_account" property="userAccount"/>
                    <result column="zzlx" property="zzlx"/>
                    <result column="zzmc" property="zzmc"/>
                    <result column="zzsf" property="zzsf"/>
                    <result column="cb_date" property="cbDate"/>
                    <result column="ranknum" property="ranknum"/>
                    <result column="printnum" property="printnum"/>
                    <result column="book_no" property="bookNo"/>
                    <result column="cbsmc" property="cbsmc"/>
                    <result column="bxzjmc" property="bxzjmc"/>
                    <result column="bxwzqzy" property="bxwzqzy"/>
                    <result column="bxwzzshj" property="bxwzzshj"/>
                    <result column="cdzs" property="cdzs"/>
                    <result column="audit_state" property="auditState"/>
                    <result column="state" property="state"/>
                    <result column="audit_xuhao" property="auditXuhao"/>
                    <result column="IS_DELETEMARK" property="isDeletemark"/>
                    <result column="CREATE_TIME" property="createTime"/>
                    <result column="MODIFY_TIME" property="modifyTime"/>
                    <result column="CREATE_USER_ID" property="createUserId"/>
                    <result column="MODIFY_USER_ID" property="modifyUserId"/>
                    <result column="auditMan" property="auditMan"/>
                    <result column="auditManName" property="auditManName"/>
                    <result column="auditDate" property="auditDate"/>
                    <result column="auditSuggestion" property="auditSuggestion"/>
                    <result column="IsUse" property="IsUse"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        id,   dca_year, gwdj, file_id, display_index, file_url, user_account_name, user_account, zzlx, zzmc, zzsf, cb_date, ranknum, printnum, book_no, cbsmc, bxzjmc, bxwzqzy, bxwzzshj, cdzs, audit_state, state, audit_xuhao, IS_DELETEMARK, CREATE_TIME, MODIFY_TIME, CREATE_USER_ID, MODIFY_USER_ID, auditMan, auditManName, auditDate, auditSuggestion, IsUse
    </sql>
    <update id="updateDcaBCopyPublicarticle" parameterType="cc.mrbird.febs.dcacopy.entity.DcaBCopyPublicarticle">
        update dca_b_copy_publicarticle
        <trim prefix="set" suffixOverrides=",">
<if test="dcaYear != null">dca_year=#{dcaYear},</if>
<if test="fileId != null">file_id=#{fileId},</if>
<if test="displayIndex != null">display_index=#{displayIndex},</if>
<if test="fileUrl != null">file_url=#{fileUrl},</if>
<if test="userAccountName != null">user_account_name=#{userAccountName},</if>
<if test="userAccount != null">user_account=#{userAccount},</if>
<if test="zzlx != null">zzlx=#{zzlx},</if>
<if test="zzmc != null">zzmc=#{zzmc},</if>
<if test="zzsf != null">zzsf=#{zzsf},</if>
<if test="cbDate != null">cb_date=#{cbDate},</if>
<if test="ranknum != null">ranknum=#{ranknum},</if>
<if test="printnum != null">printnum=#{printnum},</if>
<if test="bookNo != null">book_no=#{bookNo},</if>
<if test="cbsmc != null">cbsmc=#{cbsmc},</if>
<if test="bxzjmc != null">bxzjmc=#{bxzjmc},</if>
<if test="bxwzqzy != null">bxwzqzy=#{bxwzqzy},</if>
<if test="bxwzzshj != null">bxwzzshj=#{bxwzzshj},</if>
<if test="cdzs != null">cdzs=#{cdzs},</if>
<if test="auditState != null">audit_state=#{auditState},</if>
<if test="state != null">state=#{state},</if>
<if test="auditXuhao != null">audit_xuhao=#{auditXuhao},</if>
<if test="isDeletemark != null">IS_DELETEMARK=#{isDeletemark},</if>
<if test="createTime != null">CREATE_TIME=#{createTime},</if>
<if test="modifyTime != null">MODIFY_TIME=#{modifyTime},</if>
<if test="createUserId != null">CREATE_USER_ID=#{createUserId},</if>
<if test="modifyUserId != null">MODIFY_USER_ID=#{modifyUserId},</if>
<if test="auditMan != null">auditMan=#{auditMan},</if>
<if test="auditManName != null">auditManName=#{auditManName},</if>
<if test="auditDate != null">auditDate=#{auditDate},</if>
<if test="auditSuggestion != null">auditSuggestion=#{auditSuggestion},</if>
<if test="IsUse != null">IsUse=#{IsUse},</if>
        </trim>
                where id=#{id}

    </update>
    <select id="findDcaBCopyPublicarticle" resultType="cc.mrbird.febs.dcacopy.entity.DcaBCopyPublicarticle" parameterType="cc.mrbird.febs.dcacopy.entity.DcaBCopyPublicarticle">
        select  *  from dca_b_copy_publicarticle
        where  1=1
            <if test="dcaBCopyPublicarticle.id != null and dcaBCopyPublicarticle.id != ''"> and dcaBCopyPublicarticle.id =#{ dcaBCopyPublicarticle.id} </if>
            <if test="dcaBCopyPublicarticle.dcaYear != null and dcaBCopyPublicarticle.dcaYear != ''"> and dcaBCopyPublicarticle.dca_year like concat('%', #{ dcaBCopyPublicarticle.dcaYear} ,'%')</if>
            <if test="dcaBCopyPublicarticle.fileId != null and dcaBCopyPublicarticle.fileId != ''"> and dcaBCopyPublicarticle.file_id like concat('%', #{ dcaBCopyPublicarticle.fileId} ,'%')</if>
        <if test="dcaBCopyPublicarticle.displayIndex != null"> and dcaBCopyPublicarticle.display_index =#{ dcaBCopyPublicarticle.displayIndex} </if>
            <if test="dcaBCopyPublicarticle.fileUrl != null and dcaBCopyPublicarticle.fileUrl != ''"> and dcaBCopyPublicarticle.file_url like concat('%', #{ dcaBCopyPublicarticle.fileUrl} ,'%')</if>
            <if test="dcaBCopyPublicarticle.userAccountName != null and dcaBCopyPublicarticle.userAccountName != ''"> and dcaBCopyPublicarticle.user_account_name like concat('%', #{ dcaBCopyPublicarticle.userAccountName} ,'%')</if>
            <if test="dcaBCopyPublicarticle.userAccount != null and dcaBCopyPublicarticle.userAccount != ''"> and dcaBCopyPublicarticle.user_account like concat('%', #{ dcaBCopyPublicarticle.userAccount} ,'%')</if>
            <if test="dcaBCopyPublicarticle.zzlx != null and dcaBCopyPublicarticle.zzlx != ''"> and dcaBCopyPublicarticle.zzlx like concat('%', #{ dcaBCopyPublicarticle.zzlx} ,'%')</if>
            <if test="dcaBCopyPublicarticle.zzmc != null and dcaBCopyPublicarticle.zzmc != ''"> and dcaBCopyPublicarticle.zzmc like concat('%', #{ dcaBCopyPublicarticle.zzmc} ,'%')</if>
            <if test="dcaBCopyPublicarticle.zzsf != null and dcaBCopyPublicarticle.zzsf != ''"> and dcaBCopyPublicarticle.zzsf like concat('%', #{ dcaBCopyPublicarticle.zzsf} ,'%')</if>
        <if test="dcaBCopyPublicarticle.cbDateFrom!= null">
            AND dcaBCopyPublicarticle.cb_date <![CDATA[ >= ]]>  #{dcaBCopyPublicarticle.cbDateFrom}
        </if>
        <if test="dcaBCopyPublicarticle.cbDateTo!= null">
            AND dcaBCopyPublicarticle.cb_date <![CDATA[ <= ]]>  #{dcaBCopyPublicarticle.cbDateTo}
        </if>
        <if test="dcaBCopyPublicarticle.ranknum != null"> and dcaBCopyPublicarticle.ranknum =#{ dcaBCopyPublicarticle.ranknum} </if>
        <if test="dcaBCopyPublicarticle.printnum != null"> and dcaBCopyPublicarticle.printnum =#{ dcaBCopyPublicarticle.printnum} </if>
            <if test="dcaBCopyPublicarticle.bookNo != null and dcaBCopyPublicarticle.bookNo != ''"> and dcaBCopyPublicarticle.book_no like concat('%', #{ dcaBCopyPublicarticle.bookNo} ,'%')</if>
            <if test="dcaBCopyPublicarticle.cbsmc != null and dcaBCopyPublicarticle.cbsmc != ''"> and dcaBCopyPublicarticle.cbsmc like concat('%', #{ dcaBCopyPublicarticle.cbsmc} ,'%')</if>
            <if test="dcaBCopyPublicarticle.bxzjmc != null and dcaBCopyPublicarticle.bxzjmc != ''"> and dcaBCopyPublicarticle.bxzjmc like concat('%', #{ dcaBCopyPublicarticle.bxzjmc} ,'%')</if>
            <if test="dcaBCopyPublicarticle.bxwzqzy != null and dcaBCopyPublicarticle.bxwzqzy != ''"> and dcaBCopyPublicarticle.bxwzqzy like concat('%', #{ dcaBCopyPublicarticle.bxwzqzy} ,'%')</if>
        <if test="dcaBCopyPublicarticle.auditState != null"> and dcaBCopyPublicarticle.audit_state =#{ dcaBCopyPublicarticle.auditState} </if>
        <if test="dcaBCopyPublicarticle.state != null"> and dcaBCopyPublicarticle.state =#{ dcaBCopyPublicarticle.state} </if>
        <if test="dcaBCopyPublicarticle.auditXuhao != null"> and dcaBCopyPublicarticle.audit_xuhao =#{ dcaBCopyPublicarticle.auditXuhao} </if>
        <if test="dcaBCopyPublicarticle.isDeletemark != null"> and dcaBCopyPublicarticle.IS_DELETEMARK =#{ dcaBCopyPublicarticle.isDeletemark} </if>
        <if test="dcaBCopyPublicarticle.createTimeFrom!= null">
            AND dcaBCopyPublicarticle.CREATE_TIME <![CDATA[ >= ]]>  #{dcaBCopyPublicarticle.createTimeFrom}
        </if>
        <if test="dcaBCopyPublicarticle.createTimeTo!= null">
            AND dcaBCopyPublicarticle.CREATE_TIME <![CDATA[ <= ]]>  #{dcaBCopyPublicarticle.createTimeTo}
        </if>
        <if test="dcaBCopyPublicarticle.modifyTimeFrom!= null">
            AND dcaBCopyPublicarticle.MODIFY_TIME <![CDATA[ >= ]]>  #{dcaBCopyPublicarticle.modifyTimeFrom}
        </if>
        <if test="dcaBCopyPublicarticle.modifyTimeTo!= null">
            AND dcaBCopyPublicarticle.MODIFY_TIME <![CDATA[ <= ]]>  #{dcaBCopyPublicarticle.modifyTimeTo}
        </if>
            <if test="dcaBCopyPublicarticle.auditMan != null and dcaBCopyPublicarticle.auditMan != ''"> and dcaBCopyPublicarticle.auditMan like concat('%', #{ dcaBCopyPublicarticle.auditMan} ,'%')</if>
            <if test="dcaBCopyPublicarticle.auditManName != null and dcaBCopyPublicarticle.auditManName != ''"> and dcaBCopyPublicarticle.auditManName like concat('%', #{ dcaBCopyPublicarticle.auditManName} ,'%')</if>
        <if test="dcaBCopyPublicarticle.auditDateFrom!= null">
            AND dcaBCopyPublicarticle.auditDate <![CDATA[ >= ]]>  #{dcaBCopyPublicarticle.auditDateFrom}
        </if>
        <if test="dcaBCopyPublicarticle.auditDateTo!= null">
            AND dcaBCopyPublicarticle.auditDate <![CDATA[ <= ]]>  #{dcaBCopyPublicarticle.auditDateTo}
        </if>
            <if test="dcaBCopyPublicarticle.auditSuggestion != null and dcaBCopyPublicarticle.auditSuggestion != ''"> and dcaBCopyPublicarticle.auditSuggestion like concat('%', #{ dcaBCopyPublicarticle.auditSuggestion} ,'%')</if>
</select>

</mapper>